<mat-form-field appearance="fill" style="padding-right: 20px">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-select
      disableOptionCentering
      [value]="filter.selectedValues"
      (selectionChange)="onSelectionChange($event.value)"
      panelClass="example-panel"
      placeholder="{{ filter.name }}"
      multiple
    >
      <mat-option *ngFor="let value of translatedLabel" [value]="value.url">
        {{ value.translatedSystem }} ({{ value.count }})
      </mat-option>
    </mat-select>
  </div>
</mat-form-field>
