.criteria-box {
  padding: 2px;
}

.example-boundary {
  width: 400px;
  height: 400px;
  max-width: 100%;
  border: dotted #ccc 2px;
}

.header-title {
  width: 20%;
  font-size: large;
  color: rgba(95, 98, 102, 1);
}
