<div class="container-search-input">
  <div class="header-label">{{ 'DATASELECTION.DATASELECTION' | translate }}</div>
  <div fxLayout="row" fxLayoutAlign="space-evenly start">
    <div fxLayoutAlign="center">
      <button class="button-tree-view" type="button" mat-icon-button (click)="switchSearchMode()">
        <fa-icon size="2x" icon="folder"></fa-icon>
      </button>
    </div>
    <mat-form-field class="input-field" fxFlex="85">
      <mat-label>{{ 'DATASELECTION.SEARCH.LABEL' | translate }}</mat-label>
      <fa-icon matPrefix size="2x" icon="search"></fa-icon>
      <input matInput type="text" [(ngModel)]="search" />
      <button
        mat-button
        *ngIf="search"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="search = ''"
      >
        <fa-icon size="2x" icon="times"></fa-icon>
      </button>
    </mat-form-field>
  </div>
</div>
