<div *ngIf="filter" [@.disabled]="disableAnimation">
  <mat-expansion-panel togglePosition="before" [expanded]="!optional">
    <mat-expansion-panel-header>
      <ng-container *ngIf="filterType === 'attribute'">
        <mat-panel-title>
          {{ filter.attributeDefinition.attributeCode.display }}
          <span *ngIf="filter.attributeDefinition.optional">&nbsp;(optional)</span>:
        </mat-panel-title>
        <num-button
          type="primary"
          (click)="doSelectAllCheckboxes(); $event.stopPropagation()"
          fxLayoutAlign="end"
          [isDisabled]="resetButtonDisabled()"
          >{{ 'BUTTON.RESET' | translate }}
        </num-button>
      </ng-container>
      <ng-container *ngIf="filterType !== 'attribute'">
        <mat-panel-title>
          {{ 'QUERYBUILDER.EDIT.HEADER_FILTER_VALUE' | translate }}
          <span *ngIf="filter.valueDefinition.optional">&nbsp;(optional)</span> :
        </mat-panel-title>
        <num-button
          [type]="'primary'"
          fxLayoutAlign="end"
          (click)="resetQuantity(); $event.stopPropagation()"
          [isDisabled]="resetQuantityButtonDisabled()"
        >
          {{ 'BUTTON.RESET' | translate }}
        </num-button>
      </ng-container>
    </mat-expansion-panel-header>
    <ng-container *ngTemplateOutlet="valueFilterContent"></ng-container>
  </mat-expansion-panel>

  <ng-template #valueFilterContent>
    <div
      [ngClass]="
        filterType === 'attribute' && filter.attributeDefinition.optional
          ? 'value-filter-content'
          : 'value-filter-content-with-border'
      "
    >
      <!-- QUANTITY -->
      <div
        *ngIf="
          filter.type === OperatorOptions.QUANTITY_NOT_SET ||
          filter.type === OperatorOptions.QUANTITY_RANGE ||
          filter.type === OperatorOptions.QUANTITY_COMPARATOR
        "
      >
        <span
          *ngIf="filterType === 'value' && !filter.valueDefinition.optional"
          class="required-flag"
        >
          *
        </span>
        <span *ngIf="filterType === 'value' && !filter.valueDefinition.optional && !filter.display">
          {{ 'QUERYBUILDER.EDIT.HEADER_FILTER_QUANTITY' | translate }}
          <br /><br
        /></span>
        <span *ngIf="filterType === 'value' && filter.display">
          {{ filter.display }}: <br /><br
        /></span>

        <span
          *ngIf="filterType === 'attribute' && !filter.attributeDefinition.optional"
          class="required-flag"
        >
          *
        </span>
        <ng-container
          *ngIf="
            filterType === 'attribute' &&
            filter.attributeDefinition.attributeCode.display &&
            !filter.attributeDefinition.optional
          "
        >
          <span>{{ filter.attributeDefinition.attributeCode.display }}:</span>
          <br />
        </ng-container>
        <ng-container
          *ngIf="filterType === 'attribute' && !filter.attributeDefinition.attributeCode.display"
        >
          <span>{{ 'QUERYBUILDER.EDIT.HEADER_FILTER_QUANTITY' | translate }}</span>
          <br />
        </ng-container>

        <mat-form-field appearance="outline" *ngIf="filter?.unit" class="operator-part">
          <!--<mat-label>{{ 'QUERYBUILDER.EDIT.OPERATOR' | translate }}</mat-label>-->
          <mat-select #matOption [(value)]="quantityFilterOption">
            <mat-option
              *ngFor="let option of quantityFilterOptions"
              [value]="option"
              (click)="selectQuantityFilterOption(option)"
            >
              {{ 'QUERYBUILDER.EDIT.' + option | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          *ngIf="filter.type === OperatorOptions.QUANTITY_RANGE"
          class="min-part"
        >
          <mat-label>{{ 'QUERYBUILDER.EDIT.MIN' | translate }}</mat-label>
          <!--suppress HtmlFormInputWithoutLabel -->
          <input
            matInput
            type="number"
            (change)="resetQuantityDisabled = false"
            [(ngModel)]="filter.minValue"
            (blur)="roundMinValue()"
            numMatInputNumber
            [precision]="filter.precision"
            [min]="filter?.min"
            [max]="filter?.max"
          />
          <mat-hint *ngIf="valueTooSmall(filter.minValue)">{{
            'QUERYBUILDER.HINT.MINIMUM_EXCEEDED' | translate : { min: filter.min }
          }}</mat-hint>
          <mat-hint *ngIf="valueTooLarge(filter.minValue)">{{
            'QUERYBUILDER.HINT.MAXIMUM_EXCEEDED' | translate : { max: filter.max }
          }}</mat-hint>
        </mat-form-field>
        <span *ngIf="filter.type === OperatorOptions.QUANTITY_RANGE">{{
          'QUERYBUILDER.EDIT.AND' | translate
        }}</span>
        <mat-form-field
          appearance="outline"
          *ngIf="filter.type === OperatorOptions.QUANTITY_RANGE"
          class="max-part"
        >
          <mat-label>{{ 'QUERYBUILDER.EDIT.MAX' | translate }}</mat-label>
          <!--suppress HtmlFormInputWithoutLabel -->
          <input
            matInput
            type="number"
            (change)="resetQuantityDisabled = false"
            [(ngModel)]="filter.maxValue"
            (blur)="roundMaxValue()"
            numMatInputNumber
            [precision]="filter.precision"
          />
          <mat-hint *ngIf="valueTooSmall(filter.maxValue)">{{
            'QUERYBUILDER.HINT.MINIMUM_EXCEEDED' | translate : { min: filter.min }
          }}</mat-hint>
          <mat-hint *ngIf="valueTooLarge(filter.maxValue)">{{
            'QUERYBUILDER.HINT.MAXIMUM_EXCEEDED' | translate : { max: filter.max }
          }}</mat-hint>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          *ngIf="
            filter.type === OperatorOptions.QUANTITY_COMPARATOR && filter?.comparator !== 'none'
          "
          class="value-part"
        >
          <mat-label>{{ 'QUERYBUILDER.EDIT.VALUE' | translate }}</mat-label>
          <!--suppress HtmlFormInputWithoutLabel -->
          <input
            matInput
            type="number"
            (change)="resetQuantityDisabled = false"
            [(ngModel)]="filter.value"
            (blur)="roundValue()"
            numMatInputNumber
            [precision]="filter.precision"
          />
          <mat-hint *ngIf="valueTooSmall(filter.value)">{{
            'QUERYBUILDER.HINT.MINIMUM_EXCEEDED' | translate : { min: filter.min }
          }}</mat-hint>
          <mat-hint *ngIf="valueTooLarge(filter.value)">{{
            'QUERYBUILDER.HINT.MAXIMUM_EXCEEDED' | translate : { max: filter.max }
          }}</mat-hint>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          *ngIf="filter?.unit && filter?.comparator !== 'none'"
          class="unit-part"
        >
          <mat-label>{{ 'QUERYBUILDER.EDIT.UNIT' | translate }}</mat-label>
          <mat-select
            *ngIf="filterType === 'value'"
            [(value)]="filter.unit"
            [compareWith]="compareFunction"
          >
            <mat-option *ngFor="let unit of filter.valueDefinition?.allowedUnits" [value]="unit">
              {{ unit.display }}
            </mat-option>
          </mat-select>
          <mat-select
            *ngIf="filterType === 'attribute'"
            [(value)]="filter.unit"
            [compareWith]="compareFunction"
          >
            <mat-option
              *ngFor="let unit of filter.attributeDefinition?.allowedUnits"
              [value]="unit"
            >
              {{ unit.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-hint *ngIf="minimumSmallerMaximum()">{{
        'QUERYBUILDER.HINT.MINIMUM_GREATER_MAXIMUM' | translate
      }}</mat-hint>

      <!-- CONCEPT -->
      <div
        *ngIf="filter.type === OperatorOptions.CONCEPT || filter.type === OperatorOptions.REFERENCE"
      >
        <span
          *ngIf="filterType === 'value' && !filter.valueDefinition.optional"
          class="required-flag"
        >
          *
        </span>
        <span *ngIf="filterType === 'value' && !filter.valueDefinition.optional && !filter.display">
          {{ 'QUERYBUILDER.EDIT.HEADER_FILTER_CONCEPT_MANDATORY' | translate }}
          <br /><br
        /></span>
        <span *ngIf="filterType === 'value' && filter.display">
          {{ filter.display }}: <br /><br
        /></span>
        <span
          *ngIf="filterType === 'attribute' && !filter.attributeDefinition.optional"
          class="required-flag"
        >
          *
        </span>
        <span
          *ngIf="
            filterType === 'attribute' &&
            !filter.attributeDefinition.attributeCode.display &&
            filter.attributeDefinition.optional
          "
        >
          {{ 'QUERYBUILDER.EDIT.HEADER_FILTER_CONCEPT_OPTIONAL' | translate }}
        </span>
        <span
          *ngIf="
            filterType === 'attribute' &&
            !filter.attributeDefinition.attributeCode.display &&
            !filter.attributeDefinition.optional
          "
        >
          {{ 'QUERYBUILDER.EDIT.HEADER_FILTER_CONCEPT_MANDATORY' | translate }}
        </span>
        <ng-container
          *ngIf="
            filterType === 'attribute' &&
            filter.attributeDefinition.attributeCode.display &&
            !filter.attributeDefinition.optional
          "
        >
          <span>{{ filter.attributeDefinition.attributeCode.display }}:</span>
          <br />
        </ng-container>

        <div *ngIf="filterType === 'value'" class="concept-list">
          Hey
          <num-edit-value-filter-concept-line
            #checkboxes
            *ngFor="let concept of filter.valueDefinition?.selectableConcepts"
            [checked]="isSelected(concept)"
            [concept]="concept"
            (selectConcept)="doSelectConcept(concept)"
          >
          </num-edit-value-filter-concept-line>
        </div>
        <div *ngIf="filterType === 'attribute'" class="concept-list">
          <num-edit-value-filter-concept-line
            #checkboxes
            *ngFor="let concept of filter.attributeDefinition?.selectableConcepts"
            [checked]="isSelected(concept)"
            [concept]="concept"
            (selectConcept)="doSelectConcept(concept)"
          >
          </num-edit-value-filter-concept-line>
        </div>
        <mat-hint
          *ngIf="filterType === 'value' && !filter.valueDefinition.optional && noSelectedConcept()"
          >{{ 'QUERYBUILDER.HINT.NO_VALUE_SELECTED' | translate }}</mat-hint
        >
        <mat-hint
          *ngIf="
            filterType === 'attribut' && !filter.attributeDefinition.optional && noSelectedConcept()
          "
          >{{ 'QUERYBUILDER.HINT.NO_VALUE_SELECTED' | translate }}</mat-hint
        >
      </div>
    </div>
  </ng-template>
</div>
