mat-hint {
  color: red;
}

.concept-list {
  max-height: 8.1em;
  padding: 0.1em;
  margin-top: 5px;
  overflow-y: auto;
}

.unit-selection {
  width: 8em;
}

mat-form-field {
  padding: 1em;
}

.operator-part {
  width: 11em;
  padding: 0.5em 2.5em 0.5em 0;
}

.min-part,
.max-part,
.value-part {
  width: 7em;
  padding: 0.5em 1em;
}

.unit-part {
  width: 9em;
  padding: 0.5em 0 0.5em 1em;
}

.required-flag {
  color: red;
}

.value-filter-content-with-border {
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0px 3px 1px -2px var(--num-color--accent-200),
    0px 2px 2px 0px var(--num-color--accent-200), 0px 1px 5px 0px var(--num-color--accent-200) !important;
  border-radius: 5px;
}
mat-expansion-panel {
  margin-top: 1em;
  box-shadow: 0px 3px 1px -2px var(--num-color--accent-200),
    0px 2px 2px 0px var(--num-color--accent-200), 0px 1px 5px 0px var(--num-color--accent-200) !important;
}
.mat-expansion-panel-header-title {
  font-size: 16px;
  font-weight: normal;
}
.mat-expansion-panel-header {
  height: 48px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .operator-part .mat-form-field-infix {
  padding-top: 0.8em !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
::ng-deep .operator-part .mat-select-arrow-wrapper {
  transform: none !important;
}
::ng-deep num-edit-value-filter-concept-line label {
  font-weight: 400!important;
}
