<div fxFlexFill fxlayout="row" fxLayoutAlign="start" style="width: 600px">
  <div fxlayout="column" fxFlexFill fxFlex="42.5">
    <div class="title-header">{{ 'QUERYBUILDER.SEARCH.INCLUSION' | translate }}</div>
    <num-display-group
      id="Inclusion"
      style="width: 600px"
      cdkDropList
      numAppDropGroup
      groupType="Inclusion"
      [isEditable]="isEditable"
    >
    </num-display-group>
  </div>
  <div fxlayout="column" fxFlexFill fxFlex="42.5">
    <div class="title-header">{{ 'QUERYBUILDER.SEARCH.EXCLUSION' | translate }}</div>
    <num-display-group
      id="Exclusion"
      style="width: 600px"
      cdkDropList
      numAppDropGroup
      groupType="Exclusion"
      [isEditable]="isEditable"
    >
    </num-display-group>
  </div>
</div>
