.header-wrapper {
  width: 100%;
  font-size: 16px;
}

.query-group {
  padding: 0;
  border: 1px solid var(--num-color--primary);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: none !important;
}

.query-group mat-card-header {
  background: var(--num-color--accent-600);
  color: var(--num-color--accent-contrast);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  min-height: 3.5em;
}
.crit-group-spacer {
  background-color: var(--num-color--accent-600);
}

.header-display {
  height: 3em;
}

.button-space {
  height: 100%;

  padding: 1em 0.5em;
  cursor: pointer;
}

.header-cancel-button:hover,
.button-space:hover {
  background-color: var(--num-color--accent-200);
}

/*TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card-content {
  /*margin: 0 0.5em 0 0;*/
}

.not-linked {
  cursor: pointer;
}

.not-linked div {
  margin: 1em 0 1em 2em;
}

.is-linked-wrapper {
  background-color: var(--num-color--accent-300);
}

.is-linked {
  cursor: pointer;
  color: white !important;
  margin: 0.2em 0 0.2em 2em;
}

.is-linked a div {
  margin: 0 2em;
}

.is-linked:hover,
.not-linked:hover {
  background-color: var(--num-color--accent-100);
}

.not-linked-without-dependent-group-feature div {
  margin: 1em 0 1em 2em;
}

.dataselectionClass {
  border: 1cm;
}

.querybuilderClass {
  border: 1cm;
}
