<div *ngIf="!first && featureService.useFeatureMultipleGroups()">
  <div *ngIf="featureService.useFeatureDependentGroups()">
    <div
      *ngIf="isLinked()"
      fxLayout="column"
      fxLayoutAlign="space-around"
      class="is-linked-wrapper"
    >
      <div fxLayout="row" fxLayoutAlign="stretch">
        <div (click)="switchLinkedStatus()" class="is-linked" fxFlex="50">
          <fa-icon *ngIf="isLinked()" icon="link" size="lg"></fa-icon>
          <span>
            {{ 'QUERYBUILDER.DISPLAY.GROUPS.LINKEDGROUPS' | translate }}
          </span>
        </div>
        <a (click)="editConnection()" class="is-linked" fxFlex="50">
          <div fxLayout="row" fxLayoutAlign="space-around">
            {{ 'QUERYBUILDER.DISPLAY.GROUPS.SHOW_CONNECTION' | translate }}
          </div>
        </a>
        <div fxFlex="50"></div>
      </div>
    </div>
    <div
      *ngIf="!isLinked()"
      (click)="switchLinkedStatus()"
      class="not-linked"
      fxLayout="column"
      fxLayoutAlign="space-around"
    >
      <div fxLayout="row" fxLayoutAlign="space-between">
        <fa-icon fxFlex="47" icon="unlink" size="lg"></fa-icon>
        <span fxFlex="0"
          ><b>{{ 'QUERYBUILDER.SWITCH.LABEL_AND' | translate }}</b></span
        >
        <span fxFlex="53"></span>
      </div>
    </div>
  </div>
  <div
    *ngIf="!featureService.useFeatureDependentGroups()"
    class="not-linked-without-dependent-group-feature"
  >
    <div fxLayout="row" fxLayoutAlign="space-around">
      <b>{{ 'QUERYBUILDER.SWITCH.LABEL_AND' | translate }}</b>
    </div>
  </div>
</div>

<mat-card appearance="outlined" class="query-group">
  <mat-card-header>
    <div fxLayout="row" fxLayoutAlign="space-between" class="header-wrapper">
      <div fxLayout="row">
        <div
          *ngIf="featureService.useFeatureMultipleGroups()"
          class="button-space"
          (click)="doMoveDown()"
        >
          <fa-icon *ngIf="!isLinked()" icon="arrow-down" size="lg"></fa-icon>
        </div>
        <div
          *ngIf="featureService.useFeatureMultipleGroups()"
          class="button-space"
          (click)="doMoveUp()"
        >
          <fa-icon *ngIf="!isLinked()" icon="arrow-up" size="lg"></fa-icon>
        </div>
        <div class="button-space" *ngIf="isLinked()"></div>
        <div class="button-space" *ngIf="isLinked()"></div>
        <div fxLayout="column" fxLayoutAlign="space-around">
          <div>
            {{ 'QUERYBUILDER.DISPLAY.LABEL' | translate }}
            <em *ngIf="featureService.useFeatureMultipleGroups()"> ({{ group.id }})</em>
          </div>
        </div>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="space-around"
        *ngIf="featureService.useFeatureMultipleGroups()"
      >
        <div fxLayout="row">
          <div (click)="deleteGroup(group.id)" class="header-cancel-button button-space">
            <fa-icon *ngIf="query.groups.length > 1" icon="times" size="lg"></fa-icon>
          </div>
          <div class="button-space"></div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <num-display-crit-group
        [ngClass]="{ dataselectionClass: searchType === 'dataselection' }"
        [searchType]="searchType"
        [query]="query"
        [critGroup]="group.inclusionCriteria"
        [groupId]="group.id"
        [critType]="'inclusion'"
        (switch)="switch('inclusion', $event)"
        (storeQuery)="doStoreQuery($event)"
        (dropped)="doDrop($event)"
        (delete)="doDelete($event, 'inclusion')"
        [fxFlex]="searchType === 'dataselection' ? 100 : 49.5"
      ></num-display-crit-group>
      <div *ngIf="searchType === 'querybuilder'" fxFlex="1" class="crit-group-spacer"></div>
      <num-display-crit-group
        *ngIf="searchType === 'querybuilder'"
        [critGroup]="group.exclusionCriteria"
        [query]="query"
        [groupId]="group.id"
        [critType]="'exclusion'"
        (switch)="switch('exclusion', $event)"
        (storeQuery)="doStoreQuery($event)"
        (dropped)="doDrop($event)"
        (delete)="doDelete($event, 'exclusion')"
        fxFlex="49.5"
      ></num-display-crit-group>
    </div>
  </mat-card-content>
</mat-card>
