<mat-card class="query-group">
  <mat-card-header>
    <div fxLayout="column" fxLayoutAlign="space-around" class="header-display">
      {{ group.display }}
    </div>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <num-display-crit-group
        [critGroup]="group.inclusionCriteria"
        [groupId]="group.id"
        [critType]="'inclusion'"
        (switch)="switch('inclusion', $event)"
        (dropped)="doDrop($event)"
        (delete)="doDelete($event, 'inclusion')"
        fxFlex="50"
      ></num-display-crit-group>
      <num-display-crit-group
        [critGroup]="group.exclusionCriteria"
        [groupId]="group.id"
        [critType]="'exclusion'"
        (switch)="switch('exclusion', $event)"
        (dropped)="doDrop($event)"
        (delete)="doDelete($event, 'exclusion')"
        fxFlex="50"
      ></num-display-crit-group>
    </div>
  </mat-card-content>
</mat-card>
