mat-card-content {
  margin: 0 0.5em 0 0;
}

.query-group {
  border-left: 0.5em solid var(--num-color--accent);
  padding: 0;
}

.query-group mat-card-header {
  background: var(--num-color--accent);
  color: var(--num-color--accent-contrast);
}

.header-display {
  height: 3em;
}
