.header-wrapper {
  width: 100%;
}

.query-group {
  border-left: 0.5em solid var(--num-color--accent);
  padding: 0;
}

.query-group mat-card-header {
  background: var(--num-color--accent);
  color: var(--num-color--accent-contrast);
}

.header-display {
  height: 3em;
}

.button-space {
  height: 100%;

  padding: 1em 0.5em;
  cursor: pointer;
}

.header-cancel-button:hover,
.button-space:hover {
  background-color: var(--num-color--accent-200);
}

mat-card-content {
  margin: 0 0.5em 0 0;
}

.not-linked {
  cursor: pointer;
}

.not-linked div {
  margin: 1em 0 1em 2em;
}

.is-linked-wrapper {
  background-color: var(--num-color--accent-300);
}

.is-linked {
  cursor: pointer;
  color: white !important;
  margin: 0.2em 0 0.2em 2em;
}

.is-linked a div {
  margin: 0 2em;
}

.is-linked:hover,
.not-linked:hover {
  background-color: var(--num-color--accent-100);
}
