.container {
  margin: 2%;
}

mat-expansion-panel {
  background-color: rgb(90, 121, 175, 0.1);
}

.mat-expansion-panel-header-title {
  font-size: 16px;
  font-weight: normal;
}

.mat-expansion-panel-header {
  height: 48px;
}

.mat-expansion-panel-header:hover {
  background-color: rgb(90, 121, 175, 0.1);
}
::ng-deep num-edit-time-restriction .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.operator-part {
  padding-right: 1.5em;
  width: 11em;
}
