<div cdkDropListGroup class="container">
  <div>
    <num-header>
      {{ 'FEASIBILITY.EDITOR.HEADER' | translate }}
    </num-header>
    <num-header-description>
      {{ 'FEASIBILITY.EDITOR.HEADER_INFO' | translate }}
    </num-header-description>
  </div>
  <div>
    <num-consent-switches></num-consent-switches>
  </div>
  <num-section-name>
    {{ 'FEASIBILITY.EDITOR.HEADER_TITLE' | translate }}
  </num-section-name>
  <div class="margin-bottom-4 stage-container">
    <num-criteria-stage [isEditable]="true" #stage> </num-criteria-stage>
  </div>
  <div class="overflow-auto">
    <num-display-feasibility-query [isEditable]="true"></num-display-feasibility-query>
  </div>
  <div>
    <num-editor-action-bar></num-editor-action-bar>
  </div>
</div>
