<div class="save-modal">
  <button class="save-modal__close" (click)="doDiscard()" aria-label="Close">
    <fa-icon icon="times"></fa-icon>
  </button>
  <ng-content></ng-content>
  <div class="save-modal__fields">
    <input
      class="save-modal__input"
      type="text"
      [(ngModel)]="title"
      placeholder="{{ 'SHARED_COMPONENTS.SAVE_MODAL.LABEL' | translate }}"
    />
    @if (isCommentRequired()) {
    <textarea
      class="save-modal__input save-modal__input--textarea"
      [(ngModel)]="comment"
      placeholder="{{ 'SAVED_QUERIES.COMMENT' | translate }}"
    ></textarea>
    }
  </div>

  <div class="save-modal__footer">
    <ng-content select="[role=buttons]"></ng-content>
  </div>
</div>
