<div class="container">
  <mat-tab-group>
    <mat-tab
      *ngFor="let query of savedQueries"
      [label]="
        ('SAVED_QUERIES.' + query.title.toUpperCase() | translate) + ' (' + query.data.length + ')'
      "
    >
      <div *ngFor="let item of query.data">
        <num-saved-query-tile
          class="width-100"
          [savedQuery]="item"
          (navigate)="onLoad($event)"
          (deleteQuery)="onDelete($event)"
        >
        </num-saved-query-tile>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
