.query-box {
  cursor: pointer;
  width: 120px;
  border-width: 4px;
  border-style: double;
  border-color: white;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  color: white;
  background: var(--num-color--accent-300);
}
.query-box:hover {
  background: var(--num-color--accent-400);
}
