<div class="fullscreen">
  <h2>{{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.HEADLINE' | translate }}</h2>

  <div *ngIf="displayInfoMessage" class="infoMessage">
    <fa-icon size="1x" icon="exclamation-circle"></fa-icon>
    {{ 'DASHBOARD.INFO.TEXT' | translate }}
  </div>

  <div class="link-boxes" fxLayout="row" fxLayoutAlign="space-between" *numUserHasRole="roles">
    <div class="linkBox newQueryBox">
      <a routerLink="/querybuilder/editor">
        <div class="queryBoxHeader">{{ 'DASHBOARD.NEWQUERY.HEADLINE' | translate }}</div>
        <div class="queryBoxText">{{ 'DASHBOARD.NEWQUERY.TEXT' | translate }}</div>
      </a>
    </div>
    <div class="linkBox myQueryBox">
      <a routerLink="/querybuilder/overview">
        <div class="queryBoxHeader">{{ 'DASHBOARD.MYQUERY.HEADLINE' | translate }}</div>
        <div class="queryBoxText">{{ 'DASHBOARD.MYQUERY.TEXT' | translate }}</div>
      </a>
    </div>
    <div class="linkBox proposalPortal">
      <a href="{{ proposalPortalLink }}" target="_blank" rel="noopener">
        <div class="queryBoxHeader">{{ 'DASHBOARD.PREPOSALPORTAL.HEADLINE' | translate }}</div>
        <div class="queryBoxText">{{ 'DASHBOARD.PREPOSALPORTAL.TEXT' | translate }}</div>
      </a>
    </div>
  </div>

  <div class="paragraphBox">
    <p>{{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH1' | translate }}</p>
    <p *ngIf="translate.currentLang === 'de'">
      {{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH2' | translate }}
    </p>
    <p>
      {{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH3_1' | translate }}
      <b>{{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH3_2' | translate }}</b>
      {{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH3_3' | translate }}
      <a
        *ngIf="stylesheet === 'FDPGTheme'"
        class="dashboard-link"
        href="https://www.medizininformatik-initiative.de/de/der-kerndatensatz-der-medizininformatik-initiative"
        target="_blank"
        >{{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH3_LINK' | translate }}</a
      >{{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH3_4' | translate }}
    </p>
    <p>
      {{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH4_1' | translate }}
      <b>{{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH4_2' | translate }}</b
      >{{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH4_3' | translate }}
    </p>
    <p>
      {{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH5_1' | translate }}
      <b>{{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH5_2' | translate }}</b
      >{{ 'DASHBOARD.' + stylesheet.toUpperCase() + '.PARAGRAPH5_3' | translate }}
    </p>
  </div>

  <!--<div>{{ authTest }}</div>-->
  <!--<pre *numUserHasRole="['CODEX_DEVELOPER']">Content for CODEX Dashboard</pre>-->
</div>
