.test {
  color: var(--num-color--accent);
}

.infoMessage {
  font-size: 15pt;
  border: 2px red solid;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 34px;
}

h2 {
  border-bottom: none !important;
  font-size: 2.8vw;
  padding-top: 3% !important;
  line-height: initial;
}
@media screen and (min-width: 1401px) {
  h2 {
    font-size: 30pt;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 14pt;
  }
}
.paragraphBox {
  padding: 1% 0 4% 0;
  font-size: 1.5vw;
  line-height: 2.4vw;
}
.paragraphBox a {
  font-size: 1.5vw;
  line-height: 2.4vw;
  color: var(--num-color--accent-400);
}
.paragraphBox p {
  margin-top: 0;
}
@media screen and (min-width: 1601px) {
  .paragraphBox,
  .paragraphBox a {
    font-size: 18pt;
    line-height: 40px;
  }
}
@media screen and (max-width: 600px) {
  .paragraphBox,
  .paragraphBox a {
    font-size: 10pt;
    line-height: 15px;
  }
}
.paragraphBox p {
  padding-bottom: 1%;
}
.linkBox {
  cursor: pointer;
  width: 32%;
  border-width: 4px;
  border-style: double;
  border-color: white;
  text-align: center;
  padding: 2%;
}
.linkBox a {
  text-decoration: none !important;
}
.linkBox {
  background: var(--num-color--accent-400);
}
.linkBox:hover {
  background: var(--num-color--accent-300);
}

.queryBoxHeader {
  padding-bottom: 8%;
  font-size: 2vw;
  font-weight: bold;
  color: var(--num-color--primary-100);
}
@media screen and (min-width: 1401px) {
  .queryBoxHeader {
    font-size: 20pt;
  }
}
@media screen and (max-width: 600px) {
  .queryBoxHeader {
    font-size: 10pt;
  }
}
.queryBoxText {
  font-size: 1.4vw;
  color: var(--num-color--primary-100);
}
@media screen and (min-width: 1401px) {
  .queryBoxText {
    font-size: 16pt;
  }
}
@media screen and (max-width: 600px) {
  .queryBoxText {
    font-size: 10pt;
  }
}
.link-boxes {
  margin-bottom: 30px;
}
