<div class="fullscreen">
  <num-header>{{ 'DASHBOARD.HEADER' | translate }}</num-header>
  <num-header-description>
    {{ 'DASHBOARD.INFO.TEXT' | translate }}
  </num-header-description>

  <div class="link-boxes" fxLayout="row wrap" fxLayoutAlign="start">
    <div
      fxFlex="30"
      fxLayout="column"
      fxLayoutAlign="start start"
      class="linkBox newQueryBox dotted-background"
    >
      <div class="queryBoxHeader content">{{ 'DASHBOARD.DATAQUERY.HEADER' | translate }}</div>
      <num-button class="content" (click)="navigateToDataQueryEditor()" type="blue">{{
        'DASHBOARD.DATAQUERY.BUTTON' | translate
      }}</num-button>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start" class="linkBox newQueryBox">
      <div class="queryBoxHeader">{{ 'DASHBOARD.NEWQUERY.HEADER' | translate }}</div>
      <num-button (click)="navigateToFeasibilityEditor()" type="blue">
        {{ 'DASHBOARD.NEWQUERY.BUTTON' | translate }}
      </num-button>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start" class="linkBox myQueryBox">
      <div class="queryBoxHeader">{{ 'DASHBOARD.DATASELECTION.HEADER' | translate }}</div>
      <num-button (click)="navigateToDataSelectionEditor()" type="blue">
        {{ 'DASHBOARD.DATASELECTION.ACTION_BAR' | translate }}
      </num-button>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start" class="linkBox myQueryBox">
      <div class="queryBoxHeader">{{ 'DASHBOARD.SAVED_QUERIES.HEADER' | translate }}</div>
      <num-button (click)="navigateToSavedQueries()" type="blue">{{
        'DASHBOARD.SAVED_QUERIES.BUTTON' | translate
      }}</num-button>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start" class="linkBox myQueryBox">
      <div class="queryBoxHeader">{{ 'DASHBOARD.PREPOSALPORTAL.HEADER' | translate }}</div>
      <num-button type="blue" (click)="openProposalPortalLink()">{{
        'DASHBOARD.PREPOSALPORTAL.HEADER' | translate
      }}</num-button>
    </div>
  </div>
</div>
