.fullscreen {
  height: 100%;
  padding-right: 4rem;
}
.infoMessage {
  font-size: 15pt;
  border: 2px red solid;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 34px;
}

@media screen and (min-width: 1401px) {
  h2 {
    font-size: 30pt;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 14pt;
  }
}
.paragraphBox {
  padding: 1% 0 4% 0;
  font-size: 1.5vw;
  line-height: 2.4vw;
}
.paragraphBox a {
  font-size: 1.5vw;
  line-height: 2.4vw;
  color: var(--num-color--accent-400);
}
.paragraphBox p {
  margin-top: 0;
}
@media screen and (min-width: 1601px) {
  .paragraphBox,
  .paragraphBox a {
    font-size: 18pt;
    line-height: 40px;
  }
}
@media screen and (max-width: 600px) {
  .paragraphBox,
  .paragraphBox a {
    font-size: 10pt;
    line-height: 15px;
  }
}

.paragraphBox p {
  padding-bottom: 1%;
}

.linkBox {
  font-size: 3em;
  cursor: pointer;
  padding: 2%;
  background: rgb(255, 255, 255);
  border: 2px solid var(--num-color--primary-blue);
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  background-image: radial-gradient(circle, rgb(216 216 216) 0.8px, transparent 0.5px);
  background-size: 10px 10px;
}

.linkBox:hover {
  background: rgba(241, 242, 243, 1);
  background-image: radial-gradient(circle, rgb(216 216 216) 0.8px, transparent 0.5px);
  background-size: 10px 10px;
}

.queryBoxHeader {
  padding-bottom: 8%;
  font-size: 0.6em;
  font-weight: bold;
  color: rgba(106, 116, 131, 1);
}

.queryBoxText {
  font-size: 1.4vw;
  color: rgba(106, 116, 131, 1);
}

.content {
  z-index: 1;
}
