<div class="fullscreen">
  <num-header>{{ 'DASHBOARD.HEADER' | translate }}</num-header>
  <num-header-description>
    {{ 'DASHBOARD.INFO.TEXT' | translate }}
  </num-header-description>

  <div class="link-boxes" fxLayout="row wrap" fxLayoutAlign="start" *numUserHasRole="roles">
    <div
      fxFlex="30"
      fxLayout="column"
      fxLayoutAlign="start start"
      class="linkBox newQueryBox dotted-background"
    >
      <div class="queryBoxHeader content">{{ 'DASHBOARD.DATAQUERY.HEADER' | translate }}</div>
      <num-button class="content" (click)="navigateToDataQueryEditor()" type="blue">{{
        'DASHBOARD.DATAQUERY.BUTTON' | translate
      }}</num-button>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start" class="linkBox newQueryBox">
      <div class="queryBoxHeader">{{ 'DASHBOARD.NEWQUERY.HEADER' | translate }}</div>
      <num-button (click)="navigateToQueryBuilderEditor()" type="blue">
        {{ 'DASHBOARD.NEWQUERY.BUTTON' | translate }}
      </num-button>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start" class="linkBox myQueryBox">
      <div class="queryBoxHeader">{{ 'DASHBOARD.DATASELECTION.HEADER' | translate }}</div>
      <num-button (click)="navigateToDataSelectionEditor()" type="blue">
        {{ 'DASHBOARD.DATASELECTION.BUTTON' | translate }}
      </num-button>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start" class="linkBox myQueryBox">
      <div class="queryBoxHeader">{{ 'DASHBOARD.SAVED_QUERIES.HEADER' | translate }}</div>
      <num-button (click)="navigateToSavedQueries()" type="blue">{{
        'DASHBOARD.SAVED_QUERIES.BUTTON' | translate
      }}</num-button>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start" class="linkBox myQueryBox">
      <div class="queryBoxHeader">{{ 'DASHBOARD.PREPOSALPORTAL.HEADER' | translate }}</div>
      <num-button type="blue" (click)="openProposalPortalLink()">{{
        'DASHBOARD.PREPOSALPORTAL.HEADER' | translate
      }}</num-button>
    </div>
  </div>

  <div class="paragraphBox">
    <p>{{ 'DASHBOARD.PARAGRAPH1' | translate }}</p>
    <p *ngIf="translate.currentLang === 'de'">
      {{ 'DASHBOARD.PARAGRAPH2' | translate }}
    </p>
    <p>
      {{ 'DASHBOARD.PARAGRAPH3_1' | translate }}
      <b>{{ 'DASHBOARD.PARAGRAPH3_2' | translate }}</b>
      {{ 'DASHBOARD.PARAGRAPH3_3' | translate }}
      <a
        class="dashboard-link"
        href="https://www.medizininformatik-initiative.de/de/der-kerndatensatz-der-medizininformatik-initiative"
        target="_blank"
        >{{ 'DASHBOARD.PARAGRAPH3_LINK' | translate }}</a
      >{{ 'DASHBOARD.PARAGRAPH3_4' | translate }}
    </p>
    <p>
      {{ 'DASHBOARD.PARAGRAPH4_1' | translate }}
      <b>{{ 'DASHBOARD.PARAGRAPH4_2' | translate }}</b
      >{{ 'DASHBOARD.PARAGRAPH4_3' | translate }}
    </p>
    <p>
      {{ 'DASHBOARD.PARAGRAPH5_1' | translate }}
      <b>{{ 'DASHBOARD.PARAGRAPH5_2' | translate }}</b
      >{{ 'DASHBOARD.PARAGRAPH5_3' | translate }}
    </p>
  </div>
</div>
