.selection-box {
  width: 100%;
  min-height: 150px;
  background-color: rgba(90, 121, 175, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
}

.display-container {
  border-right: 4px solid rgba(90, 121, 175, 0.1);
  padding: 20px;
  font-size: larger;
  width: 100%;
  color: black;
}
.display-container > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;
}
.display-selected-fields-container {
  border-right: 4px solid rgba(90, 121, 175, 0.1);
  padding: 20px;
  font-size: larger;
  width: 100%;
  color: black;
}
.filter-container {
  padding: 20px;
  font-size: larger;
  width: 100%;
  color: black;
}

.menu-container {
  align-self: self-start;
  padding-top: 20px;
  margin-left: 20px;
}

.filter-chips-container {
  padding-top: 30px;
}

.filterChipsInfo {
  color: red;
  margin-top: 10px;
  font-size: 15px;
}
