.container {
  width: 600px;
  height: 150px;
  background-color: rgba(90, 121, 175, 0.1);
  border-radius: 10px;
}

.title-section {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 5%;
  font-size: larger;
  width: 100%;
  color: black;
}

.info-section {
  height: 100%;
  width: 100%;
}

.info-item {
  padding-right: 5%;
  padding-left: 20px;
  color: #6a7483;
}

.menu-icon {
  color: rgba(90, 121, 175, 1);
}

.menu-icon:hover {
  cursor: pointer;
}

::ng-deep.mat-mdc-menu-panel {
  background-color: #fff;
  width: 1000px;
}

.drag-handle {
  padding-top: 50px;
  padding-left: 20px;
  height: 100%;
  display: block;
  transform: rotateZ(45deg);
  padding-bottom: 10px;
  padding-right: 10px;
}
