<div
  cdkDrag
  [cdkDragData]="criterion.getUniqueID()"
  fxLayout="column"
  fxLayoutAlign="start start"
  class="container"
>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="title-section">
    {{ criterion.getTermCodes()[0].getDisplay() }}
    <num-menu [menuItems]="menuItems" [id]="criterion.getUniqueID()"></num-menu>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center" class="info-section">
    <div class="info-item">
      {{ criterion.getContext().getDisplay() }}, {{ criterion.getTermCodes()[0].getCode() }},
      {{ criterion.getTermCodes()[0].getSystem() }}
    </div>
  </div>
  <div class="filter-chips-container">
    <num-filter-chips [filterChips]="$filterChips | async"></num-filter-chips>
  </div>
  <div fxFlexAlign="end" class="menu-icon" cdkDragHandle>
    <fa-icon class="icon drag-handle" size="m" icon="expand-arrows-alt"></fa-icon>
  </div>
</div>
