<div
  cdkDrag
  [cdkDragData]="criterion"
  fxLayout="column"
  fxLayoutAlign="start start"
  class="container"
>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="title-section">
    {{ criterion.termCodes[0].display }}
    <div fxFlexAlign="end" class="menu-icon">
      <fa-icon
        (click)="openMenu()"
        [matMenuTriggerFor]="menu"
        #menuTrigger="matMenuTrigger"
        class="icon"
        size="sm"
        icon="ellipsis-h"
      ></fa-icon>
    </div>
  </div>
  <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
    <num-criteria-menu [criterionUuid]="criterion.uniqueID"></num-criteria-menu>
  </mat-menu>
  <div fxLayout="row wrap" fxLayoutAlign="start center" class="info-section">
    <div class="info-item">
      {{ criterion.context.code }}
    </div>
    <div class="info-item">
      {{ criterion.termCodes[0].system }}
    </div>
    <div class="info-item">
      {{ criterion.termCodes[0].code }}
    </div>
  </div>
  <div fxFlexAlign="end" class="menu-icon" cdkDragHandle>
    <fa-icon
      (click)="openMenu()"
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      class="icon drag-handle"
      size="m"
      icon="expand-arrows-alt"
    ></fa-icon>
  </div>
</div>
