/* switch.component.css */
.switch {
  position: relative;
  display: inline-block;
  width: 36px; /* Width of the switch */
  height: 20.4px; /* Height of the switch */
}

.switch input {
  opacity: 0; /* Hide the default checkbox */
  width: 0; /* Remove default width */
  height: 0; /* Remove default height */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(90, 121, 175, 0.1); /* Same lighter blue for both states */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20.4px; /* Round the corners */
}

.slider:before {
  position: absolute;
  content: '';
  height: 15.6px; /* Height of the knob */
  width: 15.6px; /* Width of the knob */
  right: 2.4px; /* Default position for unchecked state */
  bottom: 2.4px; /* Position the knob */
  background-color: rgba(90, 121, 175, 1); /* Dark blue for the knob */
  border-radius: 50%; /* Make it round */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Checked state moves the knob to the left */
.move-left:before {
  -webkit-transform: translateX(0); /* Default position on the right */
  transform: translateX(0);
}

/* Unchecked state moves the knob to the right */
.move-right:before {
  -webkit-transform: translateX(-15.6px); /* Move knob to the left */
  transform: translateX(-15.6px);
}
