.selection-box {
  width: 100%;
  min-height: 150px;
  background-color: rgba(90, 121, 175, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
}

.display-container {
  border-right: 4px solid rgba(90, 121, 175, 0.1);
  padding: 20px;
  font-size: larger;
  width: 100%;
  color: black;
}
.display-container > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;
}
.display-selected-fields-container {
  border-right: 4px solid rgba(90, 121, 175, 0.1);
  padding: 20px;
  font-size: larger;
  width: 100%;
  color: black;
}
.filter-container {
  padding: 20px;
  font-size: larger;
  width: 100%;
  color: black;
}

.menu-container {
  align-self: self-start;
  padding-top: 20px;
  margin-left: 20px;
}

.filter-chips-container {
  padding-top: 30px;
}

.filterChipsInfo {
  color: red;
  margin-top: 10px;
  font-size: 15px;
}

.block-triangle {
  color: #5a79af;
  border-left: 13px solid;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  display: inline-block;
  content: '';
  /*position: absolute;
  right: -13px;
  top: 0;*/
}
.block {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  color: #fff;
  background-color: #5a79af;
  width: 100px;
  min-width: 100px;
  height: 26px;
  display: inline-block;
  position: relative;
  padding-left: 4px;
  padding-top: 2px;
  cursor: pointer;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
  transition: width 0.3s ease; /* Transition for width change */
}
