<div fxLayout="row" fxLayoutAlign="start stretch" class="selection-box">
  <div class="display-container">
    <span
      matTooltipShowDelay="300"
      matTooltipPosition="below"
      [matTooltip]="display | displayTranslation"
      >{{ display | displayTranslation }}</span
    >
  </div>
  <div class="display-selected-fields-container">
    {{ 'DATASELECTION.SELECTION_BOX.SELECTED_FIELDS' | translate }}
    <div *ngIf="filterChipsSelected === false" class="filterChipsInfo">
      {{ 'DATASELECTION.SELECTION_BOX.FIELDS_MISSING' | translate }}
    </div>
    <div class="filter-chips-container">
      <num-filter-chips [filterChips]="$fieldsFilterChips | async"> </num-filter-chips>
    </div>
  </div>
  <div fxLayout="column" class="filter-container">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      {{ 'DATASELECTION.SELECTION_BOX.APPLIED_FILTER' | translate }}
      <num-button (click)="editProfile(profile.getId())" type="blue"></num-button>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      *ngIf="profile.getReference().getIncludeReferenceOnly()"
      class="reference-chip-padding-30"
    >
      <div class="block">{{ 'DATASELECTION.DISPLAY.REFERENCE' | translate }}</div>
      <div class="block-triangle"></div>
      <mat-checkbox
        [disabled]="!isEditable"
        [checked]="profile.getReference().getIsReferenceSet()"
        (change)="toggleIsReferenceSet(profile.getReference())"
      ></mat-checkbox>
    </div>
    <div *ngIf="filtersFilterChips$ | async as chips" class="filter-chips-container">
      <num-filter-chips [filterChips]="chips"> </num-filter-chips>
    </div>
  </div>
</div>
<ng-container *ngIf="selectedReferenceFields.length > 0">
  <num-linked-badge></num-linked-badge>
  <div
    *ngFor="let reference of unlinkedRequiredOrRecommendedReferences"
    class="selection-box-container"
  >
    <num-profile-reference-tile
      [referenceField]="reference"
      [parentId]="profile.getId()"
    ></num-profile-reference-tile>
  </div>
  <div *ngFor="let selectedReference of selectedReferenceFields" class="selection-box-container">
    <div *ngFor="let linkedProfileId of selectedReference.getLinkedProfileIds()">
      <num-profile-reference-tile
        [referenceField]="selectedReference"
        [linkedProfileId]="linkedProfileId"
      ></num-profile-reference-tile>
    </div>
  </div>
</ng-container>
