<div class="num-card selection-box" [attr.data-cy]="profile()?.getLabel() | displayTranslation">
  <div class="card-col">
    <num-label-col [profile]="profile()" [searchTerm]="searchTerm()"></num-label-col>
  </div>
  <div class="card-col">
    <num-fields-col
      [profile]="profile()"
      [searchTerm]="searchTerm()"
      (navigate)="navigate()"
    ></num-fields-col>
  </div>
  <div class="card-col">
    <num-filters-col [profile]="profile()"></num-filters-col>
  </div>
  @if (isReferenced()) {
  <div class="card-col">
    <num-reference-col
      [reference]="profile()!.getReference()"
      [isEditable]="isEditable() ?? false"
      (isReferenceSetChange)="onReferenceSetChange($event)"
    ></num-reference-col>
  </div>
  } @if (isEditable()) {
  <div class="menu-box">
    <num-menu [menuItems]="menuItems()" [id]="profile()!.getId()"></num-menu>
  </div>
  <div class="arrow-container">
    <button
      class="arrow-btn"
      [disabled]="!canMoveUp()"
      [matTooltip]="'DATASELECTION.EDITOR.DISPLAY.MOVE_UP' | translate"
      (click)="moveProfileUp()"
    >
      <fa-icon size="lg" icon="arrow-up"></fa-icon>
    </button>
    <button
      class="arrow-btn"
      [disabled]="!canMoveDown()"
      [matTooltip]="'DATASELECTION.EDITOR.DISPLAY.MOVE_DOWN' | translate"
      (click)="moveProfileDown()"
    >
      <fa-icon size="lg" icon="arrow-down"></fa-icon>
    </button>
  </div>
  }
</div>
<num-linked-references
  [fields]="profile().getProfileFields()"
  [isEditable]="isEditable()"
  [profileId]="profile().getId()"
></num-linked-references>
