<div fxLayout="column" fxLayoutAlign="space-between stretch" class="container-crit-group">
  <div
    fxFlex="0"
    *ngFor="let criterionInnerArray of critGroup; let lastOuter = last; let i = index"
    class="outer"
  >
    <div
      *ngFor="let criterion of criterionInnerArray; let lastInner = last; let j = index"
      class="inner"
    >
      <num-display-criterion
        [criterion]="criterion"
        [query]="query"
        [position]="{ groupId: groupId, critType: critType, row: i, column: j }"
        [isEditable]="false"
      >
      </num-display-criterion>
      <num-bool-logic-switch
        [position]="'inner'"
        [label]="getInnerLabelKey()"
        (switched)="splitInnerArray(i, j)"
        *ngIf="!lastInner"
      ></num-bool-logic-switch>
    </div>
    <num-bool-logic-switch
      [position]="'outer'"
      [label]="getOuterLabelKey()"
      (switched)="joinInnerArrays(i)"
      *ngIf="!lastOuter"
    ></num-bool-logic-switch>
  </div>
</div>
