mat-drawer-container {
  height: 100%;
  background-color: white;
}
::ng-deep .mdc-tab {
  max-width: fit-content;
  padding: 0 30px;
}

.full {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1rem;
  background-color: rgba(90, 121, 175, 0.1);
}
