.add-button {
  margin-top: 10px;
  background-color: #5a79af;
  color: white;
  width: fit-content;
  padding: 10px 18px;
}
.result-list-container {
  /*max-height: 50%;
  display: block;
  overflow: auto;*/
}
num-table {
  display: block;
  height: 87%;
  overflow: auto;
}
