<div *ngFor="let formGroup of forms.controls; let i = index" class="table-section">
  <!-- Health Record Element Name -->
  <div class="health-record-element">
    <h2>{{ formGroup.get('ressource').value }}</h2>
  </div>
  <!-- Where Conditions -->
  <div *ngIf="formGroup.get('where') && formGroup.get('where').length > 0">
    <h3>Filters</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Filter Type</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filter of formGroup.get('where').controls">
          <ng-container *ngIf="!filter.get('hidden')?.value">
            <td>{{ filter.get('label').value }}</td>
            <td>
              <ng-container *ngIf="filter.get('type').value === 'coding'">
                <!-- Assuming 'value' would contain selected codes -->
                <ng-container *ngFor="let code of filter.get('value').controls; let j = index">
                  {{ code.value
                  }}<ng-container *ngIf="j < filter.get('value').controls.length - 1"
                    >,
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="filter.get('type').value === 'date'">
                <!-- Display date range if available -->
                {{ filter.get('afterDate').value | date : 'mediumDate' }} -
                {{ filter.get('beforeDate').value | date : 'mediumDate' }}
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
