.container {
  padding: 1em;
}

mat-expansion-panel {
  background-color: rgb(90, 121, 175, 0.1);
}

.mat-expansion-panel-header-title {
  font-size: 16px;
  font-weight: normal;
}
.mat-expansion-panel-header {
  height: 48px;
}
