<div class="container" *ngIf="savedQuery">
  <div fxLayout="column" class="width-40">
    <div>
      {{ savedQuery.label }}
    </div>
    <div *ngIf="savedQuery.comment">
      {{ savedQuery.comment }}
    </div>
  </div>
  <div class="width-40">
    {{ savedQuery.date | date : 'dd.MM.yyyy' }}
  </div>
  <div>
    <button class="background-color-button" (click)="onNavigate(savedQuery.id)" mat-raised-button>
      query laden
    </button>
  </div>
  <div class="height-100" fxFlex="row" fxLayoutAlign="end start" fxFlex="4">
    <fa-icon
      class="pointer close-icon"
      icon="times"
      (click)="onDelete(savedQuery.id)"
      [fixedWidth]="true"
    ></fa-icon>
  </div>
</div>
