<mat-toolbar
  fxLayout="row"
  fxLayoutAlign="center center"
  color="light"
  class="toolbar mat-elevation-z3"
  fxLayoutGap="0px"
>
  <!-- <img id="header-logo" src="{{ urlSrc }}" alt="{{ urlAlt }}" class="{{ stylesheet }}" /> -->
  <img src="assets/img/bzkf_logo_gross.jpg" alt="bzkf-LOGO" class="bmbf-logo" />
  <div fxFlex="100%">
    <ng-content></ng-content>

    <span fxFlex></span>

    {{ profile?.info.name }}
    <fa-icon [icon]="'user'" size="2x" [fixedWidth]="true"></fa-icon>
  </div>
</mat-toolbar>
