.toolbar {
  background: transparent;
  font-size: 14px;
  margin: 0 0 1em 0;
}
.toolbar fa-icon {
  padding: 0 0 0 1em;
}

.codexTheme,
.abideTheme {
  max-width: 210px;
  box-shadow: 0 0 15px rgba(232, 235, 237, 1) inset;
  background-color: white;
}
.abideTheme {
  /*margin-top: 60px;
  max-height: 175px;
  padding-left: 10px;*/
  width: 210px;
  height: 105px;
}
.bzkfTheme {
  width: 240px;
  height: 105px;
  box-shadow: 0 0 15px rgba(232, 235, 237, 1) inset;
  background-color: white;
}
.mat-toolbar {
  height: 105px;
}
.mat-toolbar-single-row {
  padding-left: 0px !important;
}
