.toolbar {
  background: transparent;
  font-size: 14px;
  margin: 0 0 1em 0;
}
.toolbar fa-icon {
  padding: 0 0 0 1em;
}

.abideTheme {
  /*margin-top: 60px;
  max-height: 175px;
  padding-left: 10px;*/
  width: 210px;
  height: 105px;
}
.FDPGTheme {
  width: 250px;
  max-width: 210px;
  height: 105px;
  object-fit: cover;
}
.mat-toolbar {
  height: 105px;
}
.mat-toolbar-single-row {
  padding-left: 0px !important;
}
