<num-snackbar></num-snackbar>
<mat-toolbar fxLayout="row" fxLayoutAlign="start center" color="light" fxLayoutGap="0px">
  <img id="header-logo" src="assets/img/FDPG-Logo.svg" alt="{{ urlAlt }}" class="FDPGTheme" />
  <div fxFlex="100" fxLayoutAlign="end" class="margin-right">
    <num-language></num-language>
    <mat-form-field class="language-select" style="width: auto">
      <mat-select
        hideSingleSelectionIndicator
        [placeholder]="profile?.info.name ? profile?.info.name : profile?.info.preferred_username"
      >
        <mat-option (click)="getActuatorInfo()">
          <fa-icon class="circle" size="lg" [fixedWidth]="true" [icon]="'info'"></fa-icon>
          {{ 'APPLAYOUT.HEADER.ABOUT' | translate }}
        </mat-option>
        <mat-option (click)="logout()">
          <fa-icon class="circle" size="lg" [fixedWidth]="true" [icon]="'sign-out-alt'"></fa-icon>
          {{ 'APPLAYOUT.HEADER.LOGOUT' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="link-like" (click)="navigateToProposalPortal()">
      {{ 'APPLAYOUT.HEADER.PROPOSAL_PORTAL' | translate }}
      <fa-icon size="1x" icon="external-link-alt"></fa-icon>
    </span>
  </div>
</mat-toolbar>
