<num-modal-window (saveButtonSelected)="saveFields()" (cancelButtonSelected)="closeDialog()">
  <div class="filter-title">
    {{ 'DATASELECTION.FIELD_SELECTION.HEADER' | translate }} {{ profileName | displayTranslation }}
  </div>
  <div class="tree-container">
    <div *ngFor="let singleTree of tree">
      <num-tree
        [treeData]="singleTree"
        (selectedCheckbox)="setSelectedFieldElement($event)"
      ></num-tree>
    </div>
  </div>

  <div *ngIf="arrayOfSelectedFields.length > 0" class="selected-fields">
    <div class="filter-title">
      {{ 'DATASELECTION.FIELD_SELECTION.FIELD_SELECTION' | translate }}
    </div>
    <div class="selected-fields-box">
      <div
        *ngFor="let selectedField of arrayOfSelectedFields; let index = index"
        fxLayout="row"
        fxLayoutAlign="start center"
        class="selectedFilterBox"
      >
        <div class="display-part">
          <span
            matTooltipPosition="below"
            matTooltipShowDelay="300"
            [matTooltip]="selectedField.display | displayTranslation"
            >{{ selectedField.display | displayTranslation }}</span
          >
        </div>
        <div>
          <mat-checkbox
            [checked]="selectedField.getMustHave()"
            (change)="setFieldAsRequired(selectedField)"
          >
            {{ 'DATASELECTION.FIELD_SELECTION.REQUIRED' | translate }}
          </mat-checkbox>
        </div>
        <div fxLayout="row" fxFlex="10" fxLayoutAlign="end center" class="padding-right-10">
          <fa-icon
            *ngIf="isFieldRequired(selectedField)"
            [icon]="'times'"
            size="1x"
            (click)="removeNodeFromSelectedFields2(selectedField)"
            class="delete-button"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</num-modal-window>
