<div class="container pr4">
  <div class="margin-top-5">
    <num-header>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div>
          {{ 'DATAQUERY.COHORT.HEADER' | translate }}
        </div>
        <div>
          {{ totalNumberOfPatients }}
        </div>
      </div>
    </num-header>
    <num-header-description>
      {{ 'QUERYBUILDER.SEARCH.HEADER_INFO' | translate }}
    </num-header-description>
  </div>
  <num-display-feasibility-query
    *ngIf="isFeasibilityExistent"
    [isEditable]="false"
    class="height-400"
  >
  </num-display-feasibility-query>
  <div *ngIf="!isFeasibilityExistent" class="empty-cohort-box">
    <div class="empty-text-align">
      {{ 'DATAQUERY.COHORT.EMPTY' | translate }}
    </div>
  </div>
  <num-action-bar class="bottom">
    <num-button (click)="createNewCohort()" type="green">
      {{ 'DATAQUERY.COHORT.BUTTON.NEW_COHORT' | translate }}
    </num-button>
    <num-button [isDisabled]="!isFeasibilityExistent" type="green" (click)="editFeasibilityQuery()">
      {{ 'DATAQUERY.COHORT.BUTTON.EDIT' | translate }}
    </num-button>
    <div>
      <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
      <num-button type="green" (click)="fileUpload.click()">
        {{ 'DATAQUERY.COHORT.BUTTON.UPLOAD' | translate }}
      </num-button>
    </div>
    <num-button type="green" [isDisabled]="!isFeasibilityExistent" (click)="doDownloadQuery()">
      {{ 'DATAQUERY.COHORT.BUTTON.DOWNLOAD' | translate }}
    </num-button>
    <num-button type="green" [isDisabled]="!isFeasibilityInclusionSet" (click)="sendQuery()">
      {{ 'QUERYBUILDER.STAGE.BUTTON.SEND_QUERY' | translate }}
    </num-button>
    <num-button [icon]="'arrow-down'" (click)="navigatToDataQueryDataSelection()" type="green">
      {{ 'DATAQUERY.COHORT.BUTTON.JUMP_TO_DATASELECTION' | translate }}
    </num-button>
  </num-action-bar>
</div>
