<div style="margin-top: 5px">
  <num-header>{{ 'QUERYBUILDER.HEADER' | translate }}</num-header>
  <num-header-description>
    {{ 'QUERYBUILDER.SEARCH.HEADER_INFO' | translate }}
  </num-header-description>
</div>
<num-display-criteria-group [isEditable]="false" style="height: 400px">
</num-display-criteria-group>
<num-action-bar>
  <button
    [disabled]="!isFeasibilityInclusionSet"
    (click)="sendQuery()"
    mat-raised-button
    class="height-59"
    class="green"
  >
    {{ 'QUERYBUILDER.STAGE.BUTTON.SEND_QUERY' | translate }}
  </button>

  <div>
    <input type="file" class="file-input" (change)="uploadCohort($event)" #fileUpload />
    <button
      mat-raised-button
      class="green"
      type="button"
      mat-icon-button
      (click)="fileUpload.click()"
    >
      {{ 'DATAQUERY.COHORT.UPLOAD' | translate }}
    </button>
  </div>
  <button
    [disabled]="isFeasibilityExistent"
    class="background-color-button"
    (click)="doDownloadQuery()"
    mat-raised-button
    class="green"
  >
    Download
  </button>
  <button
    [disabled]="isFeasibilityExistent"
    class="background-color-button"
    (click)="editFeasibilityQuery()"
    mat-raised-button
    class="green"
  >
    Edit stage
  </button>
  <button
    [disabled]="isFeasibilityExistent"
    class="background-color-button"
    (click)="editFeasibilityQuery()"
    mat-raised-button
    class="green"
  >
    create COHORT
  </button>
</num-action-bar>
