.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.green {
  background-color: #9bb923;
  box-shadow: none;
  color: white;
  height: 42px;
  margin-right: 10px;
  font-size: medium;
  border: 2px solid rgba(155, 184, 35, 1);
  border-radius: 5px;
}

.disabled-green {
  background-color: white;
  box-shadow: none;
  height: 42px;
  margin-right: 10px;
  font-size: medium;
  border: 2px solid rgba(155, 184, 35, 1);
  border-radius: 5px;
}

.file-input {
  display: none;
}
.button-import {
  margin: 0 1em 0 2em;
}
.div-import-from-file {
  margin-top: 1em;
  margin-bottom: 5em;
}
.file-upload {
  text-transform: none !important;
  width: 160px;
  font-size: 13px;
  color: var(--num-color--primary-900);
  display: flex;
}
.file-upload-text {
  margin: 8px 5px;
}
.file-upload:hover {
  font-weight: bold;
}
.file-name {
  color: var(--num-color--accent-300);
  margin: 5px;
  height: 20px;
}
::ng-deep .file-upload fa-icon svg {
  width: 30px !important;
  height: 30px !important;
  color: var(--num-color--primary-900);
}

.empty-cohort-box {
  width: 100%;
  height: 50%;
  margin-top: 10px;
  border: 1px dotted black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.empty-text-align {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure the container has height */
  text-align: center; /* Optional: for centering inline text inside the container */
  font-size: x-large;
}
