:host {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.pr4 {
  padding-right: 4rem;
}

.file-input {
  display: none;
}
.button-import {
  margin: 0 1em 0 2em;
}

.div-import-from-file {
  margin-top: 1em;
  margin-bottom: 5em;
}
.file-upload {
  text-transform: none !important;
  width: 160px;
  font-size: 13px;
  color: var(--num-color--primary-900);
  display: flex;
}
.file-upload-text {
  margin: 8px 5px;
}
.file-upload:hover {
  font-weight: bold;
}
.file-name {
  color: var(--num-color--accent-300);
  margin: 5px;
  height: 20px;
}
::ng-deep .file-upload fa-icon svg {
  width: 30px !important;
  height: 30px !important;
  color: var(--num-color--primary-900);
}

.empty-cohort-box {
  width: 100%;
  height: 50%;
  margin-top: 10px;
  border: 2px dotted black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.empty-text-align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: x-large;
}

.bottom {
  position: fixed;
  width: 81%;
  z-index: 100;
  bottom: 20px;
}

num-button {
  margin-right: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.height-400 {
  height: 400px;
}

.stepper-container {
  display: flex; /* Enable flexbox layout */
  justify-content: start; /* Center horizontally */
  align-items: center; /* Center vertically (optional) */
}

::ng-deep.mat-step-icon {
  height: 35px !important;
  width: 35px !important;
}
