<div class="container">
  <div>
    <mat-stepper
      (selectionChange)="navigatToDataQueryDataSelection()"
      labelPosition="bottom"
      style="width: 90%"
    >
      <mat-step completed>
        <ng-template matStepLabel>
          <num-header>
            {{ 'DATAQUERY.COHORT.HEADER' | translate }}
          </num-header>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <num-header>
            {{ 'DATAQUERY.DATASELECTION.HEADER' | translate }}
          </num-header>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </div>
  <div>
    <num-header-description>
      {{ 'FEASIBILITY.SEARCH.HEADER_INFO' | translate }}
    </num-header-description>
  </div>
  <div style="flex: 1" class="margin-bottom-3">
    <ng-container *ngIf="isFeasibilityExistent$ | async">
      <num-display-feasibility-query [isEditable]="false"></num-display-feasibility-query>
    </ng-container>
    <ng-container *ngIf="(isFeasibilityExistent$ | async) === false" class="empty-cohort-box">
      <num-placeholder-box>
        {{ 'DATAQUERY.COHORT.EMPTY' | translate }}
      </num-placeholder-box>
    </ng-container>
  </div>
  <num-cohort-definition-action-bar class="bottom"></num-cohort-definition-action-bar>
</div>
