.container-search-input {
  position: relative;
  min-height: 6em;
  border: 1px solid var(--num-color--primary);
  border-radius: 5px;
}

.input-field {
  padding: 1em 1em 0 0.2em;
}

.show-above-overlay {
  z-index: 2000;
}

::ng-deep .input-field .mat-form-field-wrapper .mat-form-field-flex {
  border: 1px solid var(--num-color--primary-300);
  padding: 0px 6px;
  border-radius: 10px;
}
::ng-deep .input-field.mat-focused .mat-form-field-wrapper .mat-form-field-flex {
  border: 3px solid var(--num-color--accent-500);
}
::ng-deep .input-field .mat-form-field-wrapper .mat-form-field-underline {
  display: none;
}
::ng-deep .input-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  padding: 0.5em 0;
}
::ng-deep .input-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix svg {
  font-size: 1.5em;
  color: grey;
  margin-right: 0.5em;
}
.header-label {
  /*width: 36%;*/
  min-width: min-content;
  background-color: var(--num-color--accent-600);
  color: var(--num-color--accent-contrast);
  text-align: center;
  font-size: 16px;
  padding: 2px 0px;
}

.button-tree-view {
  background-color: var(--num-color--primary-900);
  margin-top: 12px;
}
.button-tree-view:hover {
  background-color: var(--num-color--primary);
}

.button-tree-view.cdk-focused {
  border-color: var(--num-color--accent-500);
  border-width: 4px !important;
}
.button-tree-view .ng-fa-icon {
  color: var(--num-color--primary-100);
  font-size: 11px;
}
.mat-icon-button {
  height: 44px;
  width: 44px;
  line-height: unset;
  color: var(--num-color--primary);
}
.button-tree-view.mat-icon-button {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin-left: 5%;
}

::ng-deep .container-search-input .mat-checkbox {
  padding: 0 0.5em 0 0;
}
