.container-search-input {
  position: relative;
  min-height: 6em;
  border: 1px solid var(--num-color--accent);
  border-radius: 5px;
}

.input-field {
  padding: 0.8em 1em 0 1.5em;
}

.show-above-overlay {
  z-index: 2000;
}

.header-label {
  width: 33%;
  min-width: min-content;
  background-color: var(--num-color--accent);
  color: var(--num-color--accent-contrast);
  text-align: center;
  border-bottom-right-radius: 5px;
}

.button-tree-view {
  background-color: var(--num-color--accent-300);
}
.button-tree-view:hover {
  background-color: var(--num-color--accent-400);
}

.mat-icon-button {
  height: 44px;
  width: 44px;
  line-height: unset;
  border-radius: 4px;
}

::ng-deep .container-search-input .mat-checkbox {
  padding: 0 0.5em 0 0;
}
