<div
  class="container-search-input"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  [ngClass]="{ 'show-above-overlay': isOverlayOpen }"
>
  <div *ngIf="searchType === 'querybuilder'" class="header-label">
    {{ 'QUERYBUILDER.SEARCH.' + getHeaderLabelKey() | translate }}
  </div>
  <div *ngIf="searchType === 'dataselection'" class="header-label-dataselection">
    {{ 'DATASELECTION.SEARCH.CRITERIA' | translate }}
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly start">
    <div fxLayoutAlign="center">
      <button class="button-tree-view" type="button" mat-icon-button (click)="switchSearchMode()">
        <fa-icon size="2x" icon="folder"></fa-icon>
      </button>
    </div>
    <mat-form-field class="input-field" fxFlex="85">
      <mat-label>{{ 'QUERYBUILDER.SEARCH.LABEL' | translate }}</mat-label>
      <fa-icon matPrefix size="2x" icon="search"></fa-icon>
      <!--suppress HtmlFormInputWithoutLabel -->
      <input matInput type="text" [(ngModel)]="search" />
      <button
        mat-button
        *ngIf="search"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="search = ''"
      >
        <fa-icon size="2x" icon="times"></fa-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayHeight="12em"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOverlayOpen"
>
  <num-search-tree-overlay-content
    *ngIf="searchMode === 'tree'"
    [critType]="critType"
    [query]="query"
    [searchType]="searchType"
    (closeOverlay)="closeOverlay($event)"
  >
  </num-search-tree-overlay-content>
  <num-search-text-overlay-content
    *ngIf="searchMode === 'text'"
    [text]="search"
    [critType]="critType"
    [query]="query"
    [searchType]="searchType"
    (switchSearchMode)="switchSearchMode()"
    (closeOverlay)="closeOverlay($event)"
  >
  </num-search-text-overlay-content>
</ng-template>
