.container-search-input {
  position: relative;
  min-height: 6em;
  border: 1px solid var(--num-color--primary);
  border-radius: 5px;
}

.input-field {
  padding: 1em 1em 0 0.2em;
  font-size: 14px;
}

.show-above-overlay {
  z-index: 2000;
}

::ng-deep .input-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
  border: 1px solid var(--num-color--primary-300);
  padding: 0px 6px;
  border-radius: 10px;
}
::ng-deep .input-field.mat-focused .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
  border: 3px solid var(--num-color--accent-500);
}
::ng-deep .input-field .mat-mdc-text-field-wrapper .mdc-line-ripple {
  display: none;
}
::ng-deep
  .input-field
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-form-field-infix {
  padding: 0.5em 0;
}
::ng-deep
  .input-field
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-form-field-infix
  .mdc-floating-label {
  color: #0000008a;
  top: 45%;
}
::ng-deep
  .input-field
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-form-field-infix
  input {
  padding-top: 7px;
}
::ng-deep
  .input-field
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-form-field-icon-prefix
  svg {
  font-size: 1.5em;
  color: grey;
  margin-right: 0.5em;
}
::ng-deep
  .input-field
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-form-field-icon-suffix {
  width: 48px;
}
.header-label {
  /*width: 36%;*/
  min-width: min-content;
  background-color: var(--num-color--accent-600);
  color: var(--num-color--accent-contrast);
  text-align: center;
  font-size: 16px;
  padding: 2px 0px;
}

.button-tree-view {
  background-color: var(--num-color--primary-900);
  margin-top: 13px;
}
.button-tree-view:hover {
  background-color: var(--num-color--primary);
}

.button-tree-view.cdk-focused {
  border-color: var(--num-color--accent-500);
  border-width: 4px !important;
}
.button-tree-view .ng-fa-icon {
  color: var(--num-color--primary-100);
  font-size: 11px;
}
.mat-mdc-icon-button {
  height: 44px;
  width: 44px;
  line-height: unset;
  color: var(--num-color--primary);
}
.button-tree-view.mat-mdc-icon-button {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin-left: 5%;
}

::ng-deep .container-search-input .mat-mdc-checkbox {
  padding: 0 0.5em 0 0;
}
