:host {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.pr4 {
  padding-right: 4rem;
}

.box-container {
  margin-bottom: 10px;
}
