.checkbox-part {
  padding: 0 0.5em 0 0;
}

.code-part {
  min-width: 6em;
  padding: 0 0.5em;
}

.container {
  margin: 0.5em 0;
  cursor: pointer;
}

::ng-deep .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  background-color: var(--num-color--accent-600) !important;
  border-color: black !important;
}
