:host {
  display: block;
  height: 100%;
}
.container {
  height: 100%;
  padding: 1rem 0;
}
num-concept-filter-table {
  /*height: 100%;*/
}
num-staged-concepts {
  margin-top: 12px;
  height: 40%;
}

.staged-concepts-item {
  flex: 1 1 40%;
}

.overflow {
  overflow: auto;
}
