<div fxFlexFill fxLayout="column" fxLayoutAlign="start">
  <div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <num-header>{{ 'FEASIBILITY.BULK_SEARCH.HEADER' | translate }}</num-header>
      <div class="margin-left-auto">
        <num-toggle-search></num-toggle-search>
      </div>
    </div>
    <num-header-description>
      {{ 'FEASIBILITY.BULK_SEARCH.HEADER_INFO' | translate }}
    </num-header-description>
  </div>
  <div class="search-container width-100" fxLayout="row" fxLayoutAlign="start center">
    <textarea
      class="input-field-area"
      matNativeControl
      type="text"
      name="searchText"
      rows="10"
      cols="100"
      placeholder="{{ 'FEASIBILITY.BULK_SEARCH.INPUT_PLACEHOLDER' | translate }}"
      [(ngModel)]="bulkSearchTermInput"
    ></textarea>
  </div>
  <div class="filter-container">
    <num-search-filter
      *ngFor="let searchFilter of searchFilters$ | async"
      [filter]="searchFilter"
      (selectedFilterChanged)="setElasticSearchFilter($event)"
      [multiSelect]="false"
    ></num-search-filter>
    <num-button
      (click)="submitSearch()"
      [isDisabled]="!(filterAreSet && bulkSearchTermInput?.length > 0)"
    >
      {{ 'FEASIBILITY.SEARCH.SEARCH_BUTTON' | translate }}
    </num-button>
  </div>

  <mat-tab-group *ngIf="searchResultsFound" style="width: 100%; flex: 1">
    <mat-tab label="Gefunden{{ foundCount > 0 ? ' (' + foundCount + ')' : '' }}">
      <num-table
        *ngIf="searchResultsFound"
        (selectedRow)="setSelectedRowItem($event)"
        [tableData]="foundCriteriaTableData"
      ></num-table>
    </mat-tab>
    <mat-tab label="Nicht Gefunden{{ notFoundCount > 0 ? ' (' + notFoundCount + ')' : '' }}">
      <num-table
        *ngIf="searchResultsFound"
        (selectedRow)="setSelectedRowItem($event)"
        [tableData]="notFoundCriteriaTableData"
      ></num-table>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="!searchResultsFound" class="no-results-box">
    <num-placeholder-box class="no-results-text">{{
      'FEASIBILITY.BULK_SEARCH.PLACEHOLDER' | translate
    }}</num-placeholder-box>
  </div>
  <div>
    <num-bulk-search-action-bar></num-bulk-search-action-bar>
  </div>
</div>
