<div fxFlexFill fxLayout="column" fxLayoutAlign="start">
  <div>
    <num-header>{{ 'FEASIBILITY.BULK_SEARCH.HEADER' | translate }}</num-header>
    <num-header-description>
      {{ 'FEASIBILITY.BULK_SEARCH.HEADER_INFO' | translate }}
    </num-header-description>
  </div>
  <div class="search-container width-100" fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field style="height: 200px; width: 100%">
      <textarea
        matInput
        class="input-field"
        name="searchText"
        [(ngModel)]="bulkSearchTermInput"
      ></textarea>
    </mat-form-field>

    <num-button
      (click)="submitSearch()"
      [isDisabled]="!(filterAreSet && bulkSearchTermInput?.length > 0)"
    >
      {{ 'FEASIBILITY.SEARCH.SEARCH_BUTTON' | translate }}
    </num-button>

    <div class="margin-left-auto">
      <num-toggle-search></num-toggle-search>
    </div>
  </div>

  <div class="filter-container">
    <num-search-filter
      *ngFor="let searchFilter of searchFilters$ | async"
      [filter]="searchFilter"
      (selectedFilterChanged)="setElasticSearchFilter($event)"
      [multiSelect]="false"
    ></num-search-filter>
  </div>

  <num-table
    style="flex: 1"
    *ngIf="searchResultsFound"
    (selectedRow)="setSelectedRowItem($event)"
    [tableData]="adaptedData"
  ></num-table>

  <div *ngIf="!searchResultsFound" class="no-results-box">
    <num-placeholder-box class="no-results-text">{{
      'FEASIBILITY.BULK_SEARCH.PLACEHOLDER' | translate
    }}</num-placeholder-box>
  </div>
  <div>
    <num-bulk-search-action-bar></num-bulk-search-action-bar>
  </div>
</div>
