
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
::ng-deep .mat-checkbox-layout {
  margin-top: -6px;
}
.mat-mdc-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.checkbox-line {
  margin: 0.3em 0.1em;
  height: 20px;
}
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
::ng-deep .mat-checkbox-ripple {
  height: 39px !important;
  width: 39px !important;
}
