.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

::ng-deep .mdc-tab {
  max-width: fit-content;
  padding: 0 30px;
}

.filter-tabs-container {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.header-container {
  width: 100%;
  overflow: hidden;
  flex: 0 1 16%;
}

.information-templates {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}
