<div fxLayout="row">
  <div fxLayout="column">
    <input type="file" class="file-input" (change)="doImportFromFile($event)" #fileUpload />
    <num-button class="button-upload" [type]="'primary'" (click)="fileUpload.click()">
      {{ 'BUTTON.IMPORT_FROM_FILE' | translate }}
    </num-button>
  </div>
  <div class="file-name">{{ fileName }}</div>
  <num-button
    [type]="'primary'"
    [isDisabled]="actionDisabled"
    (click)="!actionDisabled && doImport()"
    class="button-import"
  >
    {{ 'BUTTON.IMPORT_DATASELECTION' | translate }}
  </num-button>
</div>
