<div class="query-box" fxLayout="row" fxFlexAlign="center">
  <div fxLayout="row" fxFlex="80" fxLayoutAlign="center" class="text-part" (click)="loadTemplate()">
    <img
      *ngIf="isInvalid"
      src="assets/img/alert.png"
      alt="Validation Alert"
      class="invalid-Criterion"
    />
    <div fxLayoutAlign="center center" (click)="$event.stopPropagation()">
      <mat-form-field class="input-field" fxLayoutAlign="center center" fxFill>
        <input #inputLabel matInput type="text" value="{{ singleTemplate.label }}" />
      </mat-form-field>
    </div>
    <div fxFlexAlign="center" class="query-box-comment">{{ singleTemplate.comment }}</div>
    <div fxFlexAlign="center" class="query-box-date">
      {{ singleTemplate.lastModified | date : 'dd.MM.yyyy' }}
    </div>
  </div>
  <div fxLayout="row" fxFlex="20" fxLayoutAlign="end space-between">
    <div fxLayoutAlign="center">
      <button (click)="saveTemplate()" type="button" mat-icon-button>
        <fa-icon class="button" size="sm" icon="save"></fa-icon>
      </button>
    </div>
    <div fxLayoutAlign="center">
      <button (click)="deleteTemplate()" type="button" mat-icon-button>
        <fa-icon class="button" size="sm" icon="times"></fa-icon>
      </button>
    </div>
  </div>
</div>
