.query-box {
  border: 1px solid var(--num-color--accent-400);
  border-left: 0.6em solid var(--num-color--accent-400);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 10px;
  margin: 5px 0;
}

.text-part:hover {
  background-color: #f1f3f4;
}
.query-box-title {
  width: 50%;
  font-size: 16px;
}
.query-box-date {
  width: 10%;
  text-align: center;
}
.query-box-comment {
  width: 40%;
  margin-top: 10px;
  font-size: 12px;
}
.invalid-Criterion {
  width: 20px;
  margin-right: 5px;
}

.cancel-part {
  width: 20%;
}

.button:hover {
  background-color: #c2c2c2;
}

.button-background {
  background-color: var(--num-color--accent-400);
}

.width-100 {
  width: 100%;
}

::ng-deep .input-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
  border: 1px solid var(--num-color--primary-300);
  padding: 0px 6px;
  border-radius: 10px;
}

::ng-deep .input-field.mat-focused .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
  border: 3px solid var(--num-color--accent-500);
}
::ng-deep .input-field .mat-mdc-text-field-wrapper .mdc-line-ripple {
  display: none;
}
