.container {
  min-width: 50em;
  max-height: 75vh;
}

.crit-list {
  overflow-y: auto;
}

.mat-icon-button {
  line-height: unset;
  border-radius: 0;
}

.button-save-all {
  margin-right: 1em;
}
.mandatory-div {
  font-size: 15px;
}
.mandatory-star {
  color: red;
  margin-left: 1em;
}
