<!--suppress HtmlFormInputWithoutLabel -->
<div *ngIf="timeRestriction">
  <div>
    <mat-radio-group [(ngModel)]="timeRestriction.tvpe" fxLayout="column">
      <mat-radio-button [value]="optionEver">{{
        'QUERYBUILDER.EDIT.TIMERESTRICTION.EVER' | translate
      }}</mat-radio-button>
      <mat-radio-button [value]="optionLatest">{{
        'QUERYBUILDER.EDIT.TIMERESTRICTION.LATEST' | translate
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>{{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.LABEL' | translate }}</mat-label>
      <mat-date-range-input [rangePicker]="campaignOnePicker">
        <input
          matStartDate
          placeholder="{{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.FROM' | translate }}"
          [(ngModel)]="timeRestriction.minDate"
        />
        <input
          matEndDate
          placeholder="{{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.TO' | translate }}"
          [(ngModel)]="timeRestriction.maxDate"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>
