.container {
  margin: 1em 0 0 0;
}

.container > div:first-child {
  padding: 1em;
  border: 2px solid var(--num-color--accent-200);
  border-radius: 5px;
}

.mat-date-range-input {
  width: 15em;
}

.mat-radio-group {
  padding: 0 0 1em 0;
}

.mat-radio-button {
  padding: 0 0 0.5em 0;
  width: max-content;
}
::ng-deep num-edit-time-restriction .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.operator-part {
  padding-right: 2em;
  width: 11em;
}
.form-field-from,
.form-field-to {
  margin: 0 1em;
  width: 11em;
}
::ng-deep mat-datepicker-toggle > .mat-icon-button {
  padding-top: 1em;
}
::ng-deep mat-datepicker-toggle > .mat-icon-button > .mat-button-ripple.mat-ripple,
::ng-deep mat-datepicker-toggle > .mat-icon-button > .mat-button-focus-overlay {
  top: 7px;
  bottom: -7px;
}

mat-expansion-panel {
  box-shadow: 0px 3px 1px -2px var(--num-color--accent-200),
    0px 2px 2px 0px var(--num-color--accent-200), 0px 1px 5px 0px var(--num-color--accent-200) !important;
}
.mat-expansion-panel-header-title {
  font-size: 16px;
  font-weight: normal;
}
