.container {
  margin: 1em 0 0 0;
}

.container > div:first-child {
  padding: 1em;
  border: 2px solid var(--num-color--accent-200);
  border-radius: 5px;
}

.mat-date-range-input {
  width: 15em;
}

.mat-radio-group {
  padding: 0 0 1em 0;
}

.mat-radio-button {
  padding: 0 0 0.5em 0;
  width: max-content;
}
::ng-deep num-edit-time-restriction .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
