<!--suppress HtmlFormInputWithoutLabel -->
<div *ngIf="timeRestriction" [@.disabled]="disableAnimation" class="container">
  <!--<div>
    <mat-radio-group [(ngModel)]="timeRestriction.tvpe" fxLayout="column">
      <mat-radio-button [value]="optionEver">{{
        'QUERYBUILDER.EDIT.TIMERESTRICTION.EVER' | translate
      }}</mat-radio-button>
      <mat-radio-button [value]="optionLatest">{{
        'QUERYBUILDER.EDIT.TIMERESTRICTION.LATEST' | translate
      }}</mat-radio-button>
    </mat-radio-group>
  </div>-->

  <mat-expansion-panel togglePosition="before" [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.TITLE' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field appearance="outline" class="operator-part">
        <!--<mat-label>{{ 'QUERYBUILDER.EDIT.OPERATOR' | translate }}</mat-label>-->
        <mat-select [(value)]="timeRestriction.tvpe">
          <mat-option *ngFor="let option of timeRestrictionOptions" [value]="option">
            {{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.' + option | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-from" appearance="outline">
        <mat-label *ngIf="timeRestriction.tvpe === timeRestrictionType.BETWEEN">{{
          'QUERYBUILDER.EDIT.TIMERESTRICTION.FROM' | translate
        }}</mat-label>
        <mat-label *ngIf="timeRestriction.tvpe !== timeRestrictionType.BETWEEN">{{
          'QUERYBUILDER.EDIT.TIMERESTRICTION.' + timeRestriction.tvpe | translate
        }}</mat-label>
        <input
          matInput
          [matDatepicker]="dateStartPicker"
          [(ngModel)]="timeRestriction.minDate"
          (dateChange)="disableReset = false"
        />
        <mat-datepicker-toggle matSuffix [for]="dateStartPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateStartPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        *ngIf="timeRestriction.tvpe === timeRestrictionType.BETWEEN"
        class="form-field-to"
        appearance="outline"
      >
        <mat-label>{{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.TO' | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="dateEndPicker"
          [(ngModel)]="timeRestriction.maxDate"
          (dateChange)="disableReset = false"
        />
        <mat-datepicker-toggle matSuffix [for]="dateEndPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateEndPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</div>
