.container {
  margin: 1em 0 0 0;
}

.container > div:first-child {
  padding: 1em;
  border: 2px solid var(--num-color--accent-200);
  border-radius: 5px;
}

.mat-date-range-input {
  width: 15em;
}

.mat-mdc-radio-group {
  padding: 0 0 1em 0;
}

.mat-mdc-radio-button {
  padding: 0 0 0.5em 0;
  width: max-content;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep num-edit-time-restriction .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.operator-part {
  padding-right: 1.5em;
  width: 11em;
}
.form-field-from,
.form-field-to {
  margin: 0 1em;
  width: 11em;
}
::ng-deep mat-datepicker-toggle > .mat-mdc-icon-button {
  padding-top: 1em;
}
::ng-deep mat-datepicker-toggle > .mat-mdc-icon-button > .mat-button-ripple.mat-ripple,
::ng-deep mat-datepicker-toggle > .mat-icon-button > .mat-button-focus-overlay {
  top: 7px;
  bottom: -7px;
}

mat-expansion-panel {
  box-shadow: 0px 3px 1px -2px var(--num-color--accent-200),
    0px 2px 2px 0px var(--num-color--accent-200), 0px 1px 5px 0px var(--num-color--accent-200) !important;
}
.mat-expansion-panel-header-title {
  font-size: 16px;
  font-weight: normal;
}
.mat-expansion-panel-header {
  height: 48px;
}
::ng-deep mat-datepicker-content {
  box-shadow: 0 2px 4px -1px #0003,0 4px 5px #00000024,0 1px 10px #0000001f;
  background: white;
}
::ng-deep .mat-calendar-body-cell-content {
  border-color: transparent;
}
::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: #00000061;
}
::ng-deep .mat-calendar-body-selected {
  background-color: var(--num-color--accent-600) !important;
  color: white;
}
::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: var(--num-color--accent-200);
}
