<div>
  <num-shared-concept-filter
    *ngIf="attributeFilter.isConceptSet()"
    [conceptFilter]="attributeFilter.getConcept()"
    [allowedConceptUri]="attributeFilter.getConcept().getAllowedConceptUri()"
    (changedSelectedConcepts)="test($event)"
  >
  </num-shared-concept-filter>
  <num-concept
    *ngIf="attributeFilter.isConceptSet()"
    [attributeCodeDisplay]="attributeFilter.getAttributeCode().getDisplay()"
    [conceptFilter]="attributeFilter.getConcept()"
    (changedConceptFilter)="updateConceptFilter($event)"
  ></num-concept>
  <num-quantity
    *ngIf="attributeFilter.getQuantity()"
    (quantityFilterChange)="updateQuantityFilter($event)"
    [quantityFilter]="attributeFilter.getQuantity()"
  ></num-quantity>
</div>
