::ng-deep .mdc-tab {
  max-width: fit-content;
  padding: 0 30px;
}

.full {
  width: 100%;
  height: 100%;
}
::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  font-weight: 500;
  font-size: medium;
  color: rgba(90, 121, 175, 1);
}
