<div fxFlexFill fxLayout="column" fxLayoutAlign="start" class="pr4">
  <div style="margin-top: 5px">
    <num-header>{{ 'QUERYBUILDER.SEARCH.HEADER' | translate }}</num-header>
    <num-header-description>
      {{ 'QUERYBUILDER.SEARCH.HEADER_INFO' | translate }}
    </num-header-description>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" class="searchbar-div">
    <num-searchbar
      fxFlex="50"
      [searchText]="searchText$ | async"
      [label]="'QUERYBUILDER.SEARCH.SEARCHBAR'"
      class="padding-right-1 width-100"
      (searchTextChange)="startElasticSearch($event)"
    >
    </num-searchbar>
    <num-button type="blue" (click)="startElasticSearch(searchtext)">
      {{ 'QUERYBUILDER.SEARCH.SEARCH_BUTTON' | translate }}
    </num-button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <ng-container #outlet [ngTemplateOutlet]="content"></ng-container>
    <ng-template #content>
      <num-search-filter
        *ngFor="let searchFilter of searchFilters$ | async"
        [filter]="searchFilter"
        (selectedFilterChanged)="setElasticSearchFilter($event)"
      ></num-search-filter>
    </ng-template>
    <num-button type="blue" (click)="resetFilter()">
      {{ 'QUERYBUILDER.SEARCH.BUTTON.RESET' | translate }}
    </num-button>
  </div>

  <mat-drawer-container *ngIf="searchResultsFound">
    <mat-drawer #drawer position="end" mode="side">
      <div fxLayout="column" *ngIf="listItems" class="padding-top-50">
        <button (click)="closeSidenav()" class="cancel-button" fxLayoutAlign="center end">
          Back to list
          <fa-icon class="close-icon" icon="times" [fixedWidth]="true"></fa-icon>
        </button>
        <num-list-item-details [listItemDetails$]="selectedDetails$" class="padding-left-2">
        </num-list-item-details>
      </div>
    </mat-drawer>
    <mat-drawer-content *ngIf="listItems?.length > 0" class="content-height-88">
      <num-table
        (selectedRow)="setSelectedRowItem($event)"
        (rowClicked)="setClickedRow($event)"
        [tableData]="adaptedData"
        fxFlexFill
      ></num-table>
    </mat-drawer-content>
  </mat-drawer-container>
  <div *ngIf="!searchResultsFound" class="no-results-box">
    <num-placeholder-box class="no-results-text"
      >{{ 'QUERYBUILDER.SEARCH.EMPTY' | translate }} "<strong>{{ searchText$ | async }}</strong
      >"</num-placeholder-box
    >
  </div>
  <num-search-action-bar></num-search-action-bar>
</div>
