.padding-right-1 {
  padding-right: 1rem;
}

.width-100 {
  width: 100%;
}
.pr4 {
  padding-right: 4rem;
}
.height-59 {
  height: 42px;
  border-radius: 5px;
  background: var(--mid-grey, #c5cacf);
  font-size: medium;
  color: white;
}

.mat-mdc-icon-button {
  height: 44px;
  width: 44px;
  line-height: unset;
  color: var(--num-color--primary);
}

.mat-drawer {
  width: 40%;
}

.scrollbar {
  height: 500px;
  overflow-y: scroll;
}

.padding-left-2 {
  padding-left: 2rem;
}

.padding-top-50 {
  padding-top: 50px;
}

.cancel-button {
  width: auto;
  align-self: end;
  background-color: white;
  border: 0px;
  text-decoration: underline #5170a8;
  padding-bottom: 10px;
}

.cancel-button:hover {
  transform: translateY(-3px);
  color: #5288b7;
}

.reset-button {
  background-color: white;
  box-shadow: none;
  color: #9bb923;
  height: 42px;
  margin-right: 10px;
  font-size: medium;
  border: 2px solid rgba(155, 184, 35, 1);
  align-self: baseline;
}

.close-icon {
  font-size: medium;
  color: #5170a8;
  padding-left: 10px;
}

.mat-drawer-content {
  overflow-y: scroll;
  //min-height: 400px;
}

.searchbar-div {
  margin-bottom: 2em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.content-height-100 {
  max-height: 500px;
  overflow: scroll;
  /*min-height: 500px;*/
  overflow-x: hidden;
}

/* Scrollbar design */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: #c5cacf;
}

::-webkit-scrollbar-track-piece {
  color: red;
}

.drawer-container {
  height: 100%;
  background-color: white;
}

.search-warning {
  color: red;
}

::ng-deep .mat-drawer-container {
  height: 78%;
}

.no-results-box {
  height: 50%;
  width: 100%;
}

.icon-design {
  padding-top: 12px;
  padding-left: 10px;
  min-width: 40px;
  color: #c2c2c2;
  font-size: medium;
}
