.padding-right-1 {
  padding-right: 1rem;
}

.search-container {
  display: flex;
  justify-content: start;
}

.filter-container {
  display: flex;
  align-content: space-around;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.mat-mdc-icon-button {
  height: 44px;
  width: 44px;
  line-height: unset;
  color: var(--num-color--primary);
}

.mat-drawer {
  width: 50%;
}

.scrollbar {
  height: 500px;
  overflow-y: scroll;
}

.padding-left-2 {
  padding-left: 2rem;
}

.cancel-button {
  background-color: white;
  height: 4%;
  align-self: flex-end;
  border: 0px;
  text-decoration: underline #5170a8;
}

.cancel-button:hover {
  transform: translateY(-3px);
  color: #5288b7;
}

.reset-button {
  background-color: white;
  box-shadow: none;
  color: #9bb923;
  height: 42px;
  margin-right: 10px;
  font-size: medium;
  border: 2px solid rgba(155, 184, 35, 1);
  align-self: baseline;
}

.close-icon {
  font-size: medium;
  color: #5170a8;
  padding-left: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.content-height-100 {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

/* Scrollbar design */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: #c5cacf;
}

::-webkit-scrollbar-track-piece {
  color: red;
}

.drawer-container {
  height: 100%;
  background-color: white;
}

.search-warning {
  color: red;
}

.no-results-box {
  height: 50%;
  width: 100%;
  flex: 1;
}

.icon-design {
  padding-top: 12px;
  padding-left: 10px;
  min-width: 40px;
  color: #c2c2c2;
  font-size: medium;
}

.width-1000 {
  width: 100%;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
  height: 100%;
}

.orginal-item {
  font-weight: 500;
  font-size: 16px;
}

.header-container {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
}
