.link-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 10px 16px;
  border-radius: 6px;
  font-family: sans-serif;
}

.link-info {
  display: flex;
  align-items: center;
  gap: 8px;

  .child-badge {
    background-color: #e0e9ff;
    color: #0045ad;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
  }
}

.type-tag {
  .type-label {
    background: #eef1f7;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    color: #4b5563;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;

  .delete-link {
    color: #3b82f6;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;

    .icon-trash {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-size: contain;
    }
  }

  .icon {
    color: var(--num-color--primary-blue);
  }
}

.arrow-icon {
  color: var(--num-color--primary-blue);
  font-size: 12px; // or try 0.8rem
  font-weight: 300;
  transform: translateY(-1px); // aligns better vertically
}
