<mat-tab-group
  animationDuration="0ms"
  disableRipple="true"
  mat-stretch-tabs="false"
  [selectedIndex]="1"
>
  <mat-tab label="{{ 'INFORMATION.TIME_RESTRICTION.TITLE' | translate }}">
    <num-information-section>
      <span slot="title">{{ 'INFORMATION.TIME_RESTRICTION.TITLE' | translate }}</span>
      {{ 'INFORMATION.TIME_RESTRICTION.DESCRIPTION' | translate }}
    </num-information-section>
  </mat-tab>

  <mat-tab label="{{ 'EDITOR.CONTENT.PROFILE.TAB_LABEL.TIMERESTRICTION' | translate }}">
    <num-edit-time-restriction
      [timeRestriction]="profileTimeRestrictionFilter.getTimeRestriction()"
      (timeRestrictionChanged)="emitProfileTimeRestriction($event)"
    >
    </num-edit-time-restriction>
  </mat-tab>
</mat-tab-group>
