<num-action-bar>
  <num-button
    type="green"
    (click)="doSendRequest()"
    [isDisabled]="(isFeasibilityQueryValid$ | async) === false"
    class="margin-right-10"
  >
    {{ 'FEASIBILITY.EDITOR.ACTION_BAR.SEND_QUERY' | translate }}
  </num-button>
  <num-button
    type="green"
    (click)="navigateToDataRequestCohortDefinition()"
    class="margin-right-10"
  >
    {{ 'FEASIBILITY.EDITOR.ACTION_BAR.DATA_REQUEST' | translate }}
  </num-button>
  <num-button
    type="green"
    class="margin-right-10"
    (click)="saveDataQuery()"
    [isDisabled]="
      !((validDataQuery$ | async).feasibilityQuery || (validDataQuery$ | async).dataSelection)
    "
  >
    {{ 'FEASIBILITY.EDITOR.ACTION_BAR.SAVE_DATAQUERY' | translate }}
  </num-button>
  <num-button
    icon="arrow-up"
    type="green"
    class="margin-right-10"
    (click)="navigateToSearch()"
    [matBadge]="(stageArray$ | async)?.length"
    matBadgePosition="above after"
  >
    {{ 'FEASIBILITY.EDITOR.ACTION_BAR.BACK_TO_SEARCH' | translate }}
  </num-button>
</num-action-bar>
