<div class="form-manager">
  <div class="form-container" *ngFor="let formGroup of forms.controls; let i = index">
    <num-app-dynamic-form
      [setFormGroup]="formGroup"
      (profileSelected)="handleProfileSelection($event)"
      [isProfileSelected]="determineProfileSelectedState(formGroup)"
    />
    <num-button class="remove-button" (click)="removeFormGroup(i)" *ngIf="forms.length > 1"
      >X</num-button
    >
  </div>

  <div class="add-form-container">
    <button mat-fab class="add-form-button" (click)="addFormGroup()" [disabled]="!showAddButton">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div fxLayout="row" class="div-preview">
    <num-button (click)="previewForms()" class="preview-button">Preview</num-button>
  </div>
</div>
