<div fxLayout="column" fxLayoutAlign="start" class="criteria-container">
  <div *ngIf="!isEditable" class="lock-div"></div>
  <div *ngFor="let item of processedCriteria$ | async">
    <num-criteria-box [criterion]="item.criterion" cdkDrag></num-criteria-box>

    <!-- Conditional rendering based on the lastInner property -->
    <num-bool-logic-switch
      *ngIf="!item.lastInner"
      [position]="'inner'"
      [label]="getInnerLabelKey()"
      (switched)="splitInnerArray(item.outerIndex, item.innerIndex)"
    ></num-bool-logic-switch>

    <!-- Conditional rendering based on the lastOuter property -->
    <ng-container *ngIf="item.lastInner && !item.lastOuter">
      <num-bool-logic-switch
        [position]="'outer'"
        [label]="getOuterLabelKey()"
        (switched)="joinInnerArrays(item.outerIndex)"
      ></num-bool-logic-switch>
    </ng-container>
  </div>

  <!-- Display message when criteriaArray$ is empty -->
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="(criteriaArray$ | async)?.length === 0"
    class="no-selected-criteria"
  >
    <div fxLayout="row" fxLayoutAlign="space-around center" class="wrapper">
      <div fxLayout="row" fxLayoutAlign="center center" class="wrapper-solid-dashed-box">
        <div class="solid-box">
          <fa-icon class="icon drag-handle" size="m" icon="expand-arrows-alt"></fa-icon>
        </div>
        <div class="dashed-box"></div>
      </div>
      <div class="text-wrapper">Zum Sortieren “Drag & Drop” nutzen.</div>
    </div>
  </div>
</div>
