.dropped-item {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.criteria-container {
  padding: 2px;
  width: 550px;
  height: 400px;
  position: relative;
}
.lock-div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
