.container {
  border-top: 2px solid var(--num-color--accent-200);
  border-bottom: 2px solid var(--num-color--accent-200);

  overflow-x: auto;
}

.category-box {
  cursor: pointer;
}

.short-box {
  padding: 0.5em 1em;
  background-color: var(--num-color--accent-200);
  color: white;
}

.display-box {
  padding: 0.4em 0.5em;
  margin: 0.4em 0.5em;
  min-width: 80px;
  text-align: center;
  border: 1px solid var(--num-color--accent-A200);
  border-radius: 5px;
}
.display-label-box {
  padding: 0.45em 0.5em 0.4em 0.5em;
  margin: 0.4em 0.5em;
  min-width: 80px;
  text-align: center;
}
.selected-category {
  background-color: var(--num-color--accent-100);
  color: var(--num-color--primary-100);
}
