<div *ngFor="let singleQuery of savedQueries; index as i" class="query-box" fxLayout="row">
  <num-single-query
    [singleQuery]="singleQuery"
    [index]="i"
    class="width-100"
    (reloadQueries)="reloadQueries($event)"
    (editMode)="editModeQuery($event, i)"
  >
  </num-single-query>
  <num-query-box-end
    [query]="singleQuery"
    [queryType]="'query'"
    [index]="i"
    [editMode]="editModusQuery"
    (reloadQueries)="reloadQueries($event)"
  >
  </num-query-box-end>
</div>
<div class="trenner"></div>
<h3>{{ 'QUERYBUILDER.OVERVIEW.SAVED_TEMPLATES' | translate }}</h3>
<div *ngFor="let singleTemplate of savedTemplates; index as i" class="query-box" fxLayout="row">
  <num-single-template
    [singleTemplate]="singleTemplate"
    [index]="i"
    (reloadQueries)="reloadQueries($event)"
    (editMode)="editModeTemplate($event, i)"
    class="width-100"
  >
  </num-single-template>
  <num-query-box-end
    [query]="singleTemplate"
    [queryType]="'template'"
    [index]="i"
    [editMode]="editModusTemplate"
    (reloadQueries)="reloadQueries($event)"
  >
  </num-query-box-end>
</div>
