:host {
  width: 100%;
}

.query-box {
  border: 1px solid var(--num-color--accent-400);
  border-left: 0.6em solid var(--num-color--accent-400);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 10px;
  margin: 8px 0;
  height: 3em;
}
.query-box:hover {
  box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.saved-queries {
  margin-top: 3em;
}
.trenner {
  height: 40px;
}
.file-input {
  display: none;
}
.button-import {
  margin: 0 1em 0 2em;
}
.div-import-from-file {
  margin-top: 1em;
  margin-bottom: 5em;
}
.file-upload {
  text-transform: none !important;
  width: 160px;
  font-size: 13px;
  color: var(--num-color--primary-900);
  display: flex;
}
.file-upload-text {
  margin: 8px 5px;
}
.file-upload:hover {
  font-weight: bold;
}
.file-name {
  color: var(--num-color--accent-300);
  margin: 5px;
  height: 20px;
}
::ng-deep .file-upload fa-icon svg {
  width: 30px !important;
  height: 30px !important;
  color: var(--num-color--primary-900);
}

.background-color-end {
  background-color: #f1f3f4;
}

.width-100 {
  width: 100%;
}
