<div *ngFor="let singleQuery of savedQueries; index as i" class="query-box" fxLayout="row">
  <num-query-box-front [isInvalid]="singleQuery.isValid"> </num-query-box-front>
  <num-single-query
    (click)="loadQueryIntoFeasibilityPage(singleQuery)"
    [singleQuery]="singleQuery"
    style="width: 100%"
  >
  </num-single-query>
  <num-query-box-end (click)="deleteQuery(singleQuery.id)"> </num-query-box-end>
</div>
<div class="trenner"></div>
<h3>{{ 'QUERYBUILDER.OVERVIEW.SAVED_TEMPLATES' | translate }}</h3>
<div *ngFor="let singleTemplate of savedTemplates; index as i" class="query-box" fxLayout="row">
  <num-query-box-front [isInvalid]="singleTemplate.isValid"> </num-query-box-front>
  <num-single-template
    (click)="loadTemplateIntoFeasibilityPage(singleTemplate)"
    [singleTemplate]="singleTemplate"
    style="width: 100%"
  >
  </num-single-template>
  <num-query-box-end (click)="deleteTemplate(singleTemplate.id)"> </num-query-box-end>
</div>
