.background {
  padding: 16px;
  background-color: rgb(90, 121, 175, 0.1);
  border: 1px solid rgb(90, 121, 175, 0.1);
  border-radius: 4px;
  margin-bottom: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 100%;
}
