<!-- dynamic-form.component.html -->
<form [formGroup]="dynamicForm" class="form-background">
  <app-profile-section [formGroup]="dynamicForm" class="app-profile-section"></app-profile-section>
  <section *ngIf="isProfileSelected">
    <mat-card>
      <mat-card-header *ngIf="whereControls.length > 0">
        <mat-card-title>Filters</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container formArrayName="where" *ngFor="let control of whereControls; let i = index">
          <ng-container [formGroupName]="i">
            <ng-container [ngSwitch]="control.get('type').value">
              <mat-form-field *ngSwitchCase="'text'" appearance="outline">
                <mat-label>{{ control.get('label').value }}</mat-label>
                <input matInput [formControlName]="control.get('value')" />
              </mat-form-field>
              <ng-container *ngSwitchCase="'date'">
                <mat-form-field appearance="fill">
                  <mat-label>{{ control.get('label').value }}</mat-label>
                  <input matInput [matDatepicker]="pickerStart" [formControlName]="'afterDate'" />
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart="matDatepicker"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>{{ control.get('label').value }} End</mat-label>
                  <input matInput [matDatepicker]="pickerEnd" [formControlName]="'beforeDate'" />
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd="matDatepicker"></mat-datepicker>
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="'coding'">
                <app-value-set-filter
                  [formGroup]="control"
                  [valueSetUrl]="control.get('valueSetUrls').value[0]"
                  [formArrayName]="'value'"
                ></app-value-set-filter>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </section>

  <!-- FHIR Path Checkboxes Rendering -->
  <section *ngIf="isProfileSelected">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Select Details to Extract</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="selectable-container">
          <ng-container *ngFor="let columnGroup of selectionColumnsControls">
            <app-fhir-path
              [label]="columnGroup.get('name').value"
              [disabled]="columnGroup.get('disabled').value"
              [infoText]="columnGroup.get('info').value"
              [formControl]="columnGroup.get('selected')"
              [hidden]="columnGroup.get('hidden').value"
            >
            </app-fhir-path>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <!-- Advanced FHIR Path Inputs Section -->
  <!--  <ng-container *ngIf='isProfileSelected'>-->
  <!--    <mat-expansion-panel [togglePosition]="'before'">-->
  <!--      <mat-expansion-panel-header>-->
  <!--        <mat-panel-title>-->
  <!--          Advanced FHIR Path Inputs:-->
  <!--        </mat-panel-title>-->
  <!--      </mat-expansion-panel-header>-->
  <!--      <div *ngIf="dynamicForm.get('advanced') as advancedArray">-->
  <!--        <app-fhir-path-expressions [form]='advancedArray'></app-fhir-path-expressions>-->
  <!--      </div>-->
  <!--    </mat-expansion-panel>-->
  <!--  </ng-container>-->
</form>
