.mat-divider {
  border: 0;
  border-bottom: 0px solid #0000001f;
  width: 100%;
  height: 24px;
  align-content: center;
}

.container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.entry-layout {
  border-radius: 4px;
  padding: 3%;
  height: 48px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(90, 121, 175, 0.1);
  color: black;
}

.highlight:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.display-name {
  cursor: pointer;
  width: max-content;
  max-width: 80%;
}

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
