.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.background {
  background-color: rgba(90, 121, 175, 0.1);
  padding: 1%;
  overflow: auto;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 4px;
}
