<div class="container" fxLayout="column">
  <div class="button-container" fxLayout="row" fxLayoutAlign="space-between start">
    <num-button>
      {{ 'QUERYEDITOR.PREVIOUS' | translate }}
    </num-button>
    <num-button>
      {{ 'QUERYEDITOR.NEXT' | translate }}
    </num-button>
  </div>
  <div class="background">
    <ng-container>
      <!-- <num-criterion [id]="id"></num-criterion> -->
    </ng-container>
    <ng-container *ngIf="profile$ | async as profile">
      <num-profile
        class="width-100"
        (profileChanged)="updateProfile($event)"
        [profile]="profile"
      ></num-profile>
    </ng-container>
  </div>
</div>

<num-edit-action-bar (save)="onSave()" (cancel)="onCancel()"></num-edit-action-bar>
