/* Base layout styles */
.layout {
  width: 100%;
  border-radius: 5px;
  height: 80px;
  border: 1px solid #0000001f;
  background-color: #f9fcf1;
}

.padding-left-right-5px {
  padding-left: 2%;
  padding-right: 2%;
}

.content-container {
  overflow: hidden;
  max-width: 100%;
}
