.container {
  width: 70vw;
  min-height: 10em;

  background-color: white;
}

.search-results {
  max-height: 40vh;
  overflow-y: auto;
}

.hint-empty-text {
  width: 100%;
  height: 9em;
}

.button-tree-view {
  background-color: var(--num-color--accent-300);
}
