<div *ngIf="text" class="container">
  <num-search-text-header
    *ngIf="text"
    [categories]="categories"
    (switchCategory)="readTextData($event)"
  >
  </num-search-text-header>

  <!--<div *ngIf="!text" fxLayout="row" fxLayoutAlign="center center" class="hint-empty-text">
    <div>
      {{ 'QUERYBUILDER.HINT.SEARCH_TEXT_NO_INPUT' | translate }}
      <button class="button-tree-view" type="button" mat-icon-button (click)="doSwitchSearchMode()">
        <fa-icon size="2x" icon="folder"></fa-icon>
      </button>
    </div>
  </div>-->

  <div *ngIf="text" class="search-results">
    <div *ngFor="let termEntry of resultList">
      <num-search-text-term-entry
        [node]="termEntry"
        (choose)="newOpenDetailsPopUp($event)"
      ></num-search-text-term-entry>
    </div>
  </div>
</div>
