.container {
  width: 70vw;
  min-height: 12em;
  background-color: white;
  max-width: 1200px;
}

.search-results {
  max-height: 50vh;
  overflow-y: auto;
  padding: 1em;
}

.hint-empty-text {
  width: 100%;
  height: 9em;
}

.button-tree-view {
  background-color: var(--num-color--accent-300);
}

.mat-icon-button {
  height: 44px;
  width: 44px;
  line-height: unset;
  border-radius: 0;
}
