.container {
  width: 70vw;
  min-height: 12em;
  background-color: white;
  max-width: 1200px;
  box-shadow: 0px 11px 15px -4px rgba(0, 0, 0, 0.2), 0px 24px 38px 5px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.search-results {
  max-height: 50vh;
  overflow-y: auto;
  padding: 1em;
}

.hint-empty-text {
  width: 100%;
  height: 9em;
}

.button-tree-view {
  margin-left: 10px;
  background-color: var(--num-color--primary-900);
}
.button-tree-view:hover {
  background-color: var(--num-color--primary);
}
.ng-fa-icon {
  color: var(--num-color--primary-100);
  font-size: 11px;
}
.mat-icon-button {
  height: 44px;
  width: 44px;
  line-height: unset;
  border-radius: 4px;
}
