<h2>{{ 'QUERYBUILDER.OVERVIEW.SAVE_HEADER' | translate }}</h2>
<div class="save-query-box">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-form-field class="input-field">
      <mat-label>{{ 'QUERYBUILDER.OVERVIEW.TITLE_LABEL' | translate }}</mat-label>
      <!--suppress HtmlFormInputWithoutLabel -->
      <input matInput type="text" [(ngModel)]="title" />
    </mat-form-field>
    <mat-form-field class="input-field" appearance="fill">
      <mat-label>{{ 'QUERYBUILDER.OVERVIEW.COMMENT_LABEL' | translate }}</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="5"
        [(ngModel)]="comment"
      ></textarea>
    </mat-form-field>
    <div>
      <mat-radio-group class="example-radio-group" (change)="setQuerySaving($event)">
        <mat-radio-button
          class="example-radio-button"
          value="saveQuery"
          [disabled]="letQuerySave"
          [checked]="!letQuerySave"
          >{{ 'QUERYBUILDER.OVERVIEW.SAVE_WITH_QUERY' | translate }}
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="template" [checked]="letQuerySave"
          >{{ 'QUERYBUILDER.OVERVIEW.SAVE_TEMPLATE' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="save-dialog-footer">
  <div fxFlex="fill"></div>

  <num-button [type]="'primary'" [isDisabled]="" (click)="doSave()" class="button-save">
    {{ 'BUTTON.SAVE' | translate }}
  </num-button>
  <num-button [type]="'secondary'" (click)="doDiscard()">
    {{ 'BUTTON.CANCEL' | translate }}
  </num-button>
</div>
