.button-save {
  margin: 0 1em 0 2em;
}
.save-query-box {
  min-width: 30em;
  margin-bottom: 5em;
}
textarea {
  box-sizing: content-box;
}
.input-field {
  width: 90%;
  margin: 0.5em 0;
}
h2 {
  padding: 5px !important;
}
.example-radio-button {
  margin-left: 10px;
}
