<div class="crit-box" fxLayout="row">
  <div fxFlex="20" class="code-part">
    {{ criterion.termCode.code }}
  </div>
  <div fxFlex="80" class="display-part">
    <div class="header-display">{{ criterion.termCode.display }}</div>
    <num-display-value-filter
      *ngIf="criterion.valueFilter as filter"
      [filter]="filter"
    ></num-display-value-filter>
  </div>
  <div class="cancel-button-wrapper">
    <!-- TODO[CODEX]: use icon 'close'-->
    <div (click)="doDelete()" class="cancel-button">X</div>
  </div>
</div>
