<div [ngClass]="isEditable ? 'crit-box' : 'crit-box-viewonly'" fxLayout="row">
  <div fxFlex="15" class="code-part">
    <!--<div *ngFor="let termcode of criterion.termCodes">{{ termcode?.code }}</div>-->
    <div *ngIf="isinvalid" class="invalid-Criterion">
      <img src="assets/img/alert.png" alt="Validation Alert" />
    </div>
  </div>
  <div fxFlex="85" class="display-part" (click)="openDetailsPopUp()">
    <div class="header-display">{{ criterion.display }}</div>
    <num-display-value-filter
      *ngFor="let filter of getValueFilters()"
      [filter]="filter"
    ></num-display-value-filter>
    <num-display-value-filter
      *ngFor="let filter of getAttributeFilters()"
      [filter]="filter"
    ></num-display-value-filter>
    <num-display-time-restriction
      *ngIf="featureService.useFeatureTimeRestriction()"
      [timeRestriction]="criterion.timeRestriction"
    ></num-display-time-restriction>
  </div>
  <div *ngIf="isEditable" class="cancel-button-wrapper">
    <button class="cancel-button" type="button" mat-icon-button (click)="doDelete()">
      <fa-icon size="lg" icon="times"></fa-icon>
    </button>
  </div>
</div>
