<div class="crit-box" fxLayout="row">
  <div fxFlex="20" class="code-part">
    <div *ngFor="let termcode of criterion.termCodes">{{ termcode.code }}</div>
  </div>
  <div fxFlex="80" class="display-part" (click)="openDetailsPopUp()">
    <div class="header-display">{{ criterion.display }}</div>
    <num-display-value-filter
      *ngFor="let filter of getValueFilters()"
      [filter]="filter"
    ></num-display-value-filter>
    <num-display-value-filter
      *ngFor="let filter of getAttributeFilters()"
      [filter]="filter"
    ></num-display-value-filter>
    <num-display-time-restriction
      *ngIf="featureService.useFeatureTimeRestriction()"
      [timeRestriction]="criterion.timeRestriction"
    ></num-display-time-restriction>
  </div>
  <div *ngIf="showCancelButton" class="cancel-button-wrapper">
    <button class="cancel-button" type="button" mat-icon-button (click)="doDelete()">
      <fa-icon size="lg" icon="times"></fa-icon>
    </button>
  </div>
</div>
