.crit-box {
  border: 1px solid var(--num-color--accent-400);

  cursor: move;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.crit-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.code-part {
  color: var(--num-color--accent-contrast);
  background-color: var(--num-color--accent-100);

  padding: 0.5em;
}

.display-part {
  padding: 0.5em;
  cursor: pointer;
}

.header-display {
  padding: 0 0 0.5em 0;
}

.crit-box .cancel-button-wrapper {
  border: 1px solid var(--num-color--accent-100);
  background-color: var(--num-color--accent-100);
}

.crit-box .cancel-button {
  cursor: pointer;

  padding: 0.5em;
}

.crit-box .cancel-button:hover {
  background-color: var(--num-color--accent-200);
}

.mat-icon-button {
  border-radius: 0;
  line-height: unset;
}
