.container {
  height: 100%;
  width: 100%;
}

.mat-expansion-panel-header-title {
  font-size: 16px;
  font-weight: normal;
}

.mat-expansion-panel-header {
  height: 48px;
}

.mat-expansion-panel-header:hover {
  background-color: rgb(90, 121, 175, 0.1);
}
::ng-deep num-concept .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
