@import './colors/accent-theme.palette.scss';
@import './colors/primary-theme.palette.scss';
@import 'src/styles/themes/colors/codex-accent-theme.palette';
@import 'src/styles/themes/colors/codex-primary-theme.palette';
@import './colors/additional-theme.palette.scss';
@import './theme-palettes/mat-light-theme-background';
@import './theme-palettes/mat-light-theme-foreground';
@import './typography/typography.config';

$num-portal-webapp-primary: mat-palette($num-primary-palette);
$num-portal-webapp-accent: mat-palette($num-accent-palette);
$num-portal-webapp-primary-codex: mat-palette($num-codex-primary-palette);
$num-portal-webapp-accent-codex: mat-palette($num-codex-accent-palette);
$num-portal-webapp-additional: mat-palette($num-additional-palette, warning);

$mat-light-theme-foreground: mat-light-theme-foreground(
  $num-portal-webapp-primary,
  $num-portal-webapp-accent,
  $num-portal-webapp-additional
);
$mat-light-theme2-foreground: mat-light-theme-foreground(
  $num-portal-webapp-primary-codex,
  $num-portal-webapp-accent,
  $num-portal-webapp-additional
);
$mat-light-theme-background: mat-light-theme-background(
  $num-portal-webapp-primary,
  $num-portal-webapp-accent,
  $num-portal-webapp-additional
);
$mat-light-theme2-background: mat-light-theme-background(
  $num-portal-webapp-primary-codex,
  $num-portal-webapp-accent,
  $num-portal-webapp-additional
);
@function num-theme-builder($theme) {
  @if ($theme == 'primary') {
    @return (
      name: 'primary',
      primary: $num-portal-webapp-primary,
      accent: $num-portal-webapp-accent,
      warn: $num-portal-webapp-additional,
      additional: $num-portal-webapp-additional,
      is-dark: false,
      foreground: $mat-light-theme-foreground,
      background: $mat-light-theme-background,
      num-typography: $num-typography
    );
  }
  @if ($theme == 'codex') {
    @return (
      name: 'codex',
      primary: $num-portal-webapp-primary-codex,
      accent: $num-portal-webapp-accent-codex,
      warn: $num-portal-webapp-additional,
      additional: $num-portal-webapp-additional,
      is-dark: false,
      foreground: $mat-light-theme-foreground,
      background: $mat-light-theme-background,
      num-typography: $num-typography
    );
  }
}

$num-portal-webapp-theme: num-theme-builder('primary');
$num-portal-webapp-theme2: num-theme-builder('codex');
