//@import '@angular/material/theming';
@use 'node_modules/@angular/material' as mat;
@import './font';
@import './themes';
@import './custom-material';
@import './general-styles/_margin-bottom-classes';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '/node_modules/flag-icons/css/flag-icons.min.css';

//@include mat-core();
@include mat.core();

.FDPGTheme {
  @include mat.core-theme($num-portal-webapp-theme-fdpg);
  @include custom-material_themed($num-portal-webapp-theme-fdpg);
}

html,
body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
.mat-chip-ripple {
  display: none;
}

.text-overflow {
  display: block;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  width: 100%;
  overflow: hidden;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.prevent-selection {
  pointer-events: none;
}

// Spacing scale (8pt system)
$spacing-scale: (
  0: 0px,
  1: 4px,
  2: 8px,
  3: 16px,
  4: 24px,
  5: 32px,
  6: 40px,
  7: 48px,
  auto: auto,
);

@mixin generate-spacing($property) {
  @each $key, $value in $spacing-scale {
    .#{$property}-#{$key} {
      #{$property}: #{$value};
    }
  }
}

@mixin generate-directional-spacing($property) {
  @each $key, $value in $spacing-scale {
    .#{$property}-top-#{$key} {
      #{$property}-top: $value;
    }
    .#{$property}-right-#{$key} {
      #{$property}-right: $value;
    }
    .#{$property}-bottom-#{$key} {
      #{$property}-bottom: $value;
    }
    .#{$property}-left-#{$key} {
      #{$property}-left: $value;
    }
    .#{$property}-x-#{$key} {
      #{$property}-left: $value;
      #{$property}-right: $value;
    }
    .#{$property}-y-#{$key} {
      #{$property}-top: $value;
      #{$property}-bottom: $value;
    }
  }
}

// Generate percentage classes
@include generate-directional-spacing(padding);
@include generate-directional-spacing(margin);
