//@import '@angular/material/theming';
@use 'node_modules/@angular/material' as mat;
@import './font';
@import './themes';
@import './custom-material';
@import './general-styles/_margin-bottom-classes';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

//@include mat-core();
@include mat.core();

.FDPGTheme {
  @include mat.core-theme($num-portal-webapp-theme-fdpg);
  @include custom-material_themed($num-portal-webapp-theme-fdpg);
}

html,
body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
.mat-chip-ripple {
  display: none;
}

.text-overflow {
  display: block;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  width: 100%;
  overflow: hidden;
}
