::ng-deep .mdc-tab {
  max-width: fit-content;
  padding: 0 30px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.button-container {
  justify-content: end;
  width: 100%;
  padding-top: 2%;
}

.reference-container {
  flex: 1;
  overflow: auto;
}
