table {
  width: 100%;
  font-family: 'Titillium Web';
  color: #6a7484;
  background-color: #fff;
}

.table-header {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  color: rgba(197, 202, 207, 1);
  font-size: medium;
  font-family: 'Titillium Web';
}

.sticky-header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-collapse {
  border-collapse: collapse;
}

.table-border {
  border-bottom: 1pt solid #c5cacf;
}

.name-column {
  padding-left: 10px;
  font-size: medium;
}

.info-column {
  font-size: small;
}
.highlight:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
.header-column {
  padding-bottom: 20px;
  font-size: medium;
  color: rgba(197, 202, 207, 1);
  font-weight: 500;
}

.height-3-rem {
  height: 3rem;
}

.table-row-hover:hover {
  background-color: #f5f5f5;
}

.font-size-small {
  font-size: smaller;
  color: #6a7483;
}
.cursor-click {
  cursor: pointer;
  padding-left: 5px;
}
