.chip-container {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0 2%; /* Increase padding for better spacing */
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid rgba(90, 121, 175, 0.2);
  max-width: 150px; /* Fixed initial width */
  color: rgba(90, 121, 175, 1);
  margin-bottom: 1%;
  cursor: pointer;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
  transition: width 0.3s ease; /* Transition for width change */
  height: fit-content;
}

.chip-container.expanded,
.block.expanded {
  width: min-content; /* Expand to fit content */
  min-width: 150px;
  max-width: max-content;
  white-space: normal; /* Allow text to wrap if needed */
  overflow: visible; /* Show all content when expanded */
  padding-right: 5px;
  height: auto;
  min-height: 26px;
}
.block.expanded.twoLine {
  margin-bottom: 3px;
  min-height: 42px;
}
.block-triangle {
  color: #5a79af;
  border-left: 13px solid;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  display: inline-block;
  content: '';
  /*position: absolute;
  right: -13px;
  top: 0;*/
}
.block-triangle.twoLine {
  border-left: 21px solid;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
}
.block {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  color: #fff;
  background-color: #5a79af;
  width: 100px;
  min-width: 100px;
  height: 26px;
  display: inline-block;
  position: relative;
  padding-left: 4px;
  padding-top: 2px;
  cursor: pointer;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
  transition: width 0.3s ease; /* Transition for width change */
}

.padding-left-20 {
  padding-left: 20px;
}

.height-100 {
  height: 100%;
  overflow-y: auto;
}

.filter-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.margin-left-1 {
  margin-left: 1%;
}
