<div *ngIf="(chipData$ | async)?.length > 0" fxLayout="row wrap" fxLayoutAlign="start center">
  <div
    *ngFor="let filterChip of chipData$ | async"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    class="block"
  >
    <div>{{ filterChip.type }}</div>
  </div>
  <div
    *ngFor="let filterChip of chipData$ | async; let i = index"
    class="chip-container"
    (click)="toggleExpanded(filterChip)"
    [ngClass]="{ expanded: filterChip.expanded }"
  >
    {{ filterChip.data[0].text }}
  </div>
</div>
