<ng-container *ngIf="filterChips.length > 0">
  <div fxLayout="row wrap" fxLayoutAlign="start start" *ngFor="let filterChip of filterChips">
    <ng-container class="filter-wrapper">
      <ng-container *ngIf="displayBlockTriangle">
        <div
          data-cy="{{ filterChip.type | displayTranslation }}"
          class="block margin-left-1"
          (click)="toggleTypeExpanded(filterChip)"
          [ngClass]="{ expanded: filterChip.typeExpanded, twoLine: filterChip.twoLineDisplay }"
        >
          {{ filterChip.type | displayTranslation }}
        </div>
        <div class="block-triangle" [ngClass]="{ twoLine: filterChip.twoLineDisplay }"></div>
      </ng-container>

      <ng-container *ngFor="let chip of filterChip.data">
        <div
          [attr.data-cy]="chip.text | displayTranslation"
          class="chip-container margin-left-1"
          [ngClass]="{ expanded: chip.expanded }"
          (click)="toggleExpanded(chip)"
        >
          {{ chip.text | displayTranslation }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
