.header-description {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: rgb(90, 122, 175);
  font-family: 'Titillium Web', sans-serif;
  text-align: justify;
  line-height: 24px; // already multiple of 8 (3 × 8)
}
