.header-description {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: rgba(197, 202, 207, 1);
  font-family: 'Titillium Web';
  margin-top: 25px;
  text-align: justify;
  line-height: 22px;
}
