<div class="criteria-container">
  @if (!isEditable()) {
  <div class="lock-div"></div>
  } @for (group of criteriaGroups(); track group; let last = $last; let i = $index) {
  <div>
    <num-criteria-group
      [criterionIds]="group"
      [isEditable]="isEditable()"
      [innerLabel]="innerLabel()"
      (splitAt)="splitGroup(i, $event)"
    ></num-criteria-group>
    @if (!last) {
    <div class="outer-switch-row">
      <num-bool-logic-switch
        class="outer-switch"
        [position]="'outer'"
        [label]="outerLabel()"
        (switched)="mergeGroups(i)"
      ></num-bool-logic-switch>
    </div>
    }
  </div>
  } @if (criteriaGroups().length === 0 && isEditable()) {
  <div class="no-selected-criteria">
    <div class="wrapper">
      <div class="wrapper-solid-dashed-box">
        <div class="solid-box">
          <fa-icon class="drag-handle" size="m" icon="expand-arrows-alt"></fa-icon>
        </div>
        <div class="dashed-box"></div>
      </div>
      <div class="text-wrapper">{{ 'FEASIBILITY.EDITOR.DRAG_AND_DROP' | translate }}</div>
    </div>
  </div>
  }
</div>
