<num-action-bar class="bottom">
  <num-button class="margin-right-10" (click)="createNewDataSelection()" type="green">
    {{ 'DATAQUERY.DATASELECTION.ACTION_BAR.NEW_DATASELECTION' | translate }}
  </num-button>
  <num-button
    type="green"
    (click)="editDataSelection()"
    class="margin-right-10"
    [isDisabled]="!(isDataSelectionExistent$ | async)"
  >
    {{ 'DATAQUERY.DATASELECTION.ACTION_BAR.EDIT' | translate }}
  </num-button>
  <div>
    <input
      type="file"
      class="file-input"
      (change)="uploadCCDL($event)"
      #fileUpload
      style="display: none"
    />
    <num-button type="green" class="margin-right-10" (click)="fileUpload.click()">
      {{ 'DATAQUERY.DATASELECTION.ACTION_BAR.UPLOAD' | translate }}
    </num-button>
  </div>
  <num-button
    class="margin-right-10"
    [attr.data-cy]="'download-crdtl'"
    (click)="downloadCRDTL()"
    [isDisabled]="!(isDataSelectionExistent$ | async) || !(isCohortExistent$ | async)"
    type="green"
  >
    {{ 'DATAQUERY.DATASELECTION.ACTION_BAR.DOWNLOAD' | translate }}
  </num-button>
  <num-button
    [icon]="'arrow-up'"
    class="margin-right-10"
    (click)="navigateToDataQueryCohortDefinition()"
    type="green"
  >
    {{ 'DATAQUERY.DATASELECTION.ACTION_BAR.JUMP_TO_COHORT_SELECTION' | translate }}
  </num-button>
</num-action-bar>
