<div fxLayout="row" fxLayoutAlign="start stretch" class="selection-box">
  <div class="display-container">
    <span matTooltipShowDelay="300" matTooltipPosition="below">
      {{ profile.getDisplay() | displayTranslation }}
    </span>
    <input class="input-style" [(ngModel)]="myInput" />
    {{ myInput }}
  </div>
  <div class="display-selected-fields-container">
    {{ 'DATASELECTION.SELECTION_BOX.SELECTED_FIELDS' | translate }}
    <div *ngIf="filterChipsSelected === false" class="filterChipsInfo">
      {{ 'DATASELECTION.SELECTION_BOX.FIELDS_MISSING' | translate }}
    </div>
    <div class="filter-chips-container">
      <num-filter-chips [filterChips]="$fieldsFilterChips | async"> </num-filter-chips>
    </div>
  </div>
  <div fxLayout="column" class="filter-container">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      {{ 'DATASELECTION.SELECTION_BOX.APPLIED_FILTER' | translate }}
    </div>
    <!--       <div
        fxLayout="row"
        fxLayoutAlign="start center"
        *ngIf="profile.getReference().getIncludeReferenceOnly()"
        class="reference-chip-padding-30"
      >
        <div class="block">{{ 'DATASELECTION.DISPLAY.REFERENCE' | translate }}</div>
        <div class="block-triangle"></div>
        <mat-checkbox
          [disabled]="!isEditable"
          [checked]="profile.getReference().getIsReferenceSet()"
          (change)="toggleIsReferenceSet(profile.getReference())"
        ></mat-checkbox>
      </div> -->
    <div *ngIf="filtersFilterChips$ | async as chips" class="filter-chips-container">
      <num-filter-chips [filterChips]="chips"> </num-filter-chips>
    </div>
  </div>
</div>
