<mat-drawer-container>
  <mat-drawer opened="true" #drawer position="end" mode="side">
    <div *ngIf="profile.getProfileFields().getSelectedBasicFields()" class="selected-fields">
      <div class="filter-title">
        {{ 'DATASELECTION.FIELD_SELECTION.FIELD_SELECTION' | translate }}
      </div>
      <div class="selected-fields-box">
        <div
          *ngFor="
            let selectedField of profile.getProfileFields().getSelectedBasicFields();
            let index = index
          "
          fxLayout="row"
          fxLayoutAlign="start center"
          class="selectedFilterBox"
        >
          <div class="display-part">
            <span
              matTooltipPosition="below"
              matTooltipShowDelay="300"
              [matTooltip]="selectedField.getDisplay() | displayTranslation"
              >{{ selectedField.getDisplay() | displayTranslation }}</span
            >
          </div>
          <div>
            <mat-checkbox
              [checked]="selectedField.getMustHave()"
              (change)="setFieldAsRequired(selectedField)"
            >
              {{ 'DATASELECTION.FIELD_SELECTION.REQUIRED' | translate }}
            </mat-checkbox>
          </div>
          <div fxLayout="row" fxFlex="10" fxLayoutAlign="end center" class="padding-right-10">
            <fa-icon
              [icon]="'exclamation-triangle'"
              [icon]="'times'"
              size="1x"
              (click)="removeSelectedField(selectedField)"
              class="delete-button"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="filter-title">
      {{ 'DATASELECTION.FIELD_SELECTION.HEADER' | translate }}
      {{ profile.getDisplay() | displayTranslation }}
    </div>
    <div class="tree-container">
      <div *ngFor="let singleTree of tree">
        <num-tree
          [treeData]="singleTree"
          (selectedCheckbox)="setSelectedFieldElement($event)"
        ></num-tree>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
