<div fxLayout="row" fxLayoutAlign="start" class="container">
  <div fxLayout="column" style="width: 100%">
    <div class="main-content">
      <div class="field-box">
        <num-section-name>
          {{ 'EDITOR.CONTENT.PROFILE.FIELDS.HEADER' | translate }}
        </num-section-name>
        <div class="table-box">
          <div *ngFor="let singleTree of tree">
            <num-tree
              [treeData]="singleTree"
              (selectedCheckbox)="setSelectedFieldElement($event)"
            ></num-tree>
          </div>
        </div>
      </div>
      <div class="sidebar" *ngIf="selectedBasicFields">
        <div fxLayout="column" class="height-100">
          <div fxLayout="row">
            <num-section-name>
              {{ 'EDITOR.CONTENT.PROFILE.FIELDS.REQUIRED' | translate }}
            </num-section-name>
          </div>
          <div class="selected-fields-box">
            <div
              *ngFor="let selectedField of selectedBasicFields; let index = index"
              fxLayout="row"
              fxLayoutAlign="start center"
              class="selected-filter-container"
            >
              <div>
                <mat-checkbox
                  [checked]="selectedField.getMustHave()"
                  (change)="setFieldAsRequired(selectedField)"
                >
                </mat-checkbox>
              </div>
              <div class="display-part">
                <span
                  matTooltipPosition="below"
                  matTooltipShowDelay="300"
                  [matTooltip]="selectedField.getDisplay() | displayTranslation"
                >
                  {{ selectedField.getDisplay() | displayTranslation }}
                </span>
              </div>
              <div
                *ngIf="!selectedField.getIsRequired()"
                fxLayout="row"
                fxFlex="10"
                fxLayoutAlign="end center"
                class="padding-right-10"
              >
                <fa-icon
                  [icon]="'times'"
                  size="1x"
                  (click)="removeSelectedField(selectedField)"
                  class="delete-button"
                ></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
