.container {
  padding: 1rem;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.selected-filter-container {
  width: 100%;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
  margin-bottom: 10px;
}

.display-part {
  padding-left: 10px;
  width: 90%;
}
.display-part > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.filter-title {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #6a7483;
  font-size: 16px;
  font-weight: 500;
}

.select-button {
  border-radius: 5px;
  background: rgb(90, 121, 175, 1);
  margin-left: 2%;
  color: white;
}

.filter-header {
  color: #5a7aaf;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 18px;
  font-weight: 500;
}

.selected-fields-box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding-right: 16px;
}

.sidebar {
  width: 30%;
  border-left: 1px solid #ccc;
  padding-left: 1rem;
}

.main-content {
  display: flex;
  height: 100%;
  overflow-y: hidden;
}

.field-box {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 0;
}

.header-container {
  display: flex;
  width: 100%;
}
::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  font-weight: 500;
  font-size: medium;
  color: rgba(90, 121, 175, 1);
}
