@use 'node_modules/@angular/material' as mat;

@mixin buttons($theme) {
  $raised-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $additional: map-get($theme, additional);
  $name: map-get($theme, name);

  .mat-mdc-button-base {
    text-transform: none !important;
  }

  .mat-mdc-icon-button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
  }

  .num-button {
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    &.mat-mdc-button .mat-button-wrapper > *,
    &.mat-mdc-outlined-button .mat-button-wrapper > *,
    &.mat-mdc-raised-button .mat-button-wrapper > *,
    &.mat-mdc-unelevated-button .mat-button-wrapper > * {
      vertical-align: baseline !important;
    }
    font-size: medium;
    box-shadow: $raised-shadow;
    height: 42px;
    white-space: nowrap;
    padding: 0px 15px;
    letter-spacing: inherit;
    &.green {
      background-color: mat.get-color-from-palette($primary, 'green');
    }

    fa-icon {
      margin: 0 4px 0 0;
    }

    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    &.cdk-keyboard-focused .mat-button-focus-overlay {
      display: none;
    }

    /**
    * Blue Button
    */
    &.blue {
      min-width: 7em !important;
      line-height: 34px;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;

      color: mat.get-contrast-color-from-palette($primary, 900);
      background-color: mat.get-color-from-palette($primary, 'blue');
      border-color: mat.get-color-from-palette($primary, 500);

      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &:hover:not(.disabled) {
        color: white !important;
        background: mat.get-color-from-palette($primary, 'blue-hover') !important;
        box-shadow: $raised-shadow;
      }

      &.cdk-keyboard-focused {
        background: mat.get-color-from-palette($primary, 'blue-hover');
      }

      &.disabled {
        background-color: mat.get-color-from-palette($primary, 50);
        color: mat.get-color-from-palette($primary, 'blue');
        box-shadow: 0px 0px 1px 1px mat.get-color-from-palette($primary, 'blue');
      }
    }

    /**
    * Green Button
    */
    &.green {
      min-width: 8em !important;
      line-height: 34px;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;

      color: mat.get-contrast-color-from-palette($primary, 900);
      background-color: mat.get-color-from-palette($primary, 'green');
      border-color: mat.get-color-from-palette($primary, 500);

      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &:hover:not(.disabled) {
        color: white !important;
        background: mat.get-color-from-palette($primary, 'green-hover') !important;
        box-shadow: $raised-shadow;
      }

      &.cdk-keyboard-focused {
        background: mat.get-color-from-palette($primary, 'green-hover');
      }

      &.disabled {
        background-color: mat.get-color-from-palette($primary, 50);
        color: mat.get-color-from-palette($primary, 'green');
        box-shadow: 0px 0px 1px 1px mat.get-color-from-palette($primary, 'green');
      }
    }

    &.red {
      min-width: 8em !important;
      line-height: 34px;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;

      color: mat.get-contrast-color-from-palette($primary, 900);
      background-color: mat.get-color-from-palette($primary, 'red');
      border-color: mat.get-color-from-palette($primary, 500);

      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &:hover:not(.disabled) {
        color: white !important;
        background: mat.get-color-from-palette($primary, 'red-hover') !important;
        box-shadow: $raised-shadow;
      }

      &.cdk-keyboard-focused {
        background: mat.get-color-from-palette($primary, 'green-hover');
      }

      &.disabled {
        background-color: mat.get-color-from-palette($primary, 50);
        color: mat.get-color-from-palette($primary, 'green');
        box-shadow: 0px 0px 1px 1px mat.get-color-from-palette($primary, 'green');
      }
    }
  }
}
