@use 'node_modules/@angular/material' as mat;
@mixin buttons($theme) {
  $raised-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $additional: map-get($theme, additional);
  $name: map-get($theme, name);

  .mat-mdc-button-base {
    text-transform: uppercase !important;
  }

  .num-button {
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    &.mat-mdc-button .mat-button-wrapper > *,
    &.mat-mdc-outlined-button .mat-button-wrapper > *,
    &.mat-mdc-raised-button .mat-button-wrapper > *,
    &.mat-mdc-unelevated-button .mat-button-wrapper > * {
      vertical-align: baseline !important;
    }

    fa-icon {
      margin: 0 4px 0 0;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    &.cdk-keyboard-focused .mat-button-focus-overlay {
      display: none;
    }

    // Primaray Button
    &.mat-mdc-unelevated-button.mat-primary {
      min-width: 8em !important;
      line-height: 34px;
      border-width: 1px;
      border-style: solid;
      @if ($name == 'fdpg') {
        color: mat.get-contrast-color-from-palette($primary, 900);
        background-color: mat.get-color-from-palette($primary, 900);
        border-color: mat.get-color-from-palette($primary, 500);
        fa-icon {
          color: mat.get-contrast-color-from-palette($primary, 900);
        }
      }
      @if ($name == 'codex') {
        color: mat.get-contrast-color-from-palette($primary, 900);
        background-color: mat.get-color-from-palette($primary, 900);
        border-color: mat.get-color-from-palette($primary, 500);
        fa-icon {
          color: mat.get-contrast-color-from-palette($primary, 900);
        }
      }
      @if ($name == 'abide') {
        color: mat.get-contrast-color-from-palette($primary, 900);
        background-color: mat.get-color-from-palette($primary, 900);
        border-color: mat.get-color-from-palette($primary, 500);
        fa-icon {
          color: mat.get-contrast-color-from-palette($primary, 900);
        }
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &:hover:not(.mat-button-disabled) {
        background: mat.get-color-from-palette($primary, 700);
        box-shadow: $raised-shadow;
      }

      &.cdk-keyboard-focused {
        background: mat.get-color-from-palette($primary, 700);
        border-color: mat.get-color-from-palette($accent, 500);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &.mat-button-disabled {
        @if ($name == 'fdpg') {
          background: mat.get-color-from-palette($primary, 100);
          border-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-color-from-palette($primary, 500);
        }
        @if ($name == 'codex') {
          background: mat.get-color-from-palette($primary, 100);
          border-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-color-from-palette($primary, 500);
        }
        @if ($name == 'abide') {
          background: mat.get-color-from-palette($primary, 100);
          border-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-color-from-palette($primary, 500);
        }
        fa-icon {
          color: mat.get-color-from-palette($accent, 200);
        }
      }
    }

    // Secondary Button
    &.mat-mdc-unelevated-button.mat-primary {
      border-color: mat.get-color-from-palette($primary, 500);
      min-width: 8em !important;

      fa-icon {
        color: mat.get-color-from-palette($accent, 500);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &:hover:not(.mat-button-disabled) {
        @if ($name == 'fdpg') {
          background: mat.get-color-from-palette($primary, 200);
          border-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-color-from-palette($primary, 500);
        }
        @if ($name == 'codex') {
          background: mat.get-color-from-palette($primary, 200);
          border-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-color-from-palette($primary, 500);
        }
        @if ($name == 'abide') {
          background: mat.get-color-from-palette($primary, 200);
          border-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-color-from-palette($primary, 500);
        }
        box-shadow: $raised-shadow;
      }

      &.cdk-keyboard-focused {
        background: mat.get-color-from-palette($accent, 200);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &.mdc-button[disabled] {
        @if ($name == 'fdpg') {
          background: mat.get-color-from-palette($primary, 100);
          border-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-color-from-palette($primary, 500);
        }
        @if ($name == 'codex') {
          background: mat.get-color-from-palette($primary, 100);
          border-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-color-from-palette($primary, 500);
        }
        @if ($name == 'abide') {
          background: mat.get-color-from-palette($primary, 100);
          border-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-color-from-palette($primary, 500);
        }
        fa-icon {
          color: mat.get-color-from-palette($accent, 200);
        }
      }
    }

    // Basic Button
    &.mat-mdc-button.mat-primary {
      color: mat.get-color-from-palette($additional, mid-grey);
      min-width: 8em !important;

      fa-icon {
        color: mat.get-color-from-palette($accent, 500);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &:hover:not(.mat-button-disabled) {
        background: mat.get-color-from-palette($accent, 100);
        box-shadow: $raised-shadow;
      }

      &.cdk-keyboard-focused {
        background: mat.get-color-from-palette($accent, 200);
        border-color: mat.get-color-from-palette($accent, 500);
      }
      /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &.mat-button-disabled {
        fa-icon {
          color: mat.get-color-from-palette($accent, 200);
        }
        color: mat.get-color-from-palette($additional, mid-grey);
      }
    }
  }
}
