@use 'node_modules/@angular/material' as mat;
@mixin color-variables_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $additional: map-get($theme, additional);

  --num-color--primary: #{mat.get-color-from-palette($primary)};
  --num-color--primary-100: #{mat.get-color-from-palette($primary, 100)};
  --num-color--primary-300: #{mat.get-color-from-palette($primary, 300)};
  --num-color--primary-400: #{mat.get-color-from-palette($primary, 400)};
  --num-color--primary-900: #{mat.get-color-from-palette($primary, 900)};
  --num-color--primary-light-green: #{mat.get-color-from-palette($primary, 'green-hover')};
  --num-color--primary-green: #{mat.get-color-from-palette($primary, 'green')};

  --num-color--primary-blue: #{mat.get-color-from-palette($primary, 'blue')};

  --num-color--accent: #{mat.get-color-from-palette($accent, 500)};
  --num-color--warn: #{mat.get-color-from-palette($warn)};
  --num-color--background: #{mat.get-color-from-palette($additional, page-background)};

  --num-color--accent-50: #{mat.get-color-from-palette($accent, 50)};
  --num-color--accent-100: #{mat.get-color-from-palette($accent, 100)};
  --num-color--accent-200: #{mat.get-color-from-palette($accent, 200)};
  --num-color--accent-300: #{mat.get-color-from-palette($accent, 300)};
  --num-color--accent-400: #{mat.get-color-from-palette($accent, 400)};
  --num-color--accent-500: #{mat.get-color-from-palette($accent, 500)};
  --num-color--accent-600: #{mat.get-color-from-palette($accent, 600)};
  --num-color--accent-700: #{mat.get-color-from-palette($accent, 700)};
  --num-color--accent-800: #{mat.get-color-from-palette($accent, 800)};
  --num-color--accent-900: #{mat.get-color-from-palette($accent, 900)};
  --num-color--accent-A200: #{mat.get-color-from-palette($accent, A200)};
  --num-color--accent-A300: #{mat.get-color-from-palette($accent, A300)};
  --num-color--accent-A700: #{mat.get-color-from-palette($accent, A700)};

  --num-color--primary-contrast: #{mat.get-contrast-color-from-palette($primary, default)};
  --num-color--accent-contrast: #{mat.get-contrast-color-from-palette($accent, 500)};
  --num-color--warn-contrast: #{mat.get-contrast-color-from-palette($warn, default)};
}
