@mixin color-variables_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  :root {
    --num-color--primary: #{mat-color($primary)};
    --num-color--accent: #{mat-color($accent, 500)};
    --num-color--warn: #{mat-color($warn)};

    --num-color--accent-50: #{mat-color($accent, 50)};
    --num-color--accent-100: #{mat-color($accent, 100)};
    --num-color--accent-200: #{mat-color($accent, 200)};
    --num-color--accent-300: #{mat-color($accent, 300)};

    --num-color--primary-contrast: #{mat-contrast($primary, default)};
    --num-color--accent-contrast: #{mat-contrast($accent, 500)};
    --num-color--warn-contrast: #{mat-contrast($warn, default)};
  }
}
