@use 'node_modules/@angular/material' as mat;
@mixin footer_themed($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $name: map-get($theme, name);
  $background: map-get($theme, additional);

  @if ($name == 'fdpg') {
    .num-footer {
      background: mat.get-color-from-palette($background, white);
      color: mat.get-contrast-color-from-palette($primary, 200);
      border-top: 1px rgba(0, 0, 0, 0.2) solid;
    }
  }
  .mat-toolbar-multiple-rows {
    box-sizing: content-box;
  }
}
