@mixin footer_themed($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $name: map-get($theme, name);
  $background: map-get($theme, additional);

  @if ($name == 'primary') {
    .num-footer {
      background: mat-color($accent, 500);
      color: mat-contrast($primary, 900);
    }
  }
  @if ($name == 'codex') {
    .num-footer {
      background: mat-color($background, white);
      color: mat-contrast($primary, 200);
      border-top: 1px rgba(0, 0, 0, 0.2) solid;
    }
  }
}
