@use 'node_modules/@angular/material' as mat;
@mixin header_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $name: map-get($theme, name);

  num-dataportal-header mat-toolbar {
    background: mat.get-color-from-palette($primary, 100) !important;
    color: mat.get-contrast-color-from-palette($primary, 200) !important;
  }
}
