@use 'node_modules/@angular/material' as mat;
@mixin header_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $name: map-get($theme, name);

  @if ($name == 'fdpg') {
    num-header mat-toolbar {
      background: mat.get-color-from-palette($primary, A400) !important;
      color: mat.get-contrast-color-from-palette($primary, 200) !important;
    }
  }
  @if ($name == 'codex') {
    num-header mat-toolbar {
      background: mat.get-color-from-palette($primary, 200) !important;
      color: mat.get-contrast-color-from-palette($primary, 200) !important;
    }
  }
  @if ($name == 'abide') {
    num-header mat-toolbar {
      background: mat.get-color-from-palette($primary, A400) !important;
      color: mat.get-contrast-color-from-palette($primary, 200) !important;
    }
  }
}
