@mixin language-component_themed($theme) {
  $primary: map-get($theme, primary);
  $additional: map-get($theme, additional);

  num-language fa-icon {
    /*background: mat-color($primary, 500) !important;*/
    color: mat-contrast($primary, 500) !important;
  }

  .num-mat-lang-toggle-button {
    border: none;
    /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    .mat-button-toggle {
      background-color: transparent;

      button {
        text-transform: uppercase !important;
        font-size: 14px !important;
        line-height: 16px !important;
        font-weight: 400 !important;

        &:hover {
          background: mat-color($primary, 500);
        }

        &:focus,
        .cdk-keyboard-focused & {
          background: mat-color($primary, 500);
        }
      }
    }
    /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    .mat-button-toggle-appearance-standard {
      color: mat-contrast($primary, 500);
      /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &.mat-button-toggle-checked {
        color: mat-color($primary, A700);
      }
      /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
      &.mat-button-toggle + .mat-button-toggle {
        border-left: solid 2px mat-color($primary);
      }
    }
    /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    .cdk-keyboard-focused .mat-button-toggle-focus-overlay {
      display: none;
    }
    /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    .mat-button-toggle-label-content {
      line-height: 32px;
    }
  }
}
