@import '@angular/material/theming';

@mixin drop-down-search-theme($theme) {
  $background: map-get($theme, background);

  .container-search-input {
    background-color: mat-color($background, card);
  }
}
