@use 'node_modules/@angular/material' as mat;
@mixin side-menu-component_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $name: map-get($theme, name);

  .mdc-list-item__primary-text {
    display: flex;
  }
  .mdc-list-item.mdc-list-item--with-one-line {
    height: 48px !important;
  }
  @if ($name == 'fdpg') {
    .mat-mdc-nav-list {
      background: mat.get-color-from-palette($primary, 100) !important;
      color: mat.get-contrast-color-from-palette($primary, 200) !important;
    }
    .num-logo-row a {
      /*background: mat.get-color-from-palette($accent, 500) !important;*/
      color: mat.get-contrast-color-from-palette($primary, 200) !important;
    }
    .num-mat-list-item {
      /*background: mat.get-color-from-palette($accent, 500) !important;*/
      color: mat.get-contrast-color-from-palette($primary, 200) !important;
    }
  }

  .num-logo-row button:hover {
    background: mat.get-color-from-palette($accent, 200) !important;
    color: mat.get-contrast-color-from-palette($accent, 200) !important;
  }
  @if ($name == 'fdpg') {
    .num-mat-list-item {
      font-size: 16px !important;
      font-weight: 400 !important;
      line-height: 20px !important;
      letter-spacing: 0.25px !important;

      &--active {
        background: mat.get-color-from-palette($primary, 'blue') !important;
        color: mat.get-color-from-palette($primary, 50) !important;
        font-weight: 500 !important;
      }

      &:hover {
        background: mat.get-color-from-palette($accent, 'grey-hover') !important;
        color: mat.get-contrast-color-from-palette($accent, 100) !important;
      }

      &:focus {
        background: mat.get-color-from-palette($accent, 200) !important;
        color: mat.get-contrast-color-from-palette($accent, 200) !important;
      }
    }
  }
}
