@mixin side-menu-component_themed($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $name: map-get($theme, name);

  @if ($name == 'primary') {
    .mat-nav-list {
      background: mat-color($accent, 500) !important;
      color: mat-contrast($accent, 500) !important;
    }
    .num-logo-row a {
      /*background: mat-color($accent, 500) !important;*/
      color: mat-contrast($accent, 500) !important;
    }
    .num-mat-list-item {
      /*background: mat-color($accent, 500) !important;*/
      color: mat-contrast($accent, 500) !important;
    }
  }
  @if ($name == 'codex') {
    .mat-nav-list {
      background: mat-color($primary, 200) !important;
      color: mat-contrast($primary, 200) !important;
    }
    .num-logo-row a {
      /*background: mat-color($accent, 500) !important;*/
      color: mat-contrast($primary, 200) !important;
    }
    .num-mat-list-item {
      /*background: mat-color($accent, 500) !important;*/
      color: mat-contrast($primary, 200) !important;
    }
  }
  @if ($name == 'abide') {
    .mat-nav-list {
      background: mat-color($primary, A400) !important;
      color: mat-contrast($primary, 200) !important;
    }
    .num-logo-row a {
      /*background: mat-color($accent, 500) !important;*/
      color: mat-contrast($primary, 200) !important;
    }
    .num-mat-list-item {
      /*background: mat-color($accent, 500) !important;*/
      color: mat-contrast($primary, 200) !important;
    }
  }
  @if ($name == 'bzkf') {
    .mat-nav-list {
      background: mat-color($primary, A400) !important;
      color: mat-contrast($primary, 200) !important;
    }
    .num-logo-row a {
      /*background: mat-color($accent, 500) !important;*/
      color: mat-contrast($primary, 200) !important;
    }
    .num-mat-list-item {
      /*background: mat-color($accent, 500) !important;*/
      color: mat-contrast($primary, 200) !important;
    }
  }
  .num-logo-row button:hover {
    background: mat-color($accent, 200) !important;
    color: mat-contrast($accent, 200) !important;
  }
  @if ($name == 'codex') {
    .num-mat-list-item {
      font-size: 16px !important;
      font-weight: 400 !important;
      line-height: 20px !important;
      letter-spacing: 0.25px !important;

      &--active {
        background: mat-color($accent, 200) !important;
        color: mat-contrast($accent, 200) !important;
        font-weight: 500 !important;
      }

      &:hover {
        background: mat-color($accent, 100) !important;
        color: mat-contrast($accent, 100) !important;
      }

      &:focus {
        background: mat-color($accent, 200) !important;
        color: mat-contrast($accent, 200) !important;
      }
    }
  }
  @if ($name == 'abide') {
    .num-mat-list-item {
      font-size: 16px !important;
      font-weight: 400 !important;
      line-height: 20px !important;
      letter-spacing: 0.25px !important;

      &--active {
        background: mat-color($accent, 500) !important;
        color: mat-color($primary, A200) !important;
        font-weight: 500 !important;
      }

      &:hover {
        background: mat-color($accent, 100) !important;
        color: mat-contrast($accent, 100) !important;
      }

      &:focus {
        background: mat-color($accent, 200) !important;
        color: mat-contrast($accent, 200) !important;
      }
    }
  }
  @if ($name == 'bzkf') {
    .num-mat-list-item {
      font-size: 16px !important;
      font-weight: 400 !important;
      line-height: 20px !important;
      letter-spacing: 0.25px !important;

      &--active {
        background: mat-color($accent, 500) !important;
        color: mat-color($primary, A200) !important;
        font-weight: 500 !important;
      }

      &:hover {
        background: mat-color($accent, 100) !important;
        color: mat-contrast($accent, 100) !important;
      }

      &:focus {
        background: mat-color($accent, 200) !important;
        color: mat-contrast($accent, 200) !important;
      }
    }
  }
}
