.mdc-data-table__cell {
  border-color: #f1f2f3;
}

::ng-deep.mdc-data-table__cell.test {
  color: #6a7483;
}

.mdc-data-table__header-cell {
  color: #c5cacf;
}

.table-container {
  height: max-content;
  overflow-y: scroll;
}

table {
  width: 100%;
}
