<num-modal-window (saveButtonSelected)="saveCriterion()" (cancelButtonSelected)="closeDialog()">
  <div *ngFor="let attributeFilter of criterion.getAttributeFilters()">
    <num-reference
      *ngIf="attributeFilter.getReference()"
      [referenceFilter]="attributeFilter.getReference().getAllowedReferenceUri()"
      (selectedReferenceIds)="setSelectedReferenceIds($event, attributeFilter)"
    >
    </num-reference>
  </div>
  <div *ngFor="let valueFilter of criterion.getValueFilters()" fxLayout="column">
    <num-reference
      *ngIf="valueFilter.getReference()"
      [referenceFilter]="valueFilter.getReference()"
      (selectedReferenceIds)="setSelectedReferenceIds($event)"
    >
    </num-reference>
  </div>
</num-modal-window>
