$num-abide-accent-palette: (
  50: #eef4ec,
  100: #6ea45f,
  200: #b8d2af,
  300: #408997,
  400: #427832,
  500: #71a45f,
  600: #427832,
  700: #5e924d,
  800: #548943,
  900: #427832,
  A100: #d0ffc3,
  A200: #408997,
  A300: #c8eabb,
  A400: #80ff5d,
  A700: #94c11a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
