$num-accent-palette: (
  50: #e5e5ee,
  100: #bdbfd4,
  200: #9194b8,
  300: #65699b,
  400: #444885,
  500: #232870,
  600: #1f2468,
  700: #1a1e5d,
  800: #151853,
  900: #0c0f41,
  A100: #7a7fff,
  A200: #474fff,
  A300: #474fff,
  A400: #141eff,
  A700: #000bf9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
