$num-bzkf-accent-palette: (
  50: #8191a0,
  100: #6d88a3,
  200: #8faac4,
  300: #3e80a2,
  400: #34577a,
  500: #34577a,
  600: #6d88a3,
  700: #3c648d,
  800: #2b4763,
  900: #638eb9,
  A100: #9bc4ee,
  A200: #84878c,
  A300: #b5d1d5,
  A400: #6eb2f7,
  A700: #3297fc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
