$num-codex-accent-palette: (
  50: #e4eef4,
  100: #649ac1,
  200: #bcd4e5,
  300: #216fa7,
  400: #1d679f,
  500: #216fa7,
  600: #1d679f,
  700: #185c96,
  800: #14528c,
  900: #0b407c,
  A100: #7ab1ff,
  A200: #0e5897,
  A300: #a9cce5,
  A400: #4794ff,
  A700: #2d85ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
