$num-codex-accent-palette: (
  50: #dbecf8,
  100: #9cc9eb,
  200: #6db0e1,
  300: #3290d5,
  400: #2780c1,
  500: #226fa8,
  600: #1d5e8f,
  700: #184d75,
  800: #133d5c,
  900: #0d2c42,
  A100: #cbe8fe,
  A200: #67bdfc,
  A400: #188ee5,
  A700: #217ec3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
