$num-fdpg-accent-palette: (
  50: #eef4ec,
  100: #738cba,
  200: #adbcd7,
  300: #738cba,
  400: #345396,
  500: #5a78ae,
  600: #5270a7,
  700: #48659d,
  800: #3f5b94,
  900: #2e4884,
  1000: rgba(90, 121, 175, 1),
  A100: #d0ffc3,
  A200: #2e4884,
  A300: #8ca1c6,
  A400: #80ff5d,
  A700: #94c11a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
