$num-primary-palette: (
  50: #e1e7e8,
  100: #b3c3c7,
  200: #819ca1,
  300: #4f747b,
  400: #29565f,
  500: #033843,
  600: #03323d,
  700: #022b34,
  800: #02242c,
  900: #01171e,
  1000: rgba(90, 121, 175, 1),
  1100: #9bb923,
  A100: #5bcfff,
  A200: #28c0ff,
  A400: #00acf4,
  A700: #009ada,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    1000: rgba(90, 121, 175, 1),
    1100: #9bb923,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
