<div *ngIf="conceptFilter" fxLayout="column" class="container" [@.disabled]="disableAnimation">
  <mat-expansion-panel togglePosition="before" [expanded]="false" class="width-100">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ attributeCode.getDisplay() }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <num-shared-concept-filter
      *ngIf="conceptFilter"
      [conceptFilterId]="conceptFilter.getId()"
      [preSelectedConcepts]="conceptFilter.getSelectedConcepts()"
      [valueSetUrl]="conceptFilter.getAllowedConceptUri()"
      (changedSelectedConcepts)="emitConceptFilter($event)"
    >
    </num-shared-concept-filter>
  </mat-expansion-panel>
</div>
