:host {
  width: 100%;
}

.header-line {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--num-color--background);
}

.container {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

.button-reset,
.button-save {
  margin-right: 1em;
}

num-button {
  white-space: nowrap;
}

.button-add-group {
  background-color: var(--num-color--accent-300);
  margin: 1em;
}
