<div class="header-line">
  <div fxLayoutAlign="space-between center">
    <div fxLayout="column" class="query-buttons-box">
      <div fxLayout="row" fxLayoutAlign="end right">
        <num-button [type]="'primary'" class="button-reset">
          {{ 'BUTTON.RESET' | translate }}
        </num-button>
        <num-button [type]="'primary'" class="button-save">
          {{ 'BUTTON.SAVEQUERY' | translate }}
        </num-button>
        <num-button [type]="'primary'" class="button-send">
          {{ 'BUTTON.SEND' | translate }}
        </num-button>
      </div>
    </div>
  </div>
  <div class="container">
    <num-search-input
      [critType]="'inclusion'"
      [query]="query"
      [searchType]="'dataselection'"
    ></num-search-input>
  </div>
  <div class="dialog-frame">
    <num-display-query
      [searchType]="'dataselection'"
      [query]="query"
      (storeQuery)="storeQuery($event)"
    >
    </num-display-query>
  </div>
</div>
