.number-of-patients {
  text-align: center;
}

.result-text {
  font-size: 16px;
}
.button-dialog-result-details {
  margin: 0.5em 0 0.5em 1em;
}

.result-spinning-icon {
  margin-left: 1em;
  margin-top: 0.5em;
  height: 2em;
}
