mat-nav-list {
  margin: 0 1em 0 0;
  padding: 1em 0 0 0;
}

mat-nav-list button {
  padding: 0 0 0 16px;
}

fa-icon {
  margin-right: 1.3em;
  color: rgba(106, 116, 131, 1);
}

fa-icon svg {
  vertical-align: middle;
}

.num-logo-row {
  height: 3em;
}

.num-logo-row button {
  width: auto;
  background: transparent !important;
}
