<mat-nav-list fxLayout="column" fxFill>
  <div fxLayout="row" class="num-logo-row">
    <button
      type="button"
      [attr.aria-label]="'APPLAYOUT.TOGGLE.LABEL' | translate"
      mat-icon-button
      (click)="menuItemClicked($event)"
    >
      <fa-icon size="2x" icon="bars"></fa-icon>
    </button>
    <div *ngIf="isSideMenuExpanded" fxLayoutAlign="center center">
      <a class="navbar-item" routerLink="/home">
        <h1>CODEX</h1>
      </a>
    </div>
  </div>

  <ng-template ngFor let-item [ngForOf]="mainNavItems">
    <ng-template [ngIf]="item.routeTo != 'options' || featureService.useFeatureOptionsPage()">
      <a
        *numUserHasRole="item.roles"
        class="num-mat-list-item"
        [routerLinkActive]="'num-mat-list-item--active'"
        mat-list-item
        [routerLink]="item.routeTo"
        (click)="menuItemClicked($event, item)"
      >
        <fa-icon size="lg" [fixedWidth]="true" [icon]="item.icon"></fa-icon>
        <div *ngIf="isSideMenuExpanded">{{ item.translationKey | translate }}</div>
      </a>
    </ng-template>
  </ng-template>

  <span fxFlex></span>
  <mat-divider class="num-d-c--a num-d-w--2"></mat-divider>

  <a
    class="num-mat-list-item"
    [routerLinkActive]="'num-mat-list-item--active'"
    *ngFor="let item of secondaryNavItems"
    mat-list-item
    [routerLink]="item.routeTo"
    (click)="menuItemClicked($event, item)"
  >
    <fa-icon size="lg" [fixedWidth]="true" [icon]="item.icon" routerLinkActive="active"></fa-icon>
    <div *ngIf="isSideMenuExpanded">{{ item.translationKey | translate }}</div>
  </a>
</mat-nav-list>
