::ng-deep .snackbar-container {
  background-color: white;
  border-radius: 2px;
}

.snackbarAlignment {
  background-color: white;
  padding: 25px 20px;
  border-radius: (--mdc-snackbar-container-shape, var(--mdc-shape-small, 6px));
}

::ng-deep .mat-snack-bar-container {
  max-width: 800px;
}

.buttonColor {
  color: white;
  background-color: #e47474;
}

.padding-right-snackbar {
  padding-right: 0px;
}

::ng-deep .mat-mdc-snack-bar-container {
  margin: 5px;
}

::ng-deep .mdc-snackbar__label {
  padding: 0px;
}
