<div fxLayout="column" fxLayoutAlign="space-between" class="snackbarAlignment" matSnackBarLabel>
  <div class="textAlignment">
    <span *ngIf="!snackbarService.invalidQuery">
      {{ snackbarService.message | translate : { RETRY_AFTER: this.snackbarService.retryAfter } }}
    </span>
    <span class="invalid-warning" *ngIf="snackbarService.invalidQuery">
      {{ 'QUERYBUILDER.OVERVIEW.INVALID_WARNING1' | translate }}
      <img src="assets/img/alert.png" alt="Validation Alert" />
      {{
        'QUERYBUILDER.OVERVIEW.INVALID_WARNING2'
          | translate : { RETRY_AFTER: this.snackbarService.retryAfter }
      }}
      <a target="_blank" href="mailto:info@forschen-fuer-gesundheit.de"
        >info@forschen-fuer-gesundheit.de
      </a>
    </span>
  </div>
  <div class="buttoAlignment">
    <button mat-button class="buttonColor" (click)="snackbarService.closeSnackbar()">
      {{ 'BUTTON.CLOSE' | translate }}
    </button>
  </div>
</div>
