<num-query-box-front fxFlex="4" [isInvalid]="!singleQuery.isValid"> </num-query-box-front>
<div fxFill fxFlex="85" fxLayout="row" class="text-part">
  <form
    fxFlex="40"
    fxLayoutAlign="center start"
    appearance="outline"
    class="width-100"
    fxLayoutAlign="center center"
  >
    <input
      id="query_label_{{ index }}"
      matInput
      class="input-design"
      type="text"
      value="{{ singleQuery.label }}"
      [(ngModel)]="updatedLabel"
      (keyup.enter)="saveLabel()"
      (keyup.escape)="deleteNewInputonFocusOut()"
      (ngModelChange)="updateLabel()"
      [disabled]="!editModeQuery.label"
    />
  </form>
  <div fxLayoutAlign="end center">
    <button
      class="editButton"
      (click)="editLabel()"
      mat-button
      type="button"
      [ngClass]="{ invisible: editModeQuery.label }"
    >
      <fa-icon size="sm" icon="pencil-alt"></fa-icon>
    </button>
    <button
      class="saveButton"
      (click)="editModeQuery.label && saveLabel()"
      mat-button
      type="button"
      [ngClass]="{ invisible: !editModeQuery.label }"
    >
      <fa-icon size="sm" icon="save"></fa-icon>
    </button>
  </div>
  <mat-divider vertical></mat-divider>
  <form
    fxFlex="40"
    fxLayoutAlign="center start"
    appearance="outline"
    class="width-100"
    fxLayoutAlign="center center"
  >
    <input
      id="query_comment_{{ index }}"
      matInput
      class="input-design"
      type="text"
      value="{{ singleQuery.comment }}"
      [(ngModel)]="updatedComment"
      (keyup.enter)="saveComment()"
      (keyup.escape)="deleteNewInputonFocusOut()"
      (ngModelChange)="updateLabel()"
      [disabled]="!editModeQuery.comment"
    />
  </form>
  <div fxLayoutAlign="end center">
    <button
      class="editButton"
      (click)="editComment()"
      mat-button
      type="button"
      [ngClass]="{ invisible: editModeQuery.comment }"
    >
      <fa-icon size="sm" icon="pencil-alt"></fa-icon>
    </button>
    <button
      class="saveButton"
      (click)="editModeQuery.comment && saveComment()"
      mat-button
      type="button"
      [ngClass]="{ invisible: !editModeQuery.comment }"
    >
      <fa-icon size="sm" icon="save"></fa-icon>
    </button>
  </div>
  <mat-divider vertical></mat-divider>
  <div fxFlexAlign="center" class="query-box-date">
    {{ singleQuery.createdAt | date : 'dd.MM.yyyy' }}
  </div>
</div>
