.container {
  width: 60em;
  height: 85vh;
}

.content-conatiner {
  overflow: auto;
  min-height: 90%;
  max-height: 90%;
}

.select-button {
  border-radius: 5px;
  background: rgb(90, 121, 175, 1);
  margin-left: 2%;
  margin-top: 2%;
}
