.container {
  width: 60em;
  height: 85vh;
  background-color: rgb(90, 121, 175, 0.1);
}

.content-container {
  overflow: auto;
  min-height: 90%;
  max-height: 90%;
  height: 90%;
  padding: 1rem;
}

.select-button {
  margin-left: 2%;
  margin-top: 2%;
}
