<div class="container">
  <div fxLayout="column" class="content-container">
    <ng-content></ng-content>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-raised-button class="select-button" [disabled]="disabled" (click)="save()">
      {{ 'SHAREDCOMPONENTS.MODAL.BUTTON.APPLY' | translate }}
    </button>
    <button mat-raised-button class="select-button" (click)="cancel()">
      {{ 'SHAREDCOMPONENTS.MODAL.BUTTON.CANCEL' | translate }}
    </button>
  </div>
</div>
