<div fxLayout="column" fxLayoutAlign="start start" fxFill>
  <num-header> {{ 'SAVED_QUERIES.HEADER' | translate }} ({{ savedQueriesLength }}) </num-header>
  <div style="padding-bottom: 20px">
    <mat-select [(value)]="selectedCategory" (selectionChange)="onSelectionChange()">
      <mat-option *ngFor="let value of queryCategories" [value]="value.title">
        {{ value.title }} {{ value.length }}
      </mat-option>
    </mat-select>
  </div>
  <num-feasibility
    *ngIf="selectedCategory === 'cohort'"
    [totalNumberOfPatients]="totalNumberOfPatients"
    [savedQueries]="cohortDefinitions"
    (deleteQuery)="deleteSavedFeasibility($event)"
    (loadQuery)="loadQueryIntoEditor($event)"
  >
  </num-feasibility>
  <num-feasibility
    *ngIf="selectedCategory === 'datadefinition'"
    [savedQueries]="dataDefinitions"
    (deleteQuery)="deleteSavedFeasibility($event)"
    (loadQuery)="loadQueryIntoEditor($event)"
  >
  </num-feasibility>
  <num-feasibility
    *ngIf="selectedCategory === 'dataselection'"
    [savedQueries]="dataSelection"
    (deleteQuery)="deleteSavedFeasibility($event)"
    (loadQuery)="loadQueryIntoEditor($event)"
  >
  </num-feasibility>
</div>
