.selected-concept-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 16px;
}

.concept-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background: rgb(90 120 174 / 10%);
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  font-size: 14px;
  color: #2a3a4b;
  justify-content: space-between;
  height: 56px;
  margin-bottom: 8px;
  font-weight: 500;
}

.delete-button {
  width: auto;
  align-self: end;
  border: 0px;
  text-decoration: underline #5170a8;
  padding-bottom: 10px;
}
