:host {
  width: 100%;
  height: 100%;
}

.searchbar-container {
  width: 70%;
  padding-bottom: 20px;
}

.background-color-button {
  color: white;
  background-color: #5a79af;
  margin-right: 10px;
}

.bottom {
  position: fixed;
  bottom: 20px;
  width: 80%;
  z-index: 100;
}

.bottom {
  position: fixed;
  bottom: 20px;
  width: 80%;
  z-index: 100;
}

.tree-container {
  max-height: 500px;
  height: auto;
  overflow: auto;
  width: 100%;
}

.bottom {
  position: fixed;
  bottom: 20px;
  width: 80%;
  z-index: 100;
}

.tree-container {
  max-height: 500px;
  height: auto;
  overflow: auto;
  width: 100%;
}

.box-container {
  width: 100%;
  margin-top: 20px;
}
