<div fxLayout="column" fxLayoutAlign="start start" class="height-90 pr4">
  <div style="margin-top: 5px">
    <num-header>{{ 'DATASELECTION.HEADER' | translate }}</num-header>
    <num-header-description>
      {{ 'DATASELECTION.HEADER_INFO' | translate }}
    </num-header-description>
  </div>
  <div class="tree-container">
    <div *ngFor="let tree of trees">
      <num-tree (selectedCheckbox)="addItemsToStage($event)" [treeData]="tree"></num-tree>
    </div>
  </div>
  <num-display-profiles [isEditable]="true" class="box-container"></num-display-profiles>
  <!--<div style="width: 100%; height: 100px; display: block"></div>-->
  <num-action-bar class="bottom">
    <button
      class="background-color-button"
      mat-raised-button
      (click)="getDataSelectionProfileData()"
    >
      {{ 'DATASELECTION.BUTTON.ADD' | translate }}
    </button>
    <button class="background-color-button" mat-raised-button (click)="downloadCRDTL()">
      {{ 'DATASELECTION.BUTTON.DOWNLOAD' | translate }}
    </button>
  </num-action-bar>
</div>
