<div fxLayout="column" fxLayoutAlign="start start">
  <!-- <num-searchbar class="searchbar-container"></num-searchbar> -->
  <div class="tree-container">
    <div *ngFor="let tree of trees">
      <num-tree (selectedCheckbox)="addItemsToStage($event)" [treeData]="tree"></num-tree>
    </div>
  </div>
  <num-display-profiles class="box-container"></num-display-profiles>
  <num-action-bar class="bottom">
    <button
      class="background-color-button"
      mat-raised-button
      (click)="getDataSelectionProfileData()"
    >
      Zur Datenselektion hinzufügen
    </button>
    <button class="background-color-button" mat-raised-button (click)="startTranslation()">
      CRDTL
    </button>
  </num-action-bar>
</div>
