:host {
  width: 100%;
  height: 100%;
}
.pr4 {
  padding-right: 4rem;
}
.height-90 {
  height: 90%;
  overflow: auto;
}
.searchbar-container {
  width: 70%;
  padding-bottom: 20px;
}

.background-color-button {
  color: white;
  background-color: #5a79af;
  margin-right: 10px;
}

.action-bar-layout {
  width: 100%;
}

.bottom {
  position: fixed;
  bottom: 20px;
  width: 81%;
  z-index: 100;
}

.tree-container {
  width: 100%;
  overflow: auto;
  height: 35%;
}

.box-container {
  width: 100%;
  margin-top: 30px;
  height: 50%;
}

.margin-right-10 {
  margin-right: 20px;
}
