.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.height-59 {
  height: 42px;
  border-radius: 5px;
  background: var(--mid-grey, #c5cacf);
}

.feasibility-container {
  flex: 1;
  overflow: auto;
}
