:host {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.pr4 {
  padding-right: 4rem;
}
.green {
  background-color: white;
  box-shadow: none;
  color: #9bb923;
  height: 42px;
  margin-right: 10px;
  font-size: medium;
  border: 2px solid rgba(155, 184, 35, 1);
  border-radius: 5px;
}
.bottom {
  position: fixed;
  width: 81%;
  z-index: 100;
  bottom: 20px;
}

.stepper-container {
  display: flex; /* Enable flexbox layout */
  justify-content: start; /* Center horizontally */
  align-items: center; /* Center vertically (optional) */
  height: 10%;
  margin-top: 3%;
}

::ng-deep.mat-step-icon {
  height: 35px !important;
  width: 35px !important;
}
::ng-deep .mat-horizontal-content-container {
  padding-bottom: 0;
}
::ng-deep .header-font {
  font-size: 24px !important;
}

.empty-data-selection-box {
  width: 100%;
  height: 50%;
}
