<div class="container pr4">
  <div style="margin-top: 5px">
    <num-header>{{ 'DATASELECTION.HEADER' | translate }}</num-header>
    <num-header-description>
      {{ 'DATASELECTION.HEADER_INFO' | translate }}
    </num-header-description>
  </div>
  <num-display-profiles [isEditable]="false"></num-display-profiles>
  <num-action-bar *ngIf="showActionBar" class="bottom">
    <div>
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
        style="display: none"
      />
      <button class="green" type="button" mat-raised-button (click)="fileUpload.click()">
        {{ 'DATAQUERY.DATASELECTION.BUTTON.UPLOAD' | translate }}
      </button>
    </div>

    <button
      (click)="editDataSelection()"
      mat-raised-button
      class="green"
      [disabled]="!isDataSelectionExistent"
    >
      {{ 'DATAQUERY.DATASELECTION.BUTTON.EDIT' | translate }}
    </button>
    <button (click)="createNewDataSelection()" mat-raised-button class="green">
      {{ 'DATAQUERY.DATASELECTION.BUTTON.NEW_DATASELECTION' | translate }}
    </button>
    <button (click)="downloadDataSelection()" mat-raised-button class="green">
      {{ 'DATAQUERY.DATASELECTION.BUTTON.DOWNLOAD' | translate }}
    </button>
    <button class="background-color-button" (click)="scroll()" mat-raised-button class="green">
      up
    </button>
  </num-action-bar>
</div>
