<num-date-picker [selectedDate]="afterDate" (dateChanged)="onAfterDateChange($event)">
  <mat-label>{{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.FROM' | translate }}</mat-label>
</num-date-picker>

<num-date-picker [selectedDate]="beforeDate" (dateChanged)="onBeforeDateChange($event)">
  <mat-label>{{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.TO' | translate }}</mat-label>
</num-date-picker>
<div *ngIf="displayDateWarning" fxLayout="column">
  <span class="warning">{{ 'QUERYBUILDER.DISPLAY.TIMERESTRICTION.WARNING' | translate }}</span>
</div>
