mat-card {
  margin: 1em 0.5em;
}

mat-card-footer {
  margin: unset;
}

.button-save {
  margin: 0 1em 0 2em;
}

::ng-deep .mat-card-header-text {
  margin: 0 5px;
}
.mat-card-header h4 {
  font-weight: 500;
  font-size: 16px;
}
::ng-deep num-edit-value-definition > div:first-child {
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid var(--num-color--accent-200);
  border-radius: 5px;
}

::ng-deep num-edit-value-definition .mat-form-field-wrapper {
  padding-bottom: 0.5em !important;
}
