<mat-card appearance="outlined" class="mat-elevation-z3">
  <mat-card-header>
    <h4>
      {{ criterion.display }}
      <em *ngFor="let termcode of criterion.termCodes">({{ termcode?.code }})</em>
    </h4>
  </mat-card-header>
  <mat-card-content>
    <num-edit-value-definition
      *ngFor="let valueFilter of getValueFilters()"
      [filter]="valueFilter"
      [filterType]="'value'"
      [query]="query"
      [criterion]="criterion"
    >
    </num-edit-value-definition>
    <num-edit-value-definition
      *ngFor="let attributeFilter of getAttributeFilters()"
      [filter]="attributeFilter"
      [filterType]="'attribute'"
      [query]="query"
      [criterion]="criterion"
    >
    </num-edit-value-definition>
    <num-display-entities
      *ngIf="criterion.entity"
      [criterionEntity]="criterion"
      [query]="query"
    ></num-display-entities>
    <num-edit-time-restriction
      *ngIf="featureService.useFeatureTimeRestriction()"
      [timeRestriction]="criterion.timeRestriction"
    ></num-edit-time-restriction>
  </mat-card-content>
  <mat-card-footer>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field
        *ngIf="featureService.useFeatureMultipleGroups() && showGroups"
        appearance="outline"
        class="group-form-field"
        fxFlex="fill"
      >
        <mat-label>{{ 'QUERYBUILDER.EDIT.CHOOSE_GROUP' | translate }}</mat-label>
        <mat-select [(ngModel)]="selectedGroupId">
          <mat-option *ngFor="let group of query.groups" [value]="group.id">
            {{ group.display }}<em>({{ group.id }})</em>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="!(featureService.useFeatureMultipleGroups() && showGroups)" fxFlex="fill"></div>

      <num-button
        [type]="'primary'"
        (click)="doSave()"
        [isDisabled]="actionDisabled"
        class="button-save"
        >{{ 'BUTTON.' + actionButtonKey | translate }}
      </num-button>
      <num-button [type]="'primary'" (click)="doDiscard()">
        {{ 'BUTTON.CANCEL' | translate }}
      </num-button>
    </div>
  </mat-card-footer>
</mat-card>
