<num-query-box-front fxFlex="4" [isInvalid]="!singleTemplate.isValid"> </num-query-box-front>
<div fxFill fxFlex="85" fxLayout="row" class="text-part">
  <form
    fxFlex="40"
    fxLayoutAlign="center start"
    appearance="outline"
    class="width-100"
    fxLayoutAlign="center center"
  >
    <input
      matInput
      class="input-design"
      type="text"
      value="{{ singleTemplate.label }}"
      [(ngModel)]="updatedLabel"
      (ngModelChange)="updateLabel()"
      [disabled]="!editMode?.editMode || editMode?.type !== 'template'"
    />
  </form>
  <mat-divider vertical></mat-divider>
  <form
    fxFlex="40"
    fxLayoutAlign="center start"
    appearance="outline"
    class="width-100"
    fxLayoutAlign="center center"
  >
    <input
      matInput
      class="input-design"
      type="text"
      value="{{ singleTemplate.comment }}"
      [(ngModel)]="updatedComment"
      (ngModelChange)="updateLabel()"
      [disabled]="!editMode?.editMode || editMode?.type !== 'template'"
    />
  </form>
  <div fxFlexAlign="center" class="query-box-date">
    {{ singleTemplate.lastModified | date : 'dd.MM.yyyy' }}
  </div>
</div>
