.text-part:hover {
  background-color: #f1f3f4;
}
.query-box-title {
  width: 50%;
  font-size: 16px;
}
.query-box-date {
  width: 10%;
  text-align: center;
}
.query-box-comment {
  width: 40%;
  margin-top: 10px;
  font-size: 12px;
}
.invalid-Criterion {
  width: 20px;
  margin-right: 5px;
}

.cancel-part {
  width: 20%;
}

.button:hover {
  background-color: #c2c2c2;
}

.button-background {
  background-color: var(--num-color--accent-400);
}

.width-100 {
  width: 100%;
}

::ng-deep .input-field.mat-focused .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
  border: 2px solid var(--num-color--accent-500);
  border-radius: 5px;
}
::ng-deep .input-field .mat-mdc-text-field-wrapper .mdc-line-ripple {
  display: none;
}
