.query-box-title {
  width: 50%;
  font-size: 16px;
}
.query-box-date {
  width: 10%;
  text-align: center;
  font-size: 14px;
}
.query-box-comment {
  width: 40%;
  margin-top: 10px;
  font-size: 12px;
}
.invalid-Criterion {
  width: 20px;
  margin-right: 5px;
}
.cancel-part {
  width: 20%;
}
.button-background {
  background-color: var(--num-color--accent-400);
}

.input-design {
  width: 100%;
  background-color: #f9f9f9;
  border: 0px solid;
  height: 2.3em;
  font-size: 14px;
}

.input-design:focus {
  outline: none !important;
  border-bottom: 2px solid #738cba;
}

::ng-deep .mat-divider {
  color: rgb(203 203 203);
  width: 0.1em;
  margin-right: 1em;
}

::ng-deep .tooltip-design {
  border: 1px solid rgb(203 203 203);
  border-radius: 2px;
}

.width-100 {
  width: 100%;
}
.invisible {
  display: none;
}
fa-icon {
  font-size: 18px;
}
.trenner {
  height: 40px;
}
