<num-action-bar class="bottom">
  <ng-container *ngIf="listItemArray$ | async as listItemArray">
    <num-button
      icon="arrow-down"
      type="green"
      [isDisabled]="
        (stageArray$ | async)?.length === 0 && (isFeasibilityExistent$ | async) === false
      "
      (click)="navigateToEditor()"
      [matBadge]="(stageArray$ | async)?.length"
      matBadgePosition="above after"
    >
      {{ 'FEASIBILITY.SEARCH.ACTION_BAR.VIEW_STAGE' | translate }}
    </num-button>
    <num-button
      type="green"
      (click)="addItemsToStage()"
      [isDisabled]="!listItemArray.length"
      [matBadge]="listItemArray.length"
      matBadgePosition="above after"
      class="margin-right-20"
    >
      {{ 'FEASIBILITY.SEARCH.ACTION_BAR.ADD_TO_STAGE' | translate }}
    </num-button>
  </ng-container>
</num-action-bar>
