.dialog-container {
  padding: 2%;
  min-width: 50em;
  max-height: 75vh;
}
.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li,
.rating-list li.selected {
  color: #ffd700;
  cursor: grab;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

.ul-style {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

.input-field {
  width: 100%;
  padding: 1em 1em 0 0.2em;
  font-size: 14px;
}

.padding-16-px {
  padding-left: 16px;
}
