.container {
  cursor: pointer;
  padding: 0.4em;
  background-image: linear-gradient(180deg, white, #ececec);
  border-radius: 5px;
}

.container:hover {
  background-image: linear-gradient(180deg, white, var(--num-color--accent-100));
}
