<h2 class="loading-header">{{ 'QUERYBUILDER.OVERVIEW.LOAD_HEADER' | translate }}</h2>
<div class="saved-queries">
  <div *ngFor="let singleQuery of savedQueries; index as i" class="query-box">
    <num-single-query
      [index]="i"
      [id]="singleQuery.id"
      [singleQuery]="singleQuery.structuredQuery"
      [singleLabel]="singleQuery.label"
      [singleComment]="singleQuery.comment"
      [singleDate]="singleQuery.lastModified"
      [createdBy]="singleQuery.createdBy"
      (click)="loadQuery(singleQuery.id, singleQuery.structuredQuery)"
    >
    </num-single-query>
  </div>
</div>
