:host {
  width: 100%;
}
.saved-queries {
  margin-top: 3em;
}
.trenner {
  height: 40px;
}
.file-input {
  display: none;
}
.button-import {
  margin: 0 1em 0 2em;
}
.div-import-from-file {
  margin-top: 1em;
  margin-bottom: 6em;
}
