<h2 class="loading-header">{{ 'QUERYBUILDER.OVERVIEW.LOAD_HEADER' | translate }}</h2>
<div class="saved-queries">
  <div fxLayout="row" fxLayoutAlign="end center">
    <num-button [type]="'primary'" (click)="doValidate()" class="button-validate">
      {{ 'BUTTON.VALIDATE' | translate }}
    </num-button>
  </div>
  <h3>Abgespeicherte Queries</h3>
  <div *ngFor="let singleQuery of savedQueries; index as i" class="query-box">
    <num-single-query
      [index]="i"
      [id]="singleQuery.id"
      [singleLabel]="singleQuery.label"
      [singleDate]="singleQuery.created_at"
      (click)="loadQuery(singleQuery.id)"
    >
    </num-single-query>
  </div>
  <div class="trenner"></div>
  <h3>Abgespeicherte Templates</h3>
  <div *ngFor="let singleTemplate of savedTemplates; index as i" class="template-box">
    <num-single-query
      [index]="i"
      [id]="singleTemplate.id"
      [isValid]="singleTemplate.isValid"
      [singleLabel]="singleTemplate.label"
      [singleComment]="singleTemplate.comment"
      [singleDate]="singleTemplate.lastModified"
      [createdBy]="singleTemplate.createdBy"
      (click)="loadTemplate(singleTemplate.id, singleTemplate.content)"
    >
    </num-single-query>
  </div>
</div>
