.container-crit-group {
  height: 100%;
  padding: 1em 2% 1em 2%;
  /*border-left: 0.5em solid var(--num-color--accent-600);*/
}

.outer {
  padding: 0 0.25em;
}

.inner-padding {
  padding: 0.25em;
}

num-bool-logic-switch {
  padding: 0.2em 0;
}

.drop-at-bottom {
  margin: 1em 0 0 0.25em;
  border: dashed 1px black;
  min-height: 7em;
}

.drop-at-bottom.no-top-margin {
  margin: 0 0 0 0.5em;
}

.drop-at-bottommat-car.cdk-drop-list-dragging {
  background: var(--num-color--accent-100);
}

.padding-dataselection {
  height: 100%;
  padding-bottom: 1%;
}
