<div fxLayout="column" fxLayoutAlign="space-between stretch" class="container-crit-group">
  <div
    fxFlex="0"
    *ngFor="let criterionInnerArray of critGroup; let lastOuter = last; let i = index"
    class="outer"
  >
    <div
      *ngFor="let criterion of criterionInnerArray; let lastInner = last; let j = index"
      class="inner"
      cdkDropList
      [cdkDropListData]="{ groupId: groupId, critType: critType, row: i, column: j }"
      (cdkDropListDropped)="doDrop($event)"
    >
      <num-display-criterion
        [searchType]="searchType"
        *ngIf="!criterion.isLinked"
        [criterion]="criterion"
        [query]="query"
        [position]="{ groupId: groupId, critType: critType, row: i, column: j }"
        [showCancelButton]="true"
        (storeQuery)="doStoreQuery($event)"
        (delete)="doDelete({ row: i, column: j })"
        cdkDrag
      >
      </num-display-criterion>
      <div *ngIf="searchType === 'querybuilder'">
        <num-bool-logic-switch
          [position]="'inner'"
          [label]="getInnerLabelKey()"
          (switched)="splitInnerArray(i, j)"
          *ngIf="!lastInner"
        ></num-bool-logic-switch>
        <num-bool-logic-switch
          [position]="'outer'"
          [label]="getOuterLabelKey()"
          (switched)="joinInnerArrays(i)"
          *ngIf="!lastOuter && !criterionInnerArray[0].isLinked && isLastSwitch(i)"
        ></num-bool-logic-switch>
      </div>
    </div>
  </div>
  <div
    fxFlex="grow"
    class="drop-at-bottom"
    cdkDropList
    [cdkDropListData]="{ critType: critType, groupId: groupId, addMode: 'end' }"
    (cdkDropListDropped)="doDropAtEnd($event)"
    [ngClass]="{ 'no-top-margin': critGroup.length === 0 }"
  >
    <!--<num-bool-logic-switch
      [position]="'outer'"
      [label]="getOuterLabelKey()"
    ></num-bool-logic-switch>-->
  </div>
</div>
