<!--AttributeFilter-->
<div class="container">
  {{ criterion.getTermCodes()[0].getDisplay() }}
  <h3>AttributeFilter</h3>
  <div *ngFor="let attributeFilter of criterion.getAttributeFilters()">
    <num-concept
      (changedConceptFilter)="updateConceptFilterOfAttributeFilter($event, attributeFilter)"
      [conceptFilter]="attributeFilter.getConcept()"
    ></num-concept>
    <num-quantity
      (quantityFilterChange)="updateQuantityFilterOfAttributeFilter($event, attributeFilter)"
      [quantityFilter]="attributeFilter.getQuantity()"
    >
    </num-quantity>
  </div>
  <!--ValueFilter-->
  <h3>ValueFilter</h3>
  <div *ngFor="let valueFilter of criterion.getValueFilters()">
    <num-concept
      (changedAttributeFilter)="updateConceptFilterOfValueFilter($event)"
      [conceptFilter]="valueFilter.getConcept()"
    ></num-concept>
    <num-quantity
      (quantityFilterChange)="updateQuantityFilterOfValueFilter($event)"
      [quantityFilter]="valueFilter.getQuantity()"
    ></num-quantity>
  </div>
  <num-edit-time-restriction
    [timeRestriction]="criterion.getTimeRestriction()"
    (timeRestrictionChanged)="updateTimeRestriction($event)"
  ></num-edit-time-restriction>
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-raised-button class="select-button" (click)="saveCriterion()">Auswählen</button>
    <button mat-raised-button class="select-button" (click)="closeDialog()">abrechen</button>
  </div>
</div>
