<mat-tab-group
  animationDuration="0ms"
  class="token-filter-container"
  disableRipple="true"
  mat-stretch-tabs="false"
>
  <mat-tab
    *ngIf="tokenFilter"
    label="{{ 'EDITOR.CONTENT.PROFILE.TAB_LABEL.SINGLE_SEARCH' | translate }}"
  >
    <num-shared-concept-filter-copy
      [conceptFilterId]="tokenFilter.getId()"
      [valueSetUrl]="tokenFilter.getValueSetUrls()"
      [preSelectedConcepts]="tokenFilter.getSelectedTokens()"
      (changedSelectedConcepts)="updateSelectedConcepts($event)"
    >
    </num-shared-concept-filter-copy>
  </mat-tab>
  <mat-tab *ngIf="tokenFilter" label="{{ 'EDITOR.CONTENT.PROFILE.TAB_LABEL.BULK' | translate }}">
    <num-concept-bulk-search
      [valueSetUrl]="tokenFilter.getValueSetUrls()"
      (changedSelectedConcepts)="updateSelectedConcepts($event)"
    ></num-concept-bulk-search>
  </mat-tab>
</mat-tab-group>
