<div class="header-line">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="result-header-line">
      <num-result-simple
        class="result-simple-box"
        [resultObservable]="resultObservable$"
        [result]="result"
        [showSpinner]="showSpinningIcon"
        [isResultLoaded]="loadedResult"
      ></num-result-simple>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between" class="query-buttons-box">
      <div fxLayout="row" fxLayoutAlign="end center">
        <num-button
          [type]="'primary'"
          [isDisabled]="actionDisabledReset"
          (click)="doReset()"
          class="button-reset"
        >
          {{ 'BUTTON.RESET' | translate }}
        </num-button>
        <num-button
          [type]="'primary'"
          [isDisabled]="actionDisabledSave"
          (click)="doSave()"
          class="button-save"
        >
          {{ 'BUTTON.SAVEQUERY' | translate }}
        </num-button>
        <num-button
          *ngIf="isLoggedIn"
          [type]="'primary'"
          [isDisabled]="actionDisabledSend"
          (click)="doSend()"
          class="button-send"
        >
          {{ 'BUTTON.SEND' | translate }}
        </num-button>
        <num-button *ngIf="!isLoggedIn" [type]="'primary'" (click)="doImport()" class="button-send">
          {{ 'BUTTON.IMPORT' | translate }}
        </num-button>
      </div>
      <div *ngIf="actionDisabledSend && !actionDisabledReset" class="send-button-alert-text">
        {{ 'QUERYBUILDER.HINT.NO_CRITERIA_SELECTED' | translate }}
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" class="container">
    <num-search-input
      [critType]="'inclusion'"
      [query]="query"
      fxFlex="48.5"
      class="search-input-inclusion"
    ></num-search-input>
    <div fxFlex="1" class="search-input-spacer"></div>
    <num-search-input
      [critType]="'exclusion'"
      [query]="query"
      fxFlex="48.5"
      class="search-input-exclusion"
    ></num-search-input>
  </div>
</div>
<div class="querybuilder-container">
  <num-display-query [query]="query" (storeQuery)="storeQuery($event)"></num-display-query>
</div>
<div *ngIf="featureService.useFeatureMultipleGroups()">
  <button class="button-add-group" type="button" mat-icon-button (click)="addGroup()">
    <fa-icon icon="plus" size="lg"></fa-icon>
  </button>
  {{ 'QUERYBUILDER.DISPLAY.GROUPS.NEW_GROUP' | translate }}
</div>
