:host {
  width: 100%;
}

.container {
  margin: 1em 0;
}

.button-add-group {
  background-color: var(--num-color--accent-300);
  margin: 1em;
}
.button-reset {
  margin-right: 1em;
}

.result-simple-box {
  margin-left: 2%;
}
.result-header-line {
  position: sticky;
  top: 0;
  height: 4em;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 100;
}
.result-footer-line {
  margin: 1em 0;
  position: sticky;
  bottom: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 100;
}
.footer-buttons-box {
  margin: 1em;
}
.send-button-alert-text {
  color: red;
  font-size: small;
  line-height: 1.3em;
  padding-top: 5px;
  max-width: 18em;
}
