<div fxLayout="row" fxLayoutAlign="space-between center" class="result-header-line">
  <num-result-simple
    class="result-simple-box"
    [resultObservable]="resultObservable$"
    [result]="result"
    [showSpinner]="showSpinningIcon"
  ></num-result-simple>
</div>
<div class="querybuilder-container">
  <div fxLayout="row" fxLayoutAlign="space-between" class="container">
    <num-search-input [critType]="'inclusion'" [query]="query" fxFlex="50"></num-search-input>
    <div fxFlex=".5em"></div>
    <num-search-input [critType]="'exclusion'" [query]="query" fxFlex="50"></num-search-input>
  </div>

  <num-display-query [query]="query" (storeQuery)="storeQuery($event)"></num-display-query>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" class="result-footer-line">
  <div *ngIf="featureService.useFeatureMultipleGroups()">
    <button class="button-add-group" type="button" mat-icon-button (click)="addGroup()">
      <fa-icon icon="plus" size="lg"></fa-icon>
    </button>
    {{ 'QUERYBUILDER.DISPLAY.GROUPS.NEW_GROUP' | translate }}
  </div>
  <div *ngIf="!featureService.useFeatureMultipleGroups()" fxFlex="fill"></div>

  <div fxLayout="column" fxLayoutAlign="space-between" class="footer-buttons-box">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <num-button
        [type]="'primary'"
        [isDisabled]="actionDisabledReset"
        (click)="doReset()"
        class="button-reset"
      >
        {{ 'BUTTON.RESET' | translate }}
      </num-button>
      <num-button
        [type]="'primary'"
        [isDisabled]="actionDisabledSend"
        (click)="doSend()"
        class="button-send"
      >
        {{ 'BUTTON.SEND' | translate }}
      </num-button>
    </div>
    <div *ngIf="actionDisabledSend && !actionDisabledReset" class="send-button-alert-text">
      {{ 'QUERYBUILDER.HINT.NO_CRITERIA_SELECTED' | translate }}
    </div>
  </div>
</div>
