:host {
  width: 100%;
}

.container {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

.button-add-group {
  background-color: var(--num-color--accent-300);
  margin: 1em;
}
.button-reset,
.button-save {
  margin-right: 1em;
}

num-button {
  white-space: nowrap;
}
.result-simple-box {
  margin-left: 2%;
  width: 100%;
}
.header-line {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--num-color--background);
}
.result-header-line {
  height: 3.5em;
  background-color: white;
  border: 1px solid var(--num-color--primary);
  border-radius: 5px;
  width: 35%;
}

.query-buttons-box {
  position: sticky;
  z-index: 100;
  width: 40%;
  height: 4.5em;
  padding-top: 1em;
}
.send-button-alert-text {
  color: red;
  font-size: small;
  line-height: 1.3em;
  padding-top: 5px;
  text-align: right;
}

.search-input-spacer {
  background-color: var(--num-color--accent-600);
  border-radius: 4px;
}

.container-consent {
  margin: 10px 0 15px 5px;
}
.consent-header {
  font-weight: 500;
  color: var(--num-color--accent-600);
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  padding: 24px;
}
::ng-deep .querybuilder-container .mat-mdc-card-header {
  padding: 0 16px;
}
::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  background-color: var(--num-color--accent-600) !important;
  border-color: black!important;
}
::ng-deep mat-checkbox label {
  font-weight: 400!important;
}
::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__background {
  top: 6px!important;
}
::ng-deep .mat-mdc-checkbox .mdc-checkbox {
  padding: 6px 10px!important;
}
::ng-deep .mat-mdc-checkbox-touch-target {
  width: 40px!important;
  height: 40px!important;
}
