:host {
  width: 100%;
}

.container {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

.button-add-group {
  background-color: var(--num-color--accent-300);
  margin: 1em;
}
.button-reset,
.button-save {
  margin-right: 1em;
}

.result-simple-box {
  margin-left: 2%;
  width: 100%;
}
.header-line {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--num-color--background);
}
.result-header-line {
  height: 3.5em;
  background-color: white;
  border: 1px solid var(--num-color--primary);
  border-radius: 5px;
  width: 35%;
}

.query-buttons-box {
  position: sticky;
  z-index: 100;
  width: 40%;
  height: 4.5em;
  padding-top: 1em;
}
.send-button-alert-text {
  color: red;
  font-size: small;
  line-height: 1.3em;
  padding-top: 5px;
  text-align: right;
}

.search-input-spacer {
  background-color: var(--num-color--accent-600);
  border-radius: 4px;
}

::ng-deep .mat-mdc-dialog-container {
  box-shadow: 0px 11px 15px -4px rgba(0, 0, 0, 0.2), 0px 24px 38px 5px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
}
