<num-result-simple
  [resultObservable]="resultObservable$"
  [result]="result"
  [showSpinner]="showSpinningIcon"
></num-result-simple>

<div fxLayout="row" fxLayoutAlign="space-between" class="container">
  <num-search-input [critType]="'inclusion'" [query]="query" fxFlex="50"></num-search-input>
  <div fxFlex=".5em"></div>
  <num-search-input [critType]="'exclusion'" [query]="query" fxFlex="50"></num-search-input>
</div>

<div fxLayout="row" fxLayoutAlign="space-between">
  <num-button [type]="'primary'" (click)="doReset()">{{ 'BUTTON.RESET' | translate }}</num-button>

  <num-button [type]="'primary'" (click)="doSend()" class="button-send">{{
    'BUTTON.SEND' | translate
  }}</num-button>
</div>

<num-display-query [query]="query" (storeQuery)="storeQuery($event)"></num-display-query>
