<num-action-bar class="bottom">
  <ng-container *ngIf="$listItemArray | async as listItemArray">
    <div *ngIf="listItemArray.length > 0" class="display-selected">
      {{
        listItemArray.length === 1
          ? ('SHAREDCOMPONENTS.ACTIONBAR.SELECTED_CRITERIA.SINGULAR'
            | translate : { amount: listItemArray.length })
          : ('SHAREDCOMPONENTS.ACTIONBAR.SELECTED_CRITERIA.PLURAL'
            | translate : { amount: listItemArray.length })
      }}
    </div>
    <num-button
      type="green"
      (click)="addItemsToStage()"
      [isDisabled]="!listItemArray.length"
      [matBadge]="listItemArray.length"
      matBadgePosition="above after"
      class="margin-right-20"
    >
      {{ 'QUERYBUILDER.STAGE.BUTTON.ADD_TO_STAGE' | translate }}
    </num-button>
  </ng-container>
  <num-button
    icon="arrow-down"
    type="green"
    [isDisabled]="!($stageArray | async)?.length"
    class="margin-right-10"
    (click)="navigateToEditor()"
    [matBadge]="($stageArray | async)?.length"
    matBadgePosition="above after"
  >
    {{ 'QUERYBUILDER.STAGE.BUTTON.VIEW_STAGE' | translate }}
  </num-button>
</num-action-bar>
