.margin-right-10 {
  margin-right: 10px;
}
.margin-right-20 {
  margin-right: 20px;
}
/* Box styles */
.box {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  font-size: small;
  font-weight: 400;
}

.dotted-box {
  @extend .box;
  background-color: #e8effc;
  border: 2px dotted #5a79af;
}

.normal-box {
  @extend .box;
  background-color: #fff;
  border: 2px solid transparent;
}

.green-box {
  @extend .box;
  background-color: #9bb923;
  color: #fff;
  border: 2px solid transparent;
}

.absolute-test {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 5px;
}

.font-added-criteria {
  padding-left: 10px;
  font-size: smaller;
  font-weight: 400;
}

.display-selected {
  width: 50%;
  font-weight: 500;
  font-size: medium;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

::ng-deep.mat-badge-content {
  border: 2px solid var(--num-color--primary-green);
  color: var(--num-color--primary-green);
  background-color: white;
  width: 26px !important;
  height: 26px !important;
  border-radius: 25%;
}
