<mat-tab-group
  class="height-100 padding-top-3"
  animationDuration="0ms"
  disableRipple="true"
  mat-stretch-tabs="false"
  [selectedIndex]="1"
>
  <mat-tab label="{{ 'INFORMATION.TERMCODE.TITLE' | translate }}">
    <num-information-section>
      <span slot="title">{{ 'INFORMATION.TERMCODE.TITLE' | translate }}</span>
      {{ 'INFORMATION.TERMCODE.DESCRIPTION' | translate }}
      <br /><br />
      <strong>{{ 'INFORMATION.TERMCODE.TITLE' | translate }} - Multiple Codes</strong>
      <br />
      {{ 'INFORMATION.TERMCODE.MULTIPLE_DESCRIPTION' | translate }}
    </num-information-section>
  </mat-tab>

  <mat-tab label="{{ 'FEASIBILITY.EDITOR.TERMCODE.HEADER' | translate }}">
    <div class="selected-concept-list">
      <div *ngFor="let termCode of termCodes" class="concept-item">
        <span style="width: 60%">{{ termCode.getDisplay() }}</span>
        <span>{{ termCode.getCode() }}</span>

        <button
          [disabled]="termCodes.length === 1"
          (click)="removeTermCode(termCode)"
          class="delete-button"
        >
          {{ 'FEASIBILITY.EDITOR.MODAL.REMOVE' | translate }}
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
