@use 'node_modules/@angular/material' as mat;
@function mat-light-theme-background($primary, $accent, $additional) {
  @return (
    background: mat.get-color-from-palette($additional, page-background),
    disabled-button: mat.get-color-from-palette($primary, 200),
    // Defaults below
    status-bar: grey,
    app-bar: grey,
    hover: rgba(black, 0.04),
    card: white,
    dialog: white,
    raised-button: white,
    focused-button: grey,
    selected-button: grey,
    selected-disabled-button: grey,
    disabled-button-toggle: grey,
    unselected-chip: grey,
    disabled-list-option: grey,
    tooltip: grey
  );
}
