@use 'node_modules/@angular/material' as mat;
@function mat-light-theme-foreground($primary, $accent, $additional) {
  @return (
    text: mat.get-color-from-palette($additional, dark-grey),
    disabled-button: rgba(white, 0.65),
    // defaults below
    base: black,
    divider: dark-grey,
    dividers: dark-grey,
    disabled: dark-grey,
    disabled-text: dark-grey,
    elevation: black,
    hint-text: dark-grey,
    secondary-text: dark-grey,
    icon: rgba(black, 0.54),
    icons: rgba(black, 0.54),
    slider-min: rgba(black, 0.87),
    slider-off: rgba(black, 0.26),
    slider-off-active: rgba(black, 0.38)
  );
}
