.width-100 {
  width: 100%;
}

.header {
  padding-top: 2%;
  width: 90%;
}

.profile-tab-group-container .mat-mdc-tab-group {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  background-color: white;
  background: white;
}
