<div fxLayout="column" fxLayoutAlign="space-between start" class="width-100">
  <num-profile-header class="width-100" [profile]="profile"> </num-profile-header>
  <num-filter-tabs *ngIf="filterTemplates.length > 0" [content]="filterTemplates"></num-filter-tabs>

  <ng-template #fields>
    <num-edit-fields style="width: 100%" [profile]="profile"></num-edit-fields>
  </ng-template>

  <ng-template #filter>
    <mat-tab-group color="primary" animationDuration="0ms">
      <mat-tab
        *ngFor="let profileTokenFilter of profileTokenFilters"
        label="{{ profileTokenFilter.getName() }}"
      >
        <num-shared-concept-filter-copy
          [conceptFilterId]="profileTokenFilter.getId()"
          [valueSetUrl]="profileTokenFilter.getValueSetUrls()"
          [preSelectedConcepts]="profileTokenFilter.getSelectedTokens()"
          (changedSelectedConcepts)="updateSelectedConcepts($event)"
        >
        </num-shared-concept-filter-copy>
      </mat-tab>
      <mat-tab
        *ngFor="let timeRestriction of profileTimeRestriction"
        label="{{ timeRestriction.getName() }}"
      >
        <num-edit-time-restriction
          [timeRestriction]="timeRestriction.getTimeRestriction()"
          (timeRestrictionChanged)="updateTimeRestriction($event, timeRestriction)"
        ></num-edit-time-restriction>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</div>
