<div fxLayout="column" fxLayoutAlign="space-between start" class="width-100">
  <num-profile-header class="width-100" [profile]="profile"> </num-profile-header>
  <num-filter-tabs *ngIf="filterTemplates.length > 0" [content]="filterTemplates"></num-filter-tabs>

  <ng-template #fields>
    <num-edit-fields style="width: 100%" [profile]="profile"></num-edit-fields>
  </ng-template>
  <ng-template #timeRestriction>
    <num-edit-time-restriction
      [timeRestriction]="profileTimeRestriction"
      (timeRestrictionChanged)="updateTimeRestriction($event)"
    ></num-edit-time-restriction>
  </ng-template>

  <ng-template #concept>
    <<num-shared-concept-filter
      [conceptFilterId]="profileTokenFilter.getId()"
      [valueSetUrl]="profileTokenFilter.getValueSetUrls()"
      [preSelectedConcepts]="profileTokenFilter.getSelectedTokens()"
      (changedSelectedConcepts)="updateSelectedConcepts($event)"
    >
    </num-shared-concept-filter>
  </ng-template>
</div>
