{{ 'FEASIBILITY.EDITOR.CONSENT.WITHOUT_CONSENT' | translate }}
<num-switch [isChecked]="consent" (change)="toggleConsent()"></num-switch>
{{ 'FEASIBILITY.EDITOR.CONSENT.WITH_CONSENT' | translate }}

<!-- Build transition for consent box -->

<div *ngIf="consent" class="consent-container" fxLayout="column" fxLayoutAlign="center start">
  <!-- Analysis Type Toggle -->
  <num-section-name>{{ 'FEASIBILITY.EDITOR.CONSENT.TITLE' | translate }}</num-section-name>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="toggle-row">
    <div class="width-30" [ngClass]="{ 'text-blue': !distributedAnalysis }">
      {{ 'FEASIBILITY.EDITOR.CONSENT.CENTRAL' | translate }}
    </div>
    <num-switch
      [isChecked]="distributedAnalysis"
      (change)="onToggleChange('analysisType')"
    ></num-switch>
    <div class="width-30" [ngClass]="{ 'text-blue': distributedAnalysis }">
      {{ 'FEASIBILITY.EDITOR.CONSENT.DISTRIBUTED' | translate }}
    </div>
  </div>

  <!-- GDPR Compliance Toggle -->
  <div fxLayout="row" fxLayoutAlign="space-between center" class="toggle-row">
    <div class="width-30" [ngClass]="{ 'text-blue': !euGdpr }">
      {{ 'FEASIBILITY.EDITOR.CONSENT.NON_EU_GDPR' | translate }}
    </div>
    <num-switch [isChecked]="euGdpr" (change)="onToggleChange('gdprCompliance')"></num-switch>
    <div class="width-30" [ngClass]="{ 'text-blue': euGdpr }">
      {{ 'FEASIBILITY.EDITOR.CONSENT.EU_GDPR' | translate }}
    </div>
  </div>

  <!-- Insurance Data Toggle -->
  <div fxLayout="row" fxLayoutAlign="space-between center" class="toggle-row">
    <div class="width-30" [ngClass]="{ 'text-blue': !insuranceDataBoolean }">
      {{ 'FEASIBILITY.EDITOR.CONSENT.WITHOUT_DATA' | translate }}
    </div>
    <num-switch
      [isChecked]="insuranceDataBoolean"
      (change)="onToggleChange('insuranceData')"
    ></num-switch>
    <div class="width-30" [ngClass]="{ 'text-blue': insuranceDataBoolean }">
      {{ 'FEASIBILITY.EDITOR.CONSENT.WITH_DATA' | translate }}
    </div>
  </div>

  <!-- Contact Option Toggle -->
  <div fxLayout="row" fxLayoutAlign="space-between center" class="toggle-row">
    <div class="width-30" [ngClass]="{ 'text-blue': !contact }">
      {{ 'FEASIBILITY.EDITOR.CONSENT.WITHOUT_CONTACT' | translate }}
    </div>
    <num-switch [isChecked]="contact" (change)="onToggleChange('contactOption')"></num-switch>
    <div class="width-30" [ngClass]="{ 'text-blue': contact }">
      {{ 'FEASIBILITY.EDITOR.CONSENT.WITH_CONTACT' | translate }}
    </div>
  </div>

  <div class="provisionCodeDisplay">
    {{ 'FEASIBILITY.EDITOR.CONSENT.' + provisionCode | translate }}
  </div>
</div>
