.safari-fix {
  min-height: fit-content;
  overflow: auto;
}

.fix-overlay {
  z-index: unset;
  overflow-y: auto;
}

.titlebar {
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.mat-drawer-container,
.mat-sidenav {
  top: 108px !important;
}
.mat-drawer-container {
  padding-top: 1em;
  background-color: #fff;
}

.mat-drawer-side {
  border-right: none !important;
}

.padding-left-4 {
  padding-left: 4rem;
}

.padding-right-20 {
  padding-right: 10rem;
}

.side-menu {
  border-right: 2px solid #f1f2f3;
  height: 100%;
  overflow: hidden;
}

.animation-container {
  padding-right: 2rem;
  position: relative;
  width: 100%;
  height: 100vh; /* or other fixed height */
  overflow: hidden; /* Prevent content overflow during transitions */
}
.fullscreen {
  height: 100%;
  width: 100%;
}
