.safari-fix {
  min-height: fit-content;
}

.fix-overlay {
  z-index: unset;
  overflow-y: hidden;
}

.titlebar {
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.mat-drawer-container,
.mat-sidenav {
  top: 108px !important;
}
.mat-drawer-container {
  padding-top: 1em;
  background-color: #fff;
}

.mat-drawer-side {
  border-right: none !important;
}

.padding-left-4 {
  padding-left: 4rem;
}

.padding-right-20 {
  padding-right: 10rem;
}
