.safari-fix {
  min-height: fit-content;
}

.fix-overlay {
  z-index: unset;
}

.titlebar {
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.mat-drawer-container,
.mat-sidenav {
  top: 108px !important;
}
.mat-drawer-container {
  padding-top: 1em;
}

.mat-drawer-side {
  border-right: none !important;
}
