<num-modal-window (saveButtonSelected)="saveFields()" (cancelButtonSelected)="closeDialog()">
  <div class="filter-header">
    {{ 'DATASELECTION.FIELD_SELECTION.HEADER' | translate }} {{ profileName }}
  </div>
  <div class="tree-container">
    <div *ngFor="let singleTree of tree">
      <num-tree
        [treeData]="singleTree"
        (selectedCheckbox)="setSelectedFieldElement($event)"
      ></num-tree>
    </div>
  </div>
  <div *ngIf="arrayOfSelectedFields.length > 0">
    <div class="filter-title">Field selection</div>
    <div
      *ngFor="let selectedField of arrayOfSelectedFields"
      fxLayout="row"
      fxLayoutAlign="start center"
      class="selectedFilterBox"
    >
      <div class="display-part">
        {{ selectedField.display }}
      </div>
      <div>
        <mat-checkbox
          [checked]="selectedField.getIsRequired()"
          (change)="setFieldAsRequired(selectedField)"
        >
          requiered
        </mat-checkbox>
      </div>
      <div fxFlexAlign="center">
        <fa-icon
          [icon]="'times'"
          size="1x"
          (click)="removeSelectedConcept(selectedConceptFilter)"
          class="delete-button"
        ></fa-icon>
      </div>
    </div>
  </div>
</num-modal-window>
