.tree-container {
  min-height: 50%;
  max-height: 50%;
  overflow: auto;
  background-color: rgb(90, 121, 175, 0.1);
}

.selectedFilterBox {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.display-part {
  padding-left: 10px;
  width: 90%;
}
.display-part > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.filter-title {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #6a7483;
  font-size: 16px;
  font-weight: 500;
}

.select-button {
  border-radius: 5px;
  background: rgb(90, 121, 175, 1);
  margin-left: 2%;
  color: white;
}

.filter-header {
  color: #5a7aaf;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 18px;
  font-weight: 500;
}
.selected-fields {
  height: 38%;
}
.selected-fields-box {
  height: 90%;
  overflow: auto;
}
.padding-right-10 {
  padding-right: 10px;
}
