<mat-form-field>
  <span *ngIf="translate.currentLang === 'de'" class="fi fi-de" matPrefix> </span>
  <span *ngIf="translate.currentLang === 'en'" class="fi fi-gb" matPrefix> </span>

  <mat-select (selectionChange)="changeLanguage($event.value)">
    <mat-option value="de">
      <span class="fi fi-de"></span>
      {{ 'LANGUAGE.GERMAN' | translate }}
    </mat-option>
    <mat-option value="en">
      <span class="fi fi-gb"></span>
      {{ 'LANGUAGE.ENGLISH' | translate }}</mat-option
    >
  </mat-select>
</mat-form-field>
