::ng-deep .language-select {
  width: 60%;

  .mat-mdc-text-field-wrapper {
    padding: 0px;
    background-color: white;

    .mat-mdc-form-field-flex {
      padding: 0px 6px;
      border-radius: 5px;
      border-color: white;
      height: 42px;
      align-items: center;
    }

    .mdc-line-ripple {
      display: none; /* Hide the ripple effect */
      border: 0px;
    }
  }

  ::ng-deep .cdk-overlay-container .cdk-overlay-pane .example-panel {
    background-color: #fff;
    width: 55%;
    position: fixed;
    left: 19%; /* Adjust as needed */
  }

  .option-layout {
    margin-right: 10px;
  }
}
