<div *ngIf="filter">
  <div
    *ngIf="filter.type === OperatorOptions.CONCEPT && filter.selectedConcepts.length > 0"
    class="container"
  >
    <span *ngIf="filter.display">{{ filter.display }}{{ ': ' }}</span>
    <span *ngIf="filter.attributeDefinition?.attributeCode?.display"
      >{{ filter.attributeDefinition?.attributeCode?.display }}{{ ': ' }}</span
    >
    {{ 'QUERYBUILDER.DISPLAY.ONE_OF' | translate }}
    <span *ngIf="filter.selectedConcepts as selected">
      <span *ngIf="selected[0] as termCode">{{ termCode.display }}</span>
      <span *ngIf="selected[1] as termCode">, {{ termCode.display }}</span>
      <em *ngIf="selected[2]">
        + {{ selected.length - 2 }} {{ 'QUERYBUILDER.DISPLAY.MORE' | translate }}</em
      >
    </span>
  </div>

  <div
    *ngIf="filter.type === OperatorOptions.QUANTITY_COMPARATOR && filter.comparator !== 'none'"
    class="container"
  >
    <span *ngIf="filter.display">{{ filter.display }}{{ ': ' }}</span>
    <span *ngIf="filter.attributeDefinition?.attributeCode?.display"
      >{{ filter.attributeDefinition?.attributeCode?.display }}{{ ': ' }}</span
    >
    <fa-icon
      *ngIf="featureService.useFeatureShowDisplayValueFilterIcon()"
      size="1x"
      icon="{{ getComparator().icon }}"
    ></fa-icon>
    {{
      'QUERYBUILDER.DISPLAY.COMPARATOR'
        | translate
          : { comparator: getComparator().utf8, value: filter.value, unit: filter.unit.display }
    }}
  </div>

  <div *ngIf="filter.type === OperatorOptions.QUANTITY_RANGE" class="container">
    <span *ngIf="filter.display">{{ filter.display }}{{ ': ' }}</span>
    <span *ngIf="filter.attributeDefinition?.attributeCode?.display"
      >{{ filter.attributeDefinition?.attributeCode?.display }}{{ ': ' }}</span
    >
    {{
      'QUERYBUILDER.DISPLAY.BETWEEN'
        | translate : { min: filter.minValue, max: filter.maxValue, unit: filter.unit.display }
    }}
  </div>
</div>
