<div *ngIf="filter" class="container">
  <div *ngIf="filter.type === CONCEPT">
    {{ 'QUERYBUILDER.DISPLAY.ONE_OF' | translate }}
    <span *ngIf="filter.selectedConcepts as selected">
      <span *ngIf="selected[0] as termCode">{{ termCode.display }}</span>
      <span *ngIf="selected[1] as termCode">, {{ termCode.display }}</span>
      <em *ngIf="selected[2]">
        + {{ selected.length - 2 }} {{ 'QUERYBUILDER.DISPLAY.MORE' | translate }}</em
      >
    </span>
  </div>

  <div *ngIf="filter.type === QUANTITY_COMPARATOR">
    <fa-icon
      *ngIf="featureService.useFeatureShowDisplayValueFilterIcon()"
      size="1x"
      icon="{{ getComparator().icon }}"
    ></fa-icon>
    <span *ngIf="!featureService.useFeatureShowDisplayValueFilterIcon(); else show_no_symbol">{{
      'QUERYBUILDER.DISPLAY.COMPARATOR'
        | translate
          : { comparator: getComparator().utf8, value: filter.value, unit: filter.unit.display }
    }}</span>
    <ng-template #show_no_symbol>
      <span>{{
        'QUERYBUILDER.DISPLAY.COMPARATOR'
          | translate: { comparator: '', value: filter.value, unit: filter.unit.display }
      }}</span>
    </ng-template>
  </div>

  <div *ngIf="filter.type === QUANTITY_RANGE">
    {{
      'QUERYBUILDER.DISPLAY.BETWEEN'
        | translate: { min: filter.minValue, max: filter.maxValue, unit: filter.unit.display }
    }}
  </div>
</div>
