<div fxlayout="row" fxLayoutAlign="start" style="min-width: 1200px">
  <div fxlayout="column" fxFlex="50" class="inexclusion">
    <num-section-name>
      {{ 'QUERYBUILDER.SEARCH.INCLUSION' | translate }}
    </num-section-name>
    <num-display-criteria
      id="Inclusion"
      style="width: 600px; display: block"
      cdkDropList
      numAppDropGroup
      groupType="Inclusion"
      [isEditable]="isEditable"
    >
    </num-display-criteria>
  </div>
  <div fxlayout="column" fxFlex="50" class="inexclusion">
    <num-section-name>
      {{ 'QUERYBUILDER.SEARCH.EXCLUSION' | translate }}
    </num-section-name>
    <num-display-criteria
      id="Exclusion"
      style="width: 600px; display: block"
      cdkDropList
      numAppDropGroup
      groupType="Exclusion"
      [isEditable]="isEditable"
    >
    </num-display-criteria>
  </div>
</div>
