.title-header {
  width: 42.5%;
  font-size: large;
  color: rgba(95, 98, 102, 1);
  margin-bottom: 1em;
}
.inexclusion {
  min-width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
