<div
  fxLayout="row"
  fxLayoutAlign="start"
  style="min-width: 1200px"
  class="height-100 padding-bottom-3"
>
  <div fxLayout="column" fxLayoutAlign="start" fxFlex="50">
    <num-section-name>
      {{ 'FEASIBILITY.EDITOR.INCLUSION' | translate }}
    </num-section-name>
    <div fxLayout="column" class="inexclusion">
      <num-display-criteria
        id="Inclusion"
        class="inexclusion"
        cdkDropList
        numAppDropGroup
        groupType="Inclusion"
        [isEditable]="isEditable"
      >
      </num-display-criteria>
    </div>
  </div>
  <div fxLayout="column" fxFlex="50" class="inexclusion">
    <num-section-name>
      {{ 'FEASIBILITY.EDITOR.EXCLUSION' | translate }}
    </num-section-name>
    <div fxLayout="column" class="inexclusion">
      <num-display-criteria
        id="Exclusion"
        class="inexclusion"
        cdkDropList
        numAppDropGroup
        groupType="Exclusion"
        [isEditable]="isEditable"
      >
      </num-display-criteria>
    </div>
  </div>
</div>
