.divider {
  border: 0;
  border-bottom: 1px solid #0000001f;
  width: 100%;
  align-content: center;
}

.icon-color {
  color: rgba(197, 202, 207, 1);
  padding-right: 10px;
}

.divider:hover,
.divider:hover .icon-color {
  color: rgba(90, 121, 175, 1);
  /* Hover color */
}

.last-item:hover,
.last-item:hover .icon-color {
  color: rgba(90, 121, 175, 1);
  /* Hover color */
}

.menu-icon {
  color: rgba(90, 121, 175, 1);
}

.menu-icon:hover {
  cursor: pointer;
}

::ng-deep.mat-mdc-menu-panel {
  background-color: #fff;
  width: 1000px;
}

.options {
  font-weight: 500;
  pointer-events: none;
  cursor: default; /* Prevents pointer icon */
  color: rgba(0, 0, 0, 0.87); /* Ensure consistent text color */
  padding: 8px 16px; /* Matches mat-menu-item padding */
}

.non-clickable:hover {
  background: none; /* Prevent hover background */
}
