<num-modal-window (cancelButtonSelected)="closeDialog()" (saveButtonSelected)="saveDataSelection()">
  <div *ngFor="let profileTimeFilter of profileTimeFilters">
    <num-edit-time-restriction
      [timeRestriction]="profileTimeFilter.getTimeRestriction()"
      (timeRestrictionChanged)="setTimeRestriction($event, profileTimeFilter)"
    ></num-edit-time-restriction>
  </div>
  <div *ngFor="let profileCodeFilter of profileCodeFilters">
    <num-shared-concept-filter
      [allowedConceptUri]="profileCodeFilter?.getValueSetUrls()"
      [preSelectedConcepts]="profileCodeFilter?.getSelectedTokens()"
      (changedSelectedConcepts)="setProfileCodeFilter($event, profileCodeFilter)"
    >
    </num-shared-concept-filter>
  </div>
</num-modal-window>
