<div class="container" *ngIf="content && content.length > 0">
  <!-- CUSTOM TAB HEADER (no Angular Material) -->
  <div class="tabs-container">
    <div
      class="tab"
      *ngFor="let item of content; let i = index"
      [class.active]="selectedIndex === i"
      (click)="selectedIndex = i"
    >
      {{ 'EDITOR.CONTENT.PROFILE.TAB_LABEL.' + item.name | translate }}
    </div>
  </div>

  <!-- CUSTOM TAB CONTENT (same logic as before) -->
  <div class="tab-content">
    <ng-container *ngFor="let item of content; let i = index">
      <ng-container *ngIf="selectedIndex === i">
        <ng-container [ngTemplateOutlet]="item.template"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
