.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  background: white;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
  margin-bottom: 8px;
}

.tab {
  background: white; /* slightly light gray-ish blue */
  padding: 8px 24px;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 500;
  color: #5a79af;
  cursor: pointer;
  margin-right: 8px;
  user-select: none;
}

.tab:last-child {
  margin-right: 0;
}

.tab.active {
  background: #f2f5fc;
  color: #5a79af;
}

.tab-content {
  height: 100%;
  overflow: auto;
  background: white;
  padding: 16px;
  border-radius: 0 4px 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
