<div class="container" *ngIf="content && content.length > 0">
  <mat-tab-group
    color="primary"
    animationDuration="0ms"
    class="height-100 width-100"
    [(selectedIndex)]="selectedIndex"
  >
    <mat-tab
      *ngFor="let item of content; let i = index"
      id="item.name"
      label="{{ 'EDITOR.CONTENT.PROFILE.TAB_LABEL.' + item.name | translate }}"
    >
      <ng-template matTabContent>
        <ng-container *ngIf="selectedIndex === i">
          <ng-container [ngTemplateOutlet]="item.template"></ng-container>
        </ng-container>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
