.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
  margin-bottom: 4px;
  padding-top: 8px;
}

.tab {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px -3px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  padding: 8px 24px;
  /* border-right: 1px solid grey; */
  border-radius: 16px 16px 0 0;
  font-size: 1rem;
  font-weight: 500;
  color: #5a79af;
  cursor: pointer;
  /* margin-right: 8px; */
  -webkit-user-select: none;
  user-select: none;
  background: #f2f5fc;
  opacity: 70%;
}

.tab:last-child {
  margin-right: 0;
}

.tab.active {
  opacity: 100%;
  background: white;
  color: #5a79af;
  margin-bottom: -23px;
  /* padding-bottom: 8px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px -3px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.tab-content {
  height: 100%;
  overflow: auto;
  background: white;
  padding: 16px;
  border-radius: 0 4px 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
