.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 24px;
  padding: 16px 0 16px 0;
}

.result-list-container {
  overflow: auto;
  padding-top: 24px;
}

.selected-filter-element {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 8px;
}
.selected-filter-box {
  overflow: auto;
  height: 100%;
}
.display-part {
  padding-left: 8px;
}
.display-part > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.delete-button {
  width: auto;
  align-self: end;
  background-color: white;
  border: 0px;
  text-decoration: underline #5170a8;
  padding-bottom: 10px;
}

.filter-title {
  margin-bottom: 10px;
  color: #6a7483;
  font-size: 16px;
  font-weight: 500;
}

.attribute-code-display {
  color: #6a7483;
  padding-bottom: 5px;
}
