.container {
  background-color: rgb(90, 121, 175, 0.1);
  height: 50%;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.result-list-container {
  height: auto;
  overflow: auto;
  padding-top: 20px;
}

.selected-filter-element {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.selected-filter-box {
  overflow: auto;
  height: 100%;
}
.display-part {
  padding-left: 10px;
}
.display-part > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.delete-button {
  width: auto;
  align-self: end;
  background-color: white;
  border: 0px;
  text-decoration: underline #5170a8;
  padding-bottom: 10px;
}

.filter-title {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #6a7483;
  font-size: 16px;
  font-weight: 500;
}

.attribute-code-display {
  color: #6a7483;
  padding-bottom: 5px;
}
.height-100 {
  height: 100%;
}
