<div fxFlexFill fxLayout="column" fxLayoutAlign="start">
  <div style="margin-top: 5px">
    <p style="font-size: xx-large">Criteria Search</p>
    <p style="width: 30%; color: #c5cacf">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="searchbar-div">
    <num-searchbar
      fxFlex="50"
      [label]="'Suchbegriff eingeben'"
      class="padding-right-1 width-100"
      (searchTextChange)="startElasticSearch($event)"
    >
    </num-searchbar>
    <button
      mat-raised-button
      class="height-59"
      color="white"
      (click)="startElasticSearch(searchtext)"
    >
      Suchen
    </button>
  </div>
  <mat-drawer-container>
    <mat-drawer #drawer position="end" mode="side">
      <div fxLayout="column" *ngIf="listItems" class="padding-top-50">
        <button (click)="closeSidenav()" class="cancel-button" fxLayoutAlign="center end">
          Back to list
          <fa-icon class="close-icon" icon="times" [fixedWidth]="true"></fa-icon>
        </button>
        <num-list-item-details
          [listItemDetails$]="selectedDetails$"
          (selectedRelative)="setSelectedRelative($event)"
          class="padding-left-2"
        >
        </num-list-item-details>
      </div>
    </mat-drawer>
    <mat-drawer-content *ngIf="listItems.length > 0" class="content-height-90">
      <ng-container *ngIf="adaptedData">
        <num-table
          (selectedRow)="setSelectedRowItem($event)"
          (rowClicked)="setClickedRow($event)"
          [tableData]="adaptedData"
          fxFlexFill
        ></num-table>
      </ng-container>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
