
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin: 0.5em;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-footer {
  margin: unset;
}

.button-save {
  margin: 0 0 0 2em;
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
mat-radio-button {
  padding: 0 1em;
}

.top-row {
  padding: 1em 0;
}

.middle-row {
  padding: 1em 0 0 0;
}

.bottom-row {
  padding: 1em 0;
}

.form-value {
  width: 5em;
  margin: 0 1em;
}

.form-unit {
  width: 8em;
  margin: 0 1em;
}

.form-preposition {
  width: 8em;
  margin: 0 1em;
}

.preposition {
  margin: 0 2em;
}
