<mat-card appearance="outlined" class="mat-elevation-z3">
  <mat-card-header>
    <h4>
      {{ 'QUERYBUILDER.EDIT.GROUPS.HEADER_LINKED_GROUPS' | translate }}
    </h4>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="connection" class="container">
      <div fxLayout="row" class="top-row">
        <mat-radio-group [(ngModel)]="connection.restrictionType" fxLayout="row">
          <mat-radio-button [value]="restrictionTypeEver">{{
            'QUERYBUILDER.EDIT.GROUPS.OPTION_PARENT_EVER' | translate
          }}</mat-radio-button>
          <mat-radio-button [value]="restrictionTypeFirst">{{
            'QUERYBUILDER.EDIT.GROUPS.OPTION_PARENT_FIRST' | translate
          }}</mat-radio-button>
          <mat-radio-button [value]="restrictionTypeLatest">{{
            'QUERYBUILDER.EDIT.GROUPS.OPTION_PARENT_LATEST' | translate
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
      {{ 'QUERYBUILDER.EDIT.GROUPS.GROUP_PARENT_1' | translate }}
      <b>{{ this.parentGroup.display + ' (' + this.parentGroup.id + ')' }}</b>
      {{ 'QUERYBUILDER.EDIT.GROUPS.GROUP_PARENT_2' | translate }}

      <div fxLayout="row" fxLayoutAlign="space-between center" class="middle-row">
        <div fxFlex="fill"></div>
        <div class="preposition">{{ 'QUERYBUILDER.EDIT.GROUPS.FROM' | translate }}</div>
        <mat-form-field appearance="outline" class="form-value">
          <mat-label>{{ 'QUERYBUILDER.EDIT.GROUPS.LABEL_VALUE' | translate }}</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="connection.atMostEarlierThanRelatedGroup"
            numMatInputNumber
            [precision]="0"
            [min]="0"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-unit">
          <mat-label>{{ 'QUERYBUILDER.EDIT.GROUPS.LABEL_UNIT' | translate }}</mat-label>
          <mat-select [(ngModel)]="connection.atMostEarlierThanRelatedGroupUnit">
            <mat-option [value]="day">{{ 'QUERYBUILDER.EDIT.GROUPS.DAY' | translate }}</mat-option>
            <mat-option [value]="month">{{
              'QUERYBUILDER.EDIT.GROUPS.MONTH' | translate
            }}</mat-option>
            <mat-option [value]="year">{{
              'QUERYBUILDER.EDIT.GROUPS.YEAR' | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-preposition">
          <mat-label>{{ 'QUERYBUILDER.EDIT.GROUPS.LABEL_PREPOSITION' | translate }}</mat-label>
          <mat-select [(ngModel)]="connection.atMostEarlierThanRelatedGroupTimeRelation">
            <mat-option [value]="before">{{
              'QUERYBUILDER.EDIT.GROUPS.BEFORE' | translate
            }}</mat-option>
            <mat-option [value]="after">{{
              'QUERYBUILDER.EDIT.GROUPS.AFTER' | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" class="middle-row">
        <div fxFlex="fill"></div>
        <div class="preposition">{{ 'QUERYBUILDER.EDIT.GROUPS.TILL' | translate }}</div>
        <mat-form-field appearance="outline" class="form-value">
          <mat-label>{{ 'QUERYBUILDER.EDIT.GROUPS.LABEL_VALUE' | translate }}</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="connection.atMostLaterThanRelatedGroup"
            numMatInputNumber
            [precision]="0"
            [min]="0"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-unit">
          <mat-label>{{ 'QUERYBUILDER.EDIT.GROUPS.LABEL_UNIT' | translate }}</mat-label>
          <mat-select [(ngModel)]="connection.atMostLaterThanRelatedGroupUnit">
            <mat-option [value]="day">{{ 'QUERYBUILDER.EDIT.GROUPS.DAY' | translate }}</mat-option>
            <mat-option [value]="month">{{
              'QUERYBUILDER.EDIT.GROUPS.MONTH' | translate
            }}</mat-option>
            <mat-option [value]="year">{{
              'QUERYBUILDER.EDIT.GROUPS.YEAR' | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-preposition">
          <mat-label>{{ 'QUERYBUILDER.EDIT.GROUPS.LABEL_PREPOSITION' | translate }}</mat-label>
          <mat-select [(ngModel)]="connection.atMostLaterThanRelatedGroupTimeRelation">
            <mat-option [value]="before">{{
              'QUERYBUILDER.EDIT.GROUPS.BEFORE' | translate
            }}</mat-option>
            <mat-option [value]="after">{{
              'QUERYBUILDER.EDIT.GROUPS.AFTER' | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" class="bottom-row">
        <mat-radio-group [(ngModel)]="connection.dependentGroupRestrictionType" fxLayout="row">
          <mat-radio-button [value]="restrictionTypeEver">{{
            'QUERYBUILDER.EDIT.GROUPS.OPTION_DEPENDENT_EVER' | translate
          }}</mat-radio-button>
          <mat-radio-button [value]="restrictionTypeFirst">{{
            'QUERYBUILDER.EDIT.GROUPS.OPTION_DEPENDENT_FIRST' | translate
          }}</mat-radio-button>
          <mat-radio-button [value]="restrictionTypeLatest">{{
            'QUERYBUILDER.EDIT.GROUPS.OPTION_DEPENDENT_LATEST' | translate
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
      {{ 'QUERYBUILDER.EDIT.GROUPS.GROUP_DEPENDENT_1' | translate }}
      <b>{{ this.dependentGroup.display + ' (' + this.dependentGroup.id + ')' }}</b>
      {{ 'QUERYBUILDER.EDIT.GROUPS.GROUP_DEPENDENT_2' | translate }}
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="fill"></div>
      <num-button [type]="'primary'" (click)="doSave()" class="button-save">{{
        'BUTTON.ADD' | translate
      }}</num-button>
      <num-button [type]="'primary'" (click)="doDiscard()">{{
        'BUTTON.CANCEL' | translate
      }}</num-button>
    </div>
  </mat-card-footer>
</mat-card>
