.button-upload {
  margin-right: 1em;
}

.div-import-from-file {
  margin-right: 1em;
  margin-bottom: 5em;
}

.file-input {
  display: none;
}

.file-upload-text {
  margin: 8px 5px;
}

.button-import {
  margin: 0 1em 0 2em;
}

.file-name {
  color: var(--num-color--accent-300);
  margin: 5px;
  height: 20px;
}
