<div fxLayout="row" class="div-import-from-file">
  <div fxLayout="column">
    <input type="file" class="file-input" (change)="doImportFromFile($event)" #fileUpload />
    <button class="button-upload" type="button" mat-icon-button (click)="fileUpload.click()">
      <fa-icon size="3x" icon="file-upload"></fa-icon>
    </button>
    <span>{{ 'BUTTON.IMPORT_FROM_FILE' | translate }}</span>
  </div>
  <div class="file-name">{{ fileName }}</div>
  <num-button
    [type]="'primary'"
    [isDisabled]="actionDisabled"
    (click)="!actionDisabled && doImport()"
    class="button-import"
  >
    {{ 'BUTTON.IMPORT' | translate }}
  </num-button>
</div>
