<div fxLayout="column" fxLayoutAlign="space-around start" class="maingroup">
  <div fxLayout="row" fxLayoutAlign="space-around" class="maingroup">
    <div class="alignSlider">
      <mat-slide-toggle (change)="updateContextInSQ()" [(ngModel)]="includeContext">
        {{ 'OPTIONSPAGE.CONTEXT_IN_SQ' | translate }}
      </mat-slide-toggle>
    </div>
  </div>
  <div class="maingroup">
    <div>
      <mat-checkbox
        class="example-margin"
        id="multiplevaluedefinitions"
        [checked]="featureService.useFeatureMultipleValueDefinitions()"
        (change)="setFeature($event)"
      >
        {{ 'OPTIONSPAGE.MULTIPLEVALUEDEFINITIONS' | translate }}
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox
        class="example-margin"
        id="multiplegroups"
        [checked]="featureService.useFeatureMultipleGroups()"
        (change)="setFeature($event)"
      >
        {{ 'OPTIONSPAGE.MULTIPLEGROUPS' | translate }}
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox
        class="example-margin"
        id="dependentgroups"
        [checked]="featureService.useFeatureDependentGroups()"
        (change)="setFeature($event)"
      >
        {{ 'OPTIONSPAGE.DEPENDENTGROUPS' | translate }}
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox
        class="example-margin"
        id="timerestriction"
        [checked]="featureService.useFeatureTimeRestriction()"
        (change)="setFeature($event)"
      >
        {{ 'OPTIONSPAGE.TIMERESTRICTION' | translate }}
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox
        class="example-margin"
        id="displayvaluefiltericon"
        [checked]="featureService.useFeatureShowDisplayValueFilterIcon()"
        (change)="setFeature($event)"
      >
        {{ 'OPTIONSPAGE.DISPLAYVALUEFILTERICON' | translate }}
      </mat-checkbox>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around" class="maingroup">
    <mat-form-field appearance="outline" class="pollingtime">
      <mat-label>{{ 'OPTIONSPAGE.POLLINGTIME' | translate }}</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="pollingTime"
        (ngModelChange)="setPollingTimes()"
        [min]="1"
        [max]="120"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="pollingintervall">
      <mat-label>{{ 'OPTIONSPAGE.POLLINGINTERVALL' | translate }}</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="pollingIntervall"
        (ngModelChange)="setPollingTimes()"
        [min]="1"
        [max]="120"
      />
    </mat-form-field>
  </div>
  <div class="maingroup">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'OPTIONSPAGE.FHIRPORT' | translate }}</mat-label>
      <input matInput type="text" [(ngModel)]="fhirport" (ngModelChange)="setFhirPort()" />
    </mat-form-field>
  </div>
  <div class="maingroup">
    <div>Structured Query {{ queryVersion }}</div>
    <textarea
      *ngIf="queryVersion === 'v1'"
      class="query-textfield"
      name="query-textfield"
      rows="20"
      cols="100"
      >{{ translatedQueryv1 | json }}</textarea
    >
    <textarea
      *ngIf="queryVersion === 'v2'"
      class="query-textfield"
      name="query-textfield"
      rows="20"
      cols="100"
      >{{ translatedQueryv2 | json }}</textarea
    >
  </div>
</div>
