.maingroup {
  margin-bottom: 2em;
}
.query-textfield,
#response-textfield {
  white-space: pre;
}
#postman-query-translate,
#postman-query-sync {
  white-space: nowrap;
}
.pollingtime,
.pollingintervall {
  width: 100px;
  margin-right: 2em;
}
.example-radio-button {
  margin-right: 1em;
}
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled + .mdc-radio__background .mdc-radio__inner-circle,
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked + .mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--num-color--accent-600) !important;
}
::ng-deep .mat-mdc-form-field-infix {
  padding: 1em 0;
}
::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  background-color: var(--num-color--accent-600) !important;
  border-color: black!important;
}
::ng-deep mat-checkbox label,
::ng-deep mat-radio-button label {
  font-weight: 400!important;
}
