.mat-toolbar {
  font-size: 14px;
  height: 90px;
}
.mat-toolbar-row {
  height: inherit;
}
.version-row {
  height: 32px;
  font-size: 12px;
}

.version {
  text-align: center;
}
.bmbf-logo,
.codexTheme {
  padding-top: 10px;
  max-width: 100px;
}
.codexTheme {
  margin-left: 20px;
}
.abideTheme {
  padding-left: 10px;
  max-width: 140px;
}
.bzkfTheme {
  padding-left: 10px;
  max-width: 140px;
}
.copyright {
  text-align: right;
  margin-right: 14px;
}
