<num-action-bar>
  <span *ngIf="addedToStage" class="font-added-criteria">
    {{ 'QUERYBUILDER.STAGE.MESSAGE.ADDED_CRITERIA' | translate : { number: this.preservedLength } }}
  </span>
  <button
    class="background-color-button"
    (click)="addItemsToStage(); scroll()"
    [disabled]="($listItemArray | async)?.length <= 0"
    mat-raised-button
    [matBadge]="preservedLength !== null ? preservedLength : ($listItemArray | async)?.length"
    matBadgePosition="above after"
    class="height-59"
    [color]="addedToStage ? 'green' : 'blue'"
  >
    {{
      addedToStage
        ? ('QUERYBUILDER.STAGE.BUTTON.VIEW_STAGE' | translate)
        : ('QUERYBUILDER.STAGE.BUTTON.ADD_TO_STAGE' | translate)
    }}
  </button>
  <button
    class="background-color-button"
    (click)="translate()"
    mat-raised-button
    class="height-59"
    [color]="addedToStage ? 'green' : 'blue'"
  >
    Anfrage starten
  </button>
</num-action-bar>
