.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.attribute-filter-container {
  overflow: auto;
  height: 100%;
}

::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden !important;
}

.background {
  padding: 16px;
  background-color: rgb(90, 121, 175, 0.1);
  border-radius: 4px;
  margin-bottom: 16px;
}
