<num-modal-window (saveButtonSelected)="saveCriterion()" (cancelButtonSelected)="closeDialog()">
  <div class="container">
    <num-section-name>Filter anwenden</num-section-name>
    <div class="background">
      <num-edit-time-restriction
        *ngIf="criterion.getTimeRestriction()"
        [timeRestriction]="criterion.getTimeRestriction()"
        (timeRestrictionChanged)="updateTimeRestriction($event)"
      >
      </num-edit-time-restriction>
    </div>
    <div style="display: flex; flex: 1; min-height: 0" class="background">
      <mat-tab-group>
        <div *ngFor="let attributeFilter of attributeFilters">
          <mat-tab
            class="attribute-filter-container"
            label="{{ attributeFilter.getDisplay() | displayTranslation }}"
          >
            <num-attribute-filter
              [attributeFilter]="attributeFilter"
              (attributeFilterChange)="updateAttributeFilter($event)"
            >
            </num-attribute-filter>
          </mat-tab>
        </div>
      </mat-tab-group>
    </div>
  </div>
</num-modal-window>
