<div class="container">
  <num-header [showToggle]="true">{{ 'DATASELECTION.EDITOR.HEADER' | translate }}</num-header>
  <num-header-description>
    {{ 'DATASELECTION.EDITOR.HEADER_DESCRIPTION' | translate }}
  </num-header-description>
  <num-apply-time-restriction />
  <num-section-name>
    {{ 'DATASELECTION.EDITOR.SECTION_NAME' | translate }}
  </num-section-name>
  <num-display-profiles
    class="overflow margin-bottom-3"
    [isEditable]="isEditable()"
  ></num-display-profiles>
  <num-display-action-bar></num-display-action-bar>
</div>
