<div class="container pr4">
  <num-header style="margin-top: 5px">{{ 'DATASELECTION.EDIT.HEADER' | translate }}</num-header>
  <num-header-description>{{
    'DATASELECTION.EDIT.HEADER_DESCRIPTION' | translate
  }}</num-header-description>
  <num-section-name>{{ 'DATASELECTION.EDIT.SECTION' | translate }}</num-section-name>
  <num-display-profiles [isEditable]="true"></num-display-profiles>
  <num-action-bar class="bottom">
    <num-button
      class="margin-right-10"
      [isDisabled]="($dataSelectionProfileArray | async)?.length === 0"
      type="green"
      (click)="downloadCRDTL()"
    >
      {{ 'DATASELECTION.BUTTON.DOWNLOAD' | translate }}
    </num-button>
    <num-button
      [icon]="'arrow-up'"
      class="margin-right-10"
      (click)="navigateToDataSelectionSearch()"
      type="green"
    >
      {{ 'DATASELECTION.BUTTON.JUMP_TO_DATASELECTION_TREE' | translate }}
    </num-button>
  </num-action-bar>
</div>
