ul {
  list-style-type: none;
  padding-left: 20px;
}

span:hover {
  text-decoration: underline;
}

.checkbox-placeholder {
  width: 50px;
  height: 40px;
}
.chevron {
  margin-right: 5px;
}

ul {
  list-style-type: none;
  //padding-left: 20px;
  margin: 0px;
}

li {
  padding: 5px 0;
}

.node-display-container {
  padding-right: 10px;
  padding-left: 10px;
}
.node-display-container > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.tree-node {
  margin-right: 10px;
}

.divider {
  border-bottom: 1px solid #0000001f;
  width: 100%;
}

.icon-container {
  cursor: pointer;
  background-color: #5a79af;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  font-size: small;
}
.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: #69ff40;
  --mdc-checkbox-selected-hover-icon-color: #40ffe9;
  --mdc-checkbox-selected-icon-color: #4050ff;
  --mdc-checkbox-selected-pressed-icon-color: #ffd940;
  --mdc-checkbox-unselected-focus-icon-color: #212121;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}

.tree-checkbox {
  color: black !important;
  font-size: x-large;
}

::ng-deep .mat-checkbox-ripple {
  display: none !important;
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: #ffffff;
  --mdc-checkbox-selected-hover-icon-color: var(--num-color--primary-light-green);
  --mdc-checkbox-selected-icon-color: var(--num-color--primary-green);
  --mdc-checkbox-selected-pressed-icon-color: #ffffff;
  --mdc-checkbox-unselected-focus-icon-color: #212121;
  --mdc-checkbox-unselected-hover-icon-color: var(--num-color--primary-blue);
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}

.field-description {
  color: grey;
  font-size: 13px;
  font-style: italic;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.text-oveflow {
  width: 80%;
}

.description-text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 1.5em; /* Height for one line, adjust as needed */
  transition: max-height 0.3s ease;

  &.expanded {
    white-space: normal; /* Allow text wrapping */
    overflow: visible;
    max-height: none; /* Remove height limit */
  }

  &.collapsed {
    white-space: nowrap; /* Keep text in one line when collapsed */
    max-height: 1.5em; /* Height for collapsed version */
  }
}
