<div class="container pr4">
  <div style="margin-top: 5px">
    <num-header>{{ 'DATASELECTION.SEARCH.HEADER' | translate }}</num-header>
    <num-header-description>
      {{ 'DATASELECTION.SEARCH.HEADER_INFO' | translate }}
    </num-header-description>
  </div>
  <div class="tree-container">
    <div *ngFor="let tree of trees">
      <num-tree (selectedCheckbox)="addItemsToStage($event)" [treeData]="tree"></num-tree>
    </div>
  </div>

  <num-action-bar class="bottom">
    <num-button
      [isDisabled]="($dataSelectionProfileTreeNodeArray | async)?.length === 0"
      class="margin-right-20"
      type="green"
      (click)="getDataSelectionProfileData()"
      [matBadge]="($dataSelectionProfileTreeNodeArray | async)?.length"
      matBadgePosition="above after"
    >
      {{ 'DATASELECTION.SEARCH.ACTION_BAR.ADD' | translate }}
    </num-button>
    <num-button
      [isDisabled]="($dataSelectionProfileArray | async)?.length === 0"
      [icon]="'arrow-down'"
      class="margin-right-10"
      (click)="navigateToDataSelectionEditor()"
      type="green"
      [matBadge]="($dataSelectionProfileArray | async)?.length"
      matBadgePosition="above after"
    >
      {{ 'DATASELECTION.SEARCH.ACTION_BAR.JUMP_TO_DATASELECTION' | translate }}
    </num-button>
  </num-action-bar>
</div>
