<div
  class="container-bool-logic"
  [ngClass]="{
    'container-bool-logic-inner': position === 'inner',
    'container-bool-logic-outer': position === 'outer'
  }"
>
  <mat-chip-option (click)="switch()">
    <span [ngClass]="{ 'container-bool-logic-inner-margin': position === 'inner' }">
      <fa-icon icon="circle" *ngIf="position === 'inner'"></fa-icon>
      {{ getLabelKey() | translate }}
      <fa-icon icon="circle" *ngIf="position === 'outer'"></fa-icon>
    </span>
  </mat-chip-option>
</div>
