.container-bool-logic-outer {
  padding: 0.1em 0;
}

.container-bool-logic-inner {
  height: 0;
  position: relative;
  top: -0.8em;
  left: 10px;
}

.container-bool-logic-inner-margin {
  background-color: white;
  padding: 0 0.3em 0 0;
  border-radius: 1em;
}

.mat-mdc-standard-chip {
  cursor: pointer;
  border-radius: 1em;
  border: 1px solid black;
  padding: 1px 4px;
  vertical-align: middle;
  user-select: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
mat-chip {
  cursor: pointer;
}

::ng-deep .container-bool-logic-outer .mat-mdc-chip.mat-mdc-standard-chip {
  background-color: transparent;
  padding-left: 6px;
}

::ng-deep .container-bool-logic-inner .mat-mdc-chip.mat-mdc-standard-chip {
  background-color: white;
  border-radius: 1em;
}
