.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.flex-grow {
  flex: 0 0 auto; /* don’t grow, don’t shrink, size to content */
}

/* When the form is 400px or less */
@media (max-width: 50%) {
  .criteria-container {
    flex-wrap: nowrap; /* disable wrapping */
    overflow-x: auto; /* allow horizontal scroll if needed */
  }
}

.no-selected-criteria {
  width: 100%;
  height: 96px;
  border: 2px dotted rgba(90, 121, 175, 1);
  border-radius: 4px;
  font-weight: 400;
  font-size: large;
  color: rgba(90, 121, 175, 1);
  align-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
