.criteria-container {
  width: 100%;
  height: 100%;
}

.example-boundary {
  width: 400px;
  height: 400px;
  max-width: 100%;
  border: dotted #ccc 2px;
}

#Stage {
  padding-bottom: 16px;
}

.no-selected-criteria {
  width: 100%;
  height: 96px;
  border: 2px dotted rgba(90, 121, 175, 1);
  border-radius: 4px;
  font-weight: 400;
  font-size: large;
  color: rgba(90, 121, 175, 1);
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.pr4 {
  padding-right: 4rem;
}
