<num-action-bar class="bottom">
  <num-button (click)="createNewCohort()" type="green">
    {{ 'DATAQUERY.COHORT.BUTTON.NEW_COHORT' | translate }}
  </num-button>
  <num-button
    [isDisabled]="(isFeasibilityExistent | async) === false"
    type="green"
    (click)="editFeasibilityQuery()"
  >
    {{ 'DATAQUERY.COHORT.BUTTON.EDIT' | translate }}
  </num-button>
  <div>
    <input
      [attr.data-cy]="'upload-ccdl'"
      type="file"
      class="file-input"
      (change)="uploadCCDL($event)"
      #fileUpload
    />
    <num-button type="green" (click)="fileUpload.click()">
      {{ 'DATAQUERY.DATASELECTION.BUTTON.UPLOAD' | translate }}
    </num-button>
  </div>
  <num-button
    type="green"
    [isDisabled]="(isFeasibilityQueryValid | async) === false"
    (click)="downloadCRDTL()"
  >
    {{ 'DATAQUERY.DATASELECTION.BUTTON.DOWNLOAD' | translate }}
  </num-button>
  <num-button
    type="green"
    [isDisabled]="(isFeasibilityQueryValid | async) === false"
    (click)="sendQuery()"
  >
    {{ 'DATAQUERY.COHORT.BUTTON.SEND_QUERY' | translate }}
  </num-button>
  <num-button [icon]="'arrow-down'" (click)="navigatToDataQueryDataSelection()" type="green">
    {{ 'DATAQUERY.COHORT.BUTTON.JUMP_TO_DATASELECTION' | translate }}
  </num-button>
</num-action-bar>
