<mat-tab-group
  animationDuration="0ms"
  class="inner-tab-group"
  disableRipple="true"
  mat-stretch-tabs="false"
>
  <mat-tab
    *ngIf="profileTokenFilter"
    label="{{ 'EDITOR.CONTENT.PROFILE.FILTER.TAB_LABEL.FILTER' | translate }}"
  >
    <ng-template matTabContent>
      <num-token-filter
        [tokenFilter]="profileTokenFilter"
        (tokenFilterChanged)="updateProfileTokenFilter($event)"
      ></num-token-filter>
    </ng-template>
  </mat-tab>

  <mat-tab
    *ngIf="profileTimeFilters.length > 0"
    label="{{ 'EDITOR.CONTENT.PROFILE.FILTER.TAB_LABEL.TIMERESTRICTION' | translate }}"
  >
    <ng-template matTabContent>
      <div *ngFor="let profileTimeFilter of profileTimeFilters">
        <num-profile-time-filter
          [profileTimeRestrictionFilter]="profileTimeFilter"
          (changedProfileTimeRestrictionFilter)="updateProfileTimeRestrictionFilter($event)"
        ></num-profile-time-filter>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
