.checkbox-part {
  padding: 0 0.5em 0 0;
}

.code-part {
  min-width: 6em;
  padding: 0 0.5em;
}

.display-part {
  padding: 6px 0.5em 0 0.5em;
}

.container {
  margin: 0.5em 0;
  cursor: pointer;
}
::ng-deep num-search-tree-term-entry .mdc-checkbox {
  padding: 5px !important;
}
::ng-deep num-search-tree-term-entry .mdc-checkbox__background {
  top: 0 !important;
  left: 5px !important;
}
::ng-deep
  num-search-tree-term-entry
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  background-color: var(--num-color--accent-600) !important;
  border-color: black !important;
}
