<div *ngIf="node.selectable" class="container">
  <div fxLayout="row" fxLayoutAlign="space-between top">
    <div class="checkbox-part">
      <mat-checkbox [(ngModel)]="node.selected"></mat-checkbox>
    </div>
    <!--<div class="code-part">
      {{ node.termCode.code }}
    </div>-->
    <div matTreeNodeToggle (click)="toggleTreeNode()" class="display-part">
      {{ node.display }}
    </div>
  </div>
</div>

<div matTreeNodeToggle *ngIf="!node.selectable" (click)="toggleTreeNode()" class="container">
  {{ node.display }}
</div>
