<form fxLayout="column" fxFlex="100%" [formGroup]="searchForm">
  <mat-form-field color="accent" class="fdpg-input">
    <input
      formControlName="query"
      matInput
      placeholder="{{ label | translate }}"
      aria-labelledby="title-label"
      class="el-input__inner"
    />
    <mat-label>{{ label | translate }}</mat-label>
    <fa-icon
      matSuffix
      class="fa-icon"
      [icon]="!searchForm.value.query ? 'search' : 'times-circle'"
      [ngClass]="{ 'fa-icon--pointable': searchForm.value.query }"
      size="lg"
      [fixedWidth]="true"
      (click)="clearInput()"
    ></fa-icon>
  </mat-form-field>
</form>
