.fdpg-input {
  &.el-input--small {
    .el-input__inner {
      height: 40px;
      background-color: #eff2f7; // $gray-100
      font-size: 16px;

      &:focus {
        border: 2px solid #5a79ae; // $blue
        padding: 0 18px;
        font-weight: 500;
        transition-property: border-color;
      }
    }

    .el-textarea__inner {
      height: 40px;
      background-color: #eff2f7; // $gray-100
      font-size: 16px;

      &:focus {
        border: 2px solid #5a79ae; // $blue
        font-weight: 500;
        transition-property: border-color;
      }
    }
  }

  .el-input__inner {
    height: 59px;
    color: #333333; // $black
    padding: 0 11px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Titillium Web', serif;
    border: 1px solid #c3c7ce; // $gray-700

    &:focus {
      padding: 0 10px;
      font-weight: 600;
      border-width: 2px;
      border-color: #5a79ae; // $blue
      background-color: #eff2f7; // $gray-100
      box-shadow: 0 0 10px -5px #5a79ae; // $blue
      transition: 1s;
      transition-property: background-color;
    }
  }

  .el-textarea__inner {
    min-height: 59px !important;
    color: #333333; // $black
    padding: 14px 11px;
    font-size: 18px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    font-family: 'Titillium Web', serif;
    border: 1px solid #c3c7ce; // $gray-700

    &:focus {
      padding: 13px 10px;
      font-weight: 600;
      border-width: 2px;
      border-color: #5a79ae; // $blue
      background-color: #eff2f7; // $gray-100
      box-shadow: 0 0 10px -5px #5a79ae; // $blue
      transition: 1s;
      transition-property: background-color;
    }
  }
}
