.container {
  width: 70vw;
  min-height: 12em;
  background-color: white;
  max-width: 1200px;
  box-shadow: 0px 11px 15px -4px rgba(0, 0, 0, 0.2), 0px 24px 38px 5px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.ontology-tree {
  max-height: 50vh;
  overflow-y: auto;
  height: 35vh;
}

.ontology-tree ul,
.ontology-tree li {
  width: 100%;
  margin: 0;
  list-style-type: none;
}

.ontology-tree-invisible {
  display: none;
}

.mat-tree {
  margin: 1em;
}
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-mdc-icon-button.mat-button-disabled {
  width: 11px;
}
.mat-tree-node,
.mat-nested-tree-node {
  font-weight: 400;
}
