<div cdkDropListGroup fxFlexFill>
  <div>
    <p style="font-size: xx-large">Criteria</p>
    <p style="width: 30%; color: #c5cacf">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus
    </p>
    <br />
    <p class="header-title">Ausgewählte Kriterien</p>
  </div>
  <div
    id="Stage"
    cdkDropList
    numAppDropGroup
    fxLayout="row wrap"
    fxLayoutAlign="start"
    class="criteria-container"
  >
    <div *ngFor="let criterion of $criteriaArray | async" class="criteria-box">
      <num-criteria-box [criterion]="criterion"></num-criteria-box>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      *ngIf="($criteriaArray | async).length === 0"
      class="no-selected-criteria"
    >
      Keine Kriterien in der Auswahl
    </div>
  </div>
  <num-display-criteria-group [isEditable]="true" style="height: 400px">
  </num-display-criteria-group>
</div>
