<div class="container" *ngIf="quantityFilter">
  <mat-expansion-panel togglePosition="before" [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'QUERYBUILDER.EDIT.VALUE' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="start center">
      <num-quantity-comparision-select
        [existingOption]="quantityFilter.getComparator()"
        (selectedOption)="setSelectedQuantityFilterOption($event)"
      ></num-quantity-comparision-select>
      <ng-container *ngIf="selectedQuantityFilterOption === QuantityComparisonOption.BETWEEN">
        <num-quantity-range
          (quantityValues)="setSelectedQuantityValues($event)"
        ></num-quantity-range>
      </ng-container>
      <ng-container
        *ngIf="
          selectedQuantityFilterOption !== QuantityComparisonOption.BETWEEN &&
          selectedQuantityFilterOption !== QuantityComparisonOption.NONE
        "
      >
        <num-quantity-comparator
          [value]="quantityComparatorFilter?.getValue()"
          (quantityValue)="setSelectedQuantityValue($event)"
        >
        </num-quantity-comparator>
      </ng-container>
      <num-allowed-units
        *ngIf="selectedQuantityFilterOption !== QuantityComparisonOption.NONE"
        [selectedUnit]="quantityFilter.getSelectedUnit()"
        [allowedUnits]="quantityFilter.getAllowedUnits()"
        (selectionChange)="setSelectQuantityFilterUnit($event)"
      >
      </num-allowed-units>
    </div>
  </mat-expansion-panel>
</div>
