.loader-container {
  position: relative;
  width: 80px;
  height: 80px;
}

.loader {
  width: 80px;
  height: 80px;
  position: relative;
  animation: rotate 2.5s infinite linear; /* Makes the dots rotate */
}

.dot {
  width: 10.5px; /* Size of the dots */
  height: 10.5px;
  background-color: #4c82c0;
  border-radius: 50%;
  position: absolute;
  animation: changeColor 2s infinite linear;
}

.dot:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) translate(30px) rotate(0deg);
}
.dot:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) translate(30px) rotate(-45deg);
}
.dot:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg) translate(30px) rotate(-90deg);
}
.dot:nth-child(4) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg) translate(30px) rotate(-135deg);
}
.dot:nth-child(5) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg) translate(30px) rotate(-180deg);
}
.dot:nth-child(6) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(225deg) translate(30px) rotate(-225deg);
}
.dot:nth-child(7) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg) translate(30px) rotate(-270deg);
}
.dot:nth-child(8) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg) translate(30px) rotate(-315deg);
}

/* Rotating the whole loader */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animation for the rotating dots */
@keyframes changeColor {
  0% {
    background-color: #4c82c0;
  }
  12.5% {
    background-color: #7ab8e6;
  }
  25% {
    background-color: #b2c15c;
  }
  37.5% {
    background-color: #f5e04a;
  }
  50% {
    background-color: #f5b04a;
  }
  62.5% {
    background-color: #e07e2b;
  }
  75% {
    background-color: #b24c4c;
  }
  87.5% {
    background-color: #7a4c82;
  }
  100% {
    background-color: #4c82c0;
  }
}

/* Center the text in the middle of the loader without spinning */
.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000;
  font-weight: bold;
  z-index: 1; /* Ensure the text is on top of the dots */
}
